@model List<Coupon>
@{
    ViewData["Title"] = "List af Coupons";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="https://static.nykant.dk/css/my-list.min.css" />

<div class="my-row top-padding bottom-padding">
    <div class="col-8 center" id="couponlist">
        <partial name="_CouponListPartial" />
    </div>
</div>
