
@model CheckoutVM



@*<div class="my-row bottom-side-padding">*@
    <div class="hide-overflow col-8 left">
        <div class="checkout-header" id="payment-header">
            <h1>"Betalingsmetode</h1>
        </div>



        <form id="payment-form">
            @Html.AntiForgeryToken()
            <div class="checkout-wrap" id="payment-wrap">

                <div class="payment-options" id="payment-options">
                    <ul id="payment-options-list">
                        <li data-paymentoption="card">
                            <p>Kort</p>  
                            <div class="credit-card-logos vertical-center">
                                <img class="center" alt="Credit Card Logos" title="Credit Card Logos" src="https://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_6.gif" width="67" height="42" border="0" />
                                <img class="center" alt="Credit Card Logos" title="Credit Card Logos" src="http://www.credit-card-logos.com/images/american_express_credit-card-logos/american_express_logo_9.gif" width="67" height="42" border="0" />
                                <img class="center" alt="Credit Card Logos" title="Credit Card Logos" src="http://www.credit-card-logos.com/images/mastercard_credit-card-logos/mastercard_logo_5.gif" width="67" height="42" border="0" /> 
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="payment-card-option">
                    <button class="back-button" id="back-button">
                        <img class="small-svg" src="~/lib/svg/arrow-left.svg" />
                    </button>
                    <div class="payment-card-list">
                        <div class="center">
                            <img class="center" alt="Credit Card Logos" title="Credit Card Logos" src="https://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_6.gif" width="67" height="42" border="0" />
                            <img class="center" alt="Credit Card Logos" title="Credit Card Logos" src="http://www.credit-card-logos.com/images/american_express_credit-card-logos/american_express_logo_9.gif" width="67" height="42" border="0" />
                            <img class="center" alt="Credit Card Logos" title="Credit Card Logos" src="http://www.credit-card-logos.com/images/mastercard_credit-card-logos/mastercard_logo_5.gif" width="67" height="42" border="0" />
                        </div>
                        
                    </div>
                    <div class="payment-elements">
                        <div class="payment-elements-thing" id="payment-elements-thing">
                            <div class="card-element" id="card-element-number"><!--Stripe.js injects the Card Element--></div>
                            <div class="margin-top-20 card-element" id="card-element-expiry"><!--Stripe.js injects the Card Element--></div>
                            <div class="margin-top-20 card-element" id="card-element-cvc"><!--Stripe.js injects the Card Element--></div>
                        </div>
                    </div>
                    <div class="col-12 left">
                        <div class="gdpr-accept">
                            <label class="checkbox">
                                <input id="terms-and-conditions-consent" value="false" type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <span class="checkbox-validation" id="terms-and-conditions-validation">Du skal skrive under før du må fortsætte.</span>
                            <p>
                                for at færdiggøre ordren, skal du skrive under på at du har læst og accepterer vores
                                <a class="simple-link" asp-controller="Home" asp-action="TermsAndConditions">Handelsbetingelser</a> ved at klikke i tjek-boksen.
                            </p>
                            @*@localizer["Signature required"]*@
                        </div>
                    </div>
                </div>

                <div class="col-12 left hidden" id="payment-error">
                    <div class="payment-error">
                        <p id="card-error" role="alert"></p>
                        <p class="result-message hidden">
                            Payment succeeded, see the result in your
                            <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                        </p>
                    </div>
                </div>

                <div class="col-12 right">
                    <button class="button" id="submit-payment" disabled>
                        <div id="paymentspinner" class="hidden">
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        </div>
                        <span id="button-text">Betal</span>
                    </button>
                </div>

            </div>
        </form>


        @*<div class="col-8 left right-side-padding top-side-padding">
            <div class="padding">
                <h1>TEST CARDS</h1>
                <div class="header">
                    <p>without 2D authentication:</p>
                    <p>4242 4242 4242 4242</p>
                    <p>expiration date and cvc can be anything</p>
                </div>
                <div class="header">
                    <p>with 2D authentication:</p>
                    <p>4000 0025 0000 3155</p>
                    <p>expiration date and cvc can be anything</p>
                </div>
                <div class="header">
                    <p>always fail payment:</p>
                    <p>4000 0000 0000 9995</p>
                    <p>expiration date and cvc can be anything</p>
                </div>
            </div>*@
    </div>
@*</div>*@


