@model CheckoutVM
@inject IConfiguration conf

@{
    ViewData["Title"] = "Kassen";
    ViewData["Description"] = "";

    string url = @conf.GetSection("Urls")["Mvc"];

    int stage = 0;
    if (Model.Checkout.Stage == Stage.customerInf)
    {
        stage = (int)Stage.customerInf;
    }
    else if (Model.Checkout.Stage == Stage.payment)
    {
        stage = (int)Stage.payment;
    }

}

<input hidden id="stripe-key" data-stripePKKey="@ViewBag.StripePKKey" />

<link rel="stylesheet" href="https://static.nykant.dk/css/checkout-bundle.min.css" />

<input type="hidden" data-url="@url" id="stage" data-stage="@stage" />

<div class="modal" id="checkout-modal">
    <div class="error-thing" id="checkout-error">
    </div>
</div>


<div class="my-row bottom-padding top-padding">
    <div class="responsive-container">

        <partial name="_CheckoutBagPartial" />

        <input type="hidden" id="customer-form-complete" value="0" />
        <partial name="_CustomerPartial" />

        <partial name="_PaymentPartial" />

        <partial name="_CheckoutBagMobilePartial" />

    </div>
</div>

@section scripts {
    <script src="https://static.nykant.dk/JS/checkout.min.js"></script>
    <script src="https://static.nykant.dk/JS/country-picker.min.js"></script>
        <script src="~/stripe/client.js"></script>
}




@*<script async src="~/JS/checkout-sandbox.js"></script>*@

