@model CheckoutVM
@inject IConfiguration conf

@{
    ViewData["Title"] = "Kassen";
    ViewData["Description"] = "";

    string url = @conf.GetSection("Urls")["Mvc"];

    int stage = 0;
    if (Model.Checkout.Stage == Stage.customerInf)
    {
        stage = (int)Stage.customerInf;
    }
    else if (Model.Checkout.Stage == Stage.payment)
    {
        stage = (int)Stage.payment;
    }

}

<input hidden id="stripe-key" data-stripePKKey="@ViewBag.StripePKKey" />

<link rel="stylesheet" href="~/stripe/stripe.css" />
<link rel="stylesheet" href="~/css/checkout.css" />
<link rel="stylesheet" href="~/css/custom-input.css" />
<link rel="stylesheet" href="~/css/custom-checkbox.css" />

<input type="hidden" data-url="@url" id="stage" data-stage="@stage" />

<div class="modal" id="checkout-modal">
    <div class="error-thing" id="checkout-error">
    </div>
</div>


<div class="my-row bottom-padding top-padding">
    <div class="responsive-container">

        <partial name="_CheckoutBagPartial" />

        <input type="hidden" id="customer-form-complete" value="0" />
        <partial name="_CustomerPartial" />

        <partial name="_PaymentPartial" />

        <partial name="_CheckoutBagMobilePartial" />

    </div>
</div>




<script src="~/JS/checkout.js?2"></script>
<script src="~/JS/country-picker.js"></script>
<script src="~/stripe/client.js?2"></script>
@*<script async src="~/JS/checkout-sandbox.js"></script>*@

<script>
    gtag('event', 'checkout-entry');
</script>