@model Checkout

@{
    ViewData["Title"] = "Payment";
}

<link rel="stylesheet" href="~/css/Stripe/stripe.css" />
<script src="https://js.stripe.com/v3/"></script>
<script src="~/JS/Stripe/client.js" defer></script>

<div class="row bottom-side-padding fadein">
    <div class="col-8 center top-padding ">
        <div class="col-8 left right-side-padding">
            <div class="breadcrumbs dark-card">
                <a asp-controller="Bag" asp-action="Details">SHIPPING BAG</a>  >
                <form asp-controller="Checkout" asp-action="CustomerInfoCrumb" method="get">
                    <button type="submit">CUSTOMER INFO</button> >
                </form>
                <form asp-controller="Checkout" asp-action="ShippingCrumb" method="get">
                    <button type="submit">SHIPPING</button> >
                </form>
                <a class="current">PAYMENT</a>
            </div>
        </div>

        <div class="col-4 right fadein ">
            <div class="sidebar dark-card">
                <div class="header">
                    <h1>Bag</h1>
                </div>
                <div class="sidebar-items">
                    @foreach (var item in Model.BagItems)
                    {
                        <div class="sidebar-item">
                            <img src="~/images/gyngestol.jpg" />
                            <p>@item.Product.Title</p>
                            <p>@item.Quantity stk.</p>
                        </div>
                    }
                    <div class="checkout-price">
                        <p><span>shipping:</span> price</p>
                        <p><span>taxes:</span> price</p>
                        <p><span>total:</span> @Model.TotalPrice</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8 center">
        <div class="col-8 left right-side-padding top-side-padding">
            <div class="payment dark-card">
                <form id="payment-form">
                    <div id="card-element-number"><!--Stripe.js injects the Card Element--></div>
                    <div id="card-element-expiry"><!--Stripe.js injects the Card Element--></div>
                    <div id="card-element-cvc"><!--Stripe.js injects the Card Element--></div>
                    <button class="button" id="submit">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Pay</span>
                    </button>
                    <p id="card-error" role="alert"></p>
                    <p class="result-message hidden">
                        Payment succeeded, see the result in your
                        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                    </p>
                </form>
            </div>
        </div>

        <div class="col-8 left right-side-padding top-side-padding">
            <div class="padding dark-card">
                <h1>TEST CARDS</h1>
                <div class="header">
                    <p>without 2D authentication:</p>
                    <p>4242 4242 4242 4242</p>
                    <p>expiration date and cvc can be anything</p>
                </div>
                <div class="header">
                    <p>with 2D authentication:</p>
                    <p>4000 0025 0000 3155</p>
                    <p>expiration date and cvc can be anything</p>
                </div>
                <div class="header">
                    <p>always fail payment:</p>
                    <p>4000 0000 0000 9995</p>
                    <p>expiration date and cvc can be anything</p>
                </div>
            </div>
        </div>
    </div>
</div>