<div class="row top-padding bottom-side-padding">
    <div class="col-6 center padding dark-card">
        <div class="header">
            PAYMENT SUCCEEDED FOR: 
            @ViewBag.Email
        </div>
    </div>
</div>

