@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Success";
    ViewData["Description"] = "";
}

<div class="row top-padding bottom-side-padding">
    <div class="col-6 center">
        <div class="info padding">
            @localizer["Info"]
        </div>
    </div>

</div>