<div class="row top-padding bottom-side-padding">
    <div class="col-6 center">
        <div class="info padding">
            <p>En email med din ordre er blevet sendt til dig. <br /> hvis ikke du har modtaget en email med din ordre inden for få minutter, skal du kontakte os på | mail@nykant.dk |</p>
        </div>
    </div>

</div>