@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Success";
    ViewData["Description"] = "";
}

<div class="row padding-50">
    <div class="col-6 center">
        <div class="header">
            Betaling Gennemført
        </div>
        @localizer["Info"]
    </div>
</div>