@model Product

<div id="bagitem-added" class="centered">
    <div id="bagitem-added-close">
        <i class="fas fa-times"></i>
    </div>

    @if (ViewBag.ProductQuantity != null)
    {
        <p>Produkt tilføjet til din kurv</p>
        <div class="bagitem-added-product">
            <div class="bag-item-img">
                <img src="../@Model.GalleryImage1" />
            </div>
            <p class="width-70">(@ViewBag.ProductQuantity) @Model.Name</p>
            <p class="width-20">kr. @(Model.Price * ViewBag.ProductQuantity)</p>
        </div>
    }

    <a asp-controller="Bag" asp-action="Details">
        <div class="button">
            Gå til kurven
        </div>
    </a>
</div>

<script async src="~/JS/bagItemAdded.js"></script>