@model Product

@{
    ViewData["Title"] = "Edit Product";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="~/css/my-form.css" />

<div class="my-row top-padding bottom-padding" id="edit-form-container">
    <partial name="_EditFormPartial" />
</div>
