 @model GalleryVM
@{
    ViewData["Title"] = "Egetræ møbler | Køb minimalistiske møbler i massivt egetræ";
    ViewData["Description"] = "Møbler fra Nykant er udført i massivt egetræ og inspireret af dansk design. Du finder smukke bænke, borde, tøjstativer m.m. i bæredygtige materialer. Køb her!";
}

<div class="my-row">
    <div class="col-6 center col-wrapper">
        <div class="filter">
            @foreach (var category in Model.Categories)
            {
                <div class="category">
                    <a method="get" asp-action="CategoryView" asp-controller="Product" asp-route-category="@category.Name">@category.Name</a>
                </div>
                @*<form class="filter-form" asp-controller="Product" asp-action="Filter" method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#product-list" data-ajax-complete="filtercomplete" data-ajax-begin="noop" data-ajax-failure="noop" data-ajax-success="noop">
                    @Html.AntiForgeryToken()
                    <div class="category">
                        <input type="submit" name="categoryName" value="@category.Name" />
                    </div>
                </form>*@
            }
        </div>
    </div>
</div>
<div class="my-row fullscreen-row">
    <div class="col-10 center col-wrapper top-side-padding">
        <div id="product-list">
            <partial name="_ProductListPartial">
        </div>
    </div>
</div>

@*<script src="~/JS/image-changer.js"></script>*@
<script src="~/JS/products.js"></script>


























































