@model List<Product>
@{
    ViewData["Title"] = "Nykants Produkter - Massive Egetræsmøbler";
    ViewData["Description"] = "Massive egetræsmøbler behandlet med forskellige olier, inspireret af dansk design.";
}

<script src="~/JS/products.js" defer></script>

<div class="my-row">
    <div class="col-6 center col-wrapper">
        <div class="filter">
            @foreach (var category in ViewBag.Categories)
            {
                <form class="filter-form" asp-controller="Product" asp-action="Filter" method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#product-list" data-ajax-complete="filtercomplete" data-ajax-begin="noop" data-ajax-failure="noop" data-ajax-success="noop">
                    <div class="category">
                        <input type="submit" name="categoryName" value="@category.Name" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<div class="my-row fullscreen-row">
    <div class="col-10 center col-wrapper top-side-padding">
        <div id="product-list">
            <partial name="_ProductListPartial">
        </div>
    </div>
</div>



































































