/* Variables */



/*form {
    width: 30vw;
    min-width: 500px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
}*/

.cardinfo-line {
    padding-bottom: 50px;
}

.payment-elements {
    width:100%;
    height: auto;
    background-color: white;
}

.payment-elements-thing {
    width:50%;
    margin-left:25%;
}

.payment-invalid {
    border: 2px solid black;
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.payment-complete {
    border: 2px solid black;
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
}


.payment-error{
    padding:30px;
    padding-top:0px;
    background-color:white;
}
    .payment-error p {
        color: var(--red);
    }


.result-message {
    line-height: 22px;
    font-size: 20px;
    color: white;
}

    .result-message a {
        font-weight: 600;
        text-decoration: none;
    }

#card-error {
    color: var(--red);
    text-align: center;
    font-size: 20px;
}



@media only screen and (max-width: 600px) {

    .payment-elements-thing {
        width: 80%;
        margin-left: 10%;
    }

}

@media only screen and (min-width: 600px) {
    .payment-elements-thing {
        width: 50%;
        margin-left: 25%;
    }

}

@media only screen and (min-width: 768px) {
    .payment-elements-thing {
        width: 50%;
        margin-left: 25%;
    }

}

@media only screen and (min-width: 992px) {
    .payment-elements-thing {
        width: 50%;
        margin-left: 25%;
    }

}

@media only screen and (min-width: 1200px) {
    .payment-elements-thing {
        width: 50%;
        margin-left: 25%;
    }
}

@media only screen and (min-width: 1500px) {
    .payment-elements-thing {
        width: 50%;
        margin-left: 25%;
    }
}