<!DOCTYPE html>
<html lang="da">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nykant</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/stil.css" />
    <link rel="stylesheet" href="~/css/filter.css" />
    <link rel="stylesheet" href="~/css/filter-changes.css" />
    <link rel="stylesheet" href="~/css/downarrow.css" />
    <link rel="stylesheet" href="~/css/kant.css" />
</head>

<body>

    <div class="row">
        <div class="col-12 navbar">
            <div class="navbar-wrap highlightTextIn highlightTextOut">
                <a alt="NYKANT" asp-controller="Home" asp-action="Index"><span style="color:#eaeaea">N</span>YKANT</a>
                <a alt="HJEM" asp-controller="Home" asp-action="Index">HJEM</a>
                <a alt="PRODUKTER" asp-controller="Product" asp-action="Index">PRODUKTER</a>
                <a alt="KONTAKT" asp-controller="Contact" asp-action="Index">KONTAKT</a>
                <a alt="KURV" asp-controller="Order" asp-action="Index">KURV</a>
            </div>
            @*<partial name="_LoginPartial" />*@
        </div>
    </div>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2020 - Nykant - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/JS/slidedetails.js"></script>
    <script src="~/JS/counter.js"></script>
    <script src="~/JS/image-changer.js"></script>
    <script src="~/JS/jquery-2.1.1.js"></script>
    <script src="~/JS/jquery.mixitup.min.js"></script>
    <script src="~/JS/modernizr.js"></script>
    <script src="~/JS/main.js"></script> <!-- Resource jQuery -->
    <script src="~/JS/slideintext.js"></script>
    <script src="~/JS/downarrowstop.js"></script>
    <script src="~/JS/slideshow.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
