@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (true)
{
    <partial name="_PrivacySettingsPartial" />
    <div id="cookieConsent" class="cookie-consent" role="alert">
        <p>
            By clicking “Allow All”, you agree to the storing of cookies on your device to enhance site
            navigation, analyze site usage, and assist in our marketing efforts.
        </p>
        <a asp-controller="Privacy" asp-action="Index">Learn More</a>
        <button type="button" class="consent-button" id="settings-button">
            Instillinger
        </button>
        <button type="button" class="consent-button" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            Accepter alle cookies
        </button>
    </div>

    <script src="~/JS/privacy.js"></script>
}