@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <partial name="_CookieSettingsPartial" />
    <script src="~/JS/privacy.js" defer></script>
    <div class="modal" id="cookie-modal">
        <div id="cookie-consent" class="cookie-consent" role="alert">
            <p>
                By clicking “Allow All”, you agree to the storing of cookies on your device to enhance site
                navigation, analyze site usage, and assist in our marketing efforts.
            </p>
            <a asp-controller="Privacy" asp-action="Index">Learn More</a>
            <button type="button" class="settings-button" id="open-privacy2">
                Instillinger
            </button>
            <button type="button" class="consent-button" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                Accepter alle cookies
            </button>
        </div>
    </div>

}

