@using NykantMVC.Extensions;
@{
    ViewBag.ShowBanner = true;
    var consent = Context.Session.Get<Consent>("verysecretseriousconsentsessionkeyspecial");
    if (consent != null)
    {
        ViewBag.ShowBanner = consent.ShowBanner;
    }
}

@if (ViewBag.ShowBanner)
{
    <script src="~/JS/consent.js" defer></script>

    <div id="cookie-consent" class="cookie-consent" role="alert">
        <div class="header" style="margin-bottom:10px;">
            Cookie Samtykke
        </div>
        <div class="col-6 left">

            <div style="padding-bottom:10px;">
                <p>
                    Ved at klikke <span style="font-weight:bold;">accepter alle cookies</span> giver du dit samtykke på at vi må bruge alle vores cookies i din browser.
                </p>
            </div>
            <div>
                <a class="simple-link" asp-controller="Nykant" asp-action="cookiepolicy">her kan du læse mere om vores cookies</a>
            </div>
        </div>

        <div class="col-6 right">
            <div class="col-4 left" style="padding:5px;">
                <button type="button" class="button" id="open-privacy2">
                    Instillinger
                </button>
            </div>

            <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#cookie-settings-partial" data-ajax-success="consent_updated" asp-controller="Nykant" asp-action="OnlyEssentialConsent" style="padding:5px;" class="col-4 left">
                <button type="submit" class="button">
                    Kun essentielle cookies
                </button>
            </form>

            <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#cookie-settings-partial" data-ajax-success="consent_updated" asp-controller="Nykant" asp-action="AllowAllConsent" style="padding:5px;" class="col-4 left">
                <button type="submit" class="green-button">
                    Accepter alle cookies
                </button>
            </form>
        </div>
    </div>
}

