@using NykantMVC.Extensions;
@{
    ViewBag.ShowBanner = true;
    ViewBag.OnlyEssential = true;
    ViewBag.Functional = false;
    var consent = Context.Session.Get<Consent>("verysecretseriousconsentsessionkeyspecial");
    if (consent != null)
    {
        ViewBag.ShowBanner = consent.ShowBanner;
        ViewBag.OnlyEssential = consent.OnlyEssential;
        ViewBag.Functional = consent.Functional;
    }
}

<script src="~/JS/consent-settings.js" defer></script>
<script src="~/JS/collapsible.js" defer></script>

<div class="privacy-settings" id="privacy-settings">
    <div class="mini-row">
        <h1>Instillinger</h1>
        <button class="close-button" id="close-button">
            <i id="arrow-icon" class="fas fa-arrow-left"></i>
        </button>
    </div>

    <h3>Her kan du vælge specifikke cookies til og fra</h3>
    <p>Hvis du vil vide nærmere hvad vi gemmer, og hvornår: </p> <a class="simple-link" asp-controller="Nykant" asp-action="PrivacyPolicy">Tryk her</a>

    <div class="settings">
        <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#cookie-settings-partial" data-ajax-success="consent_settings_updated" asp-controller="Nykant" asp-action="UpdateConsent">
            <h2>Cookie Preferencer</h2>
            <div class="collapsible">

                <button type="button" class="collapsible-button">Essentielle Cookies <span style="float:right; color:green">altid aktive</span></button>
                <div class="collapsible-content">
                    <h3>
                        Essentielle cookies er essentielle for, at hjemmesiden kan fungere korrekt.
                    </h3>
                    <p>
                        Dem kan du ikke fravælge på vores hjemmeside, men hvis du ønsker at fravælge dem alligevel,
                        kan du læse mere om hvordan man gør det i vores <a class="simple-link" asp-controller="Nykant" asp-action="cookiepolicy">Cookie politik</a>
                    </p>

                    <h3>
                        Vores essentielle cookies:
                    </h3>
                    <p>
                        gemmer produkter i kurven,
                    </p>
                    <p>
                        giver en god checkout oplevelse,
                    </p>
                    <p>
                        gemmer dit samtykke på cookie preferencer.
                    </p>
                </div>
            </div>
            <div class="collapsible top-side-padding">

                <label class="switch">
                    @{
                        if (ViewBag.Functional)
                        {
                            <input id="settings-input" name="functionalCookies" value="1" class="settings-input" type="checkbox" checked>
                        }
                        else
                        {
                            <input id="settings-input" name="functionalCookies" value="0" class="settings-input" type="checkbox">
                        }
                    }
                    <span class="slider round"></span>
                </label>

                <button type="button" class="collapsible-button">Funktionalitets Cookies</button>
                <div class="collapsible-content">
                    <p>
                        Har ingen.
                    </p>
                    <p>
                    </p>
                </div>
            </div>
            <button type="submit" class="button margin-top-10">Gem ændringer</button>
        </form>
    </div>
</div> 