@using NykantMVC.Extensions;
@{
    ViewBag.ShowBanner = true;
    var consent = Context.Session.Get<CookieConsent>("verysecretseriousconsentsessionkeyspecial");
    if (consent != null)
    {
        ViewBag.ShowBanner = consent.ShowBanner;
    }
}

@if (ViewBag.ShowBanner)
{
    <script src="~/JS/consent.js?1" defer></script>

    <div id="cookie-consent" class="cookie-consent centered" role="alert">
        <div class="col-12 left">

            <p>Vi bruger google analytics cookies til at indsamle anonyme data om dig, så vi kan se hvad du foretager dig på hjemmesiden, for at forbedre den. <a class="simple-link" asp-controller="home" asp-action="cookiepolicy">her kan du læse mere</a>. Trykker du Accepter, giver du dit samtykke til at vi må bruge google analytics.</p>
            <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="consent_updated" data-ajax-complete="noop" data-ajax-begin="noop" data-ajax-failure="noop" asp-controller="Home" asp-action="OnlyEssentialConsent" class="consent-button">
                @Html.AntiForgeryToken()
                <button type="submit" class="green-button background-dark">
                    Afvis
                </button>
            </form>
            <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="consent_updated" data-ajax-complete="noop" data-ajax-begin="noop" data-ajax-failure="noop" asp-controller="Home" asp-action="AllowAllConsent" class="consent-button">
                @Html.AntiForgeryToken()
                <button type="submit" class="green-button">
                    Accepter
                </button>
            </form>

        </div>

        <!--<div class="col-12 right top-padding">-->


            @*<div class="col-4 left padding-5">
                <button type="button" class="button" id="open-privacy2">
                    Instillinger
                </button>
            </div>*@



        <!--</div>-->
    </div>



}

