<!--@using NykantMVC.Extensions;

@{
//var consent = Context.Session.Get<CookieConsent>("verysecretseriousconsentsessionkeyspecial");
//if (consent != null)
//{
//    ViewBag.Functional = consent.Functional;
//    ViewBag.Statistics = consent.Statistics;
//}
//else
//{
//    ViewBag.Functional = false;
//    ViewBag.Statistics = false;
//}
}

<link rel="stylesheet" href="~/css/custom-switch.css" />
<link rel="stylesheet" href="~/css/privacy.css" />

<div class="privacy-settings" id="privacy-settings">
    <div class="mini-row">
        <h1>Instillinger</h1>
        <button class="close-button" id="close-button">
            <img class="small-svg" src="~/lib/svg/arrow-left.svg" />
        </button>
    </div>

    <h3>Her kan du vælge specifikke cookies til og fra</h3>
    <p>Hvis du vil vide nærmere hvad vi gemmer, og hvornår: </p> <a class="simple-link" asp-controller="Home" asp-action="cookiepolicy">Tryk her</a>

    <div class="settings">
        <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#cookie-settings-partial" data-ajax-success="consent_settings_updated" data-ajax-complete="noop" data-ajax-begin="noop" data-ajax-failure="noop" asp-controller="Home" asp-action="UpdateConsent">
            <h2>Cookie Preferencer</h2>
            <div class="cookie-collapsible">

                <button type="button" class="cookie-collapsible-button2">Nødvendige<span class="essential-cookies">altid aktive</span></button>
                <div class="cookie-collapsible-content">
                    <h3>
                        Nødvendige cookies er nødvendige for, at hjemmesiden kan fungere korrekt.
                    </h3>
                    <p>
                        Dem kan du ikke fravælge hvis du vil være på vores hjemmeside.
                    </p>
                     
                    <h3>
                        Vores nødvendige cookies:
                    </h3>
                    <p>
                        gemmer produkter i kurven,
                    </p>
                    <p>
                        giver en god og sikker checkout oplevelse,
                    </p>
                    <p>
                        gemmer dit samtykke for cookie og sprog preferencer.
                    </p>
                </div>
            </div>-->
            @*<div class="cookie-collapsible top-side-padding">

                <label class="switch">
                    @{
                        if (ViewBag.Functional)
                        {
                            <input name="functionalCookies" value="1" class="settings-input" type="checkbox" checked>
                        }
                        else
                        {
                            <input name="functionalCookies" value="0" class="settings-input" type="checkbox">
                        }
                    }
                    <span class="slider round"></span>
                </label>

                <button type="button" class="cookie-collapsible-button2">Funktionelle</button>
                <div class="cookie-collapsible-content">
                    <h3>
                        Vores funktionelle cookies:
                    </h3>
                    <p>
                        gemmer din preference for sprog.
                    </p>
                </div>
            </div>*@
            <!--<div class="cookie-collapsible top-side-padding">

                <label class="switch">
                    @{
                        if (ViewBag.Statistics)
                        {
                            <input name="statisticsCookies" value="1" class="settings-input" type="checkbox" checked>
                        }
                        else
                        {
                            <input name="statisticsCookies" value="0" class="settings-input" type="checkbox">
                        }
                    }
                    <span class="slider round"></span>
                </label>

                <button type="button" class="cookie-collapsible-button2">Statistiske</button>
                <div class="cookie-collapsible-content">
                    <h3>
                        Vores statistiske cookies:
                    </h3>
                    <p>
                        sender data til google analytics om vores besøgende: hvad de laver, hvor mange osv.
                    </p>
                </div>
            </div>
            <button type="submit" class="button margin-top-10">Gem ændringer</button>
        </form>
    </div>
</div>

<script async src="~/JS/consent-settings.js"></script>
<script async src="~/JS/collapsible.js"></script>-->