
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat"></div>

@if (User.Identity.IsAuthenticated)
{
    <div class="status-bar">
        <div id="status">
        </div>
    </div>

    <input hidden id="fb-user" />

    <script src="~/JS/facebook-init-auth.js?13"></script>

    <script crossorigin="anonymous" src="https://connect.facebook.net/da_DK/sdk.js#xfbml=1&version=v13.0&appId=391655249463703&autoLogAppEvents=1" nonce="pJvbNYGk"></script>
}
else
{
    <script src="~/JS/facebook-init.js?7"></script>
}
