<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="content-security-policy" content="default-src 'self' https://nykant.dk; img-src 'self' https://www.googletagmanager.com https://www.google.dk data: http://www.w3.org/2000/svg; script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://www.googletagmanager.com https://js.stripe.com https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js; style-src 'self' https://use.fontawesome.com https://cdn.jsdelivr.net https://fonts.googleapis.com https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css https://use.fontawesome.com/releases/v5.7.2/css/all.css; font-src 'self' https://use.fontawesome.com https://fonts.gstatic.com; frame-src 'self' https://js.stripe.com https://hooks.stripe.com; connect-src 'self' https://www.google.dk https://nykant.dk https://analytics.google.com https://api.stripe.com;" always;" />

    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spectral&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="~/css/mvcstyle.css" />
    <link rel="stylesheet" href="~/css/down-arrow.css" />
    <link rel="stylesheet" href="~/css/bag.css" />
    <link rel="stylesheet" href="~/css/checkout.css" />
    <link rel="stylesheet" href="~/css/custom-input.css" />
    <link rel="stylesheet" href="~/css/custom-select.css" />
    <link rel="stylesheet" href="~/css/custom-list.css" />
    <link rel="stylesheet" href="~/css/custom-list2.css" />
    <link rel="stylesheet" href="~/css/custom-checkbox.css" />
    <link rel="stylesheet" href="~/css/breadcrumbs.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/product-details.css" />
    <link rel="stylesheet" href="~/css/product-gallery.css" />
    <link rel="stylesheet" href="~/css/front-page.css" />
    <link rel="stylesheet" href="~/css/privacy.css" />
    <link rel="stylesheet" href="~/css/custom-switch.css" />
    <link rel="stylesheet" href="~/css/search.css" />
    <link rel="stylesheet" href="~/css/culture.css" />
    <link rel="stylesheet" href="~/css/simple-checkbox.css" />
    <link rel="stylesheet" href="~/css/custom-input2.css" />

    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>

    <div class="pop" id="pop">
        <i id="close-pop" class="far fa-times-circle right"></i>
        <img class="bigImg" id="bigImg" />
    </div>

    <div id="search-container">
        <partial name="_SearchPartial" />
    </div>

    <div id="cookie-settings-partial">
        <partial name="_CookieSettingsPartial" />
    </div>

    <partial name="_CookieConsentPartial" />

    <partial name="_CultureCookiePartial" />

    <partial name="_DesktopNavbarPartial" />

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="top-footer">
            <div class="nykant-info">
                <h1>Nykant</h1>
                <a asp-controller="Nykant" asp-action="About">Om Nykant</a>
            </div>
            <div class="customer-service">
                <h1>Kundeservice</h1>
                <a asp-controller="Nykant" asp-action="Contact">Kontakt os</a>
            </div>

            <div class="socialmedia">
                <a href="#"><img class="small-svg" src="~/lib/svg/facebook.svg" /></a>
            </div>

            <partial name="_UtilityPartial" />
        </div>
        <div class="my-row background-dark">
            <div class="col-12 background-dark">
                <div class="copyright left">
                    <p>&copy; Nykant ApS 2021</p>
                </div>
                <div class="policy-links right">
                    <a asp-controller="Nykant" asp-action="PrivacyPolicy">Håndtering af persondata</a>
                    <a asp-controller="Nykant" asp-action="CookiePolicy">Cookie politik og instillinger</a>
                    <a asp-controller="Nykant" asp-action="TermsAndConditions">Vilkår og betingelser</a>
                </div>
            </div>
        </div>
    </footer>

    @* ----------------------------------GLOBAL SCRIPTS-------------------------------------- *@

    <script src="~/JS/noop.js"></script>
    <script src="~/JS/mobileNav.js"></script>
    <script src="~/JS/counter.js"></script>
    <script src="~/JS/image-changer.js"></script>
    <script src="~/JS/downarrow-stop.js"></script>
    <script src="~/JS/custom-input.js"></script>
    <script src="~/JS/search-button.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
