<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="content-security-policy" content="default-src 'self' https://nykant.dk; img-src 'self' https://www.credit-card-logos.com https://www.googletagmanager.com https://www.google.dk data: http://www.w3.org/2000/svg; script-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://cdn.jsdelivr.net https://www.googletagmanager.com https://js.stripe.com https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js; style-src 'self' https://use.fontawesome.com https://cdn.jsdelivr.net https://fonts.googleapis.com https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css https://use.fontawesome.com/releases/v5.7.2/css/all.css; font-src 'self' https://use.fontawesome.com https://fonts.gstatic.com; frame-src 'self' https://js.stripe.com https://hooks.stripe.com; connect-src 'self' https://www.google.dk https://nykant.dk https://analytics.google.com https://api.stripe.com;" always;" />

    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preload" as="style" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="preload" as="style" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Spectral&display=swap">
    <link rel="preload" as="style" href="~/css/mvcstyle.css" />
    <link rel="preload" as="style" href="~/css/navbar.css" />
    <link rel="preload" as="style" href="~/css/search.css" />
    <link rel="preload" as="style" href="~/css/culture.css" />
    <link rel="preload" as="script" href="https://js.stripe.com/v3/">
    <link rel="preload" as="script" href="~/lib/jquery/dist/jquery.min.js">
    @*<link rel="preload" as="script" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">*@
    <link rel="preload" as="script" href="~/lib/jquery-validation/dist/jquery.validate.js">
    <link rel="preload" as="script" href="~/lib/ajax/jquery.unobtrusive-ajax.min.js">
    <link rel="preload" as="script" href="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spectral&display=swap">
    <link rel="stylesheet" href="~/css/mvcstyle.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/search.css" />
    <link rel="stylesheet" href="~/css/culture.css" />
    <link rel="shortcut icon" href="~/Images/favicon.png">

    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <partial name="_ValidationScriptsPartial" />

    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>*@
</head>
<body>

    <div id="cookie-settings-partial">
        <partial name="_CookieSettingsPartial" />
    </div>

    <partial name="_CookieConsentPartial" />

    @*<partial name="_CultureCookiePartial" />*@

    <partial name="_DesktopNavbarPartial" />

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="top-footer">
            <div class="nykant-info">
                <h1>Info</h1>
                <a asp-controller="Home" asp-action="About">Om Os</a>
                <a asp-controller="Home" asp-action="Contact">Kontakt Os</a>
            </div>

            <partial name="_NewsletterPartial" />

            @*<div class="socialmedia">
                <a href="#"><img class="small-svg" src="~/lib/svg/facebook.svg" /></a>
            </div>*@

            <partial name="_UtilityPartial" />
        </div>
        <div class="my-row">
            <div class="col-12">
                <div class="copyright left">
                    <p>&copy; Nykant Aps 2022</p>
                </div>
                <div class="policy-links right">
                    <a asp-controller="Home" asp-action="PrivacyPolicy">Håndtering af persondata</a>
                    <a asp-controller="Home" asp-action="CookiePolicy">Cookie politik og instillinger</a>
                    <a asp-controller="Home" asp-action="TermsAndConditions">Vilkår og betingelser</a>
                </div>
            </div>
        </div>
    </footer>

    @* ----------------------------------GLOBAL SCRIPTS-------------------------------------- *@

    <script async src="~/JS/noop.js"></script>
    <script async src="~/JS/mobileNav.js"></script>
    <script async src="~/JS/search-button.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
