<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" />

@*    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>*@
@*    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>*@
    <link rel="preconnect" href="https://static.nykant.dk">

    @*<link rel="preload" as="style" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">*@
    @*<link rel="preload" as="style" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Spectral&display=swap">
    <link rel="preload" as="style" href="~/css/mvcstyle.css" />
    <link rel="preload" as="style" href="~/css/navbar.css" />
    <link rel="preload" as="style" href="~/css/search.css" />
    <link rel="preload" as="style" href="~/css/culture.css" />
    <link rel="preload" as="style" href="~/css/privacy.css" />*@
    @*<link rel="preload" as="script" href="https://js.stripe.com/v3/">
    <link rel="preload" as="script" href="~/lib/jquery/dist/jquery.min.js">*@
    @*<link rel="preload" as="script" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">*@
    @*<link rel="preload" as="script" href="~/lib/jquery-validation/dist/jquery.validate.js">
    <link rel="preload" as="script" href="~/lib/ajax/jquery.unobtrusive-ajax.min.js">
    <link rel="preload" as="script" href="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js">*@
    @*<link rel="preload" as="script" href="https://connect.facebook.net/da_DK/sdk.js" crossorigin="anonymous">*@

    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">*@
@*    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*@
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Spectral&display=swap" />
    <link rel="stylesheet" type="text/css" href="https://static.nykant.dk/css/layout-bundle.min.css" />

    <link rel="shortcut icon" href="https://static.nykant.dk/favicon.ico">

    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>*@

    <script asp-add-nonce="true">
        (function (w, d, s, r, n) {
            w.TrustpilotObject = n; w[n] = w[n] || function () { (w[n].q = w[n].q || []).push(arguments) };
            a = d.createElement(s); a.async = 1; a.src = r; a.type = 'text/java' + s; f = d.getElementsByTagName(s)[0];
            f.parentNode.insertBefore(a, f)
        })(window, document, 'script', 'https://invitejs.trustpilot.com/tp.min.js', 'tp');
        tp('register', 'nnfhOrvskhnktLev');
    </script>
</head>
<body>

    <form id="AntiforgeryToken">@Html.AntiForgeryToken()</form>

    <partial name="_FacebookPartial" />

    @*<div class="modal" id="checkout-testing">
            <div class="testing-modal">
                <i class="fas fa-times" id="testing-close"></i>
                <h1>CHECKOUT SANDBOX MODE</h1>
                <p>Checkout er lige nu i sandbox mode, hvilket betyder at du ikke kan gennemføre en betaling med andet end de test kort som er beskrevet på checkout siden. Dette vil hurtigst muligt blive genaktiveret.</p>
            </div>
        </div>*@

    @*<div id="cookie-settings-partial">
            <partial name="_CookieSettingsPartial" />
        </div>*@

    @*<partial name="_CookieConsentPartial" />*@

    @*<partial name="_CultureCookiePartial" />*@

    <partial name="_topbarpartial" />

    <partial name="_DesktopNavbarPartial" />

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="top-footer">
            <div class="nykant-info">
                <p class="bold-text">Info</p>
                @*<a asp-controller="Home" asp-action="About">Om Os</a>*@
                <a asp-controller="Home" asp-action="Contact">Kontakt Os</a>
                <a asp-controller="Home" asp-action="HowToOrder">Handlevejledning</a>
            </div>

            <div class="nykant-info">
                <p class="bold-text">Anmeldelser</p>
                <a href="https://dk.trustpilot.com/review/nykant.dk">Trustpilot</a>
                <a href="https://www.facebook.com/nykant.dk/reviews">Facebook</a>
            </div>

            @*<partial name="_NewsletterPartial" />*@

            <div class="socialmedia">
                <a href="https://www.facebook.com/nykant.dk"><img class="small-svg" src="https://static.nykant.dk/lib/svg/facebook.svg"></a>
                <a href="https://www.instagram.com/nykant.dk"><img class="small-svg" src="https://static.nykant.dk/lib/svg/instagram.svg" /></a>
            </div>

            @*<partial name="_UtilityPartial" />*@
        </div>
        <div class="my-row">
            <div class="col-12">
                <div class="copyright left">
                    <p>&copy; Nykant Aps 2023</p>
                </div>
                <div class="policy-links right">
                    <a asp-controller="Home" asp-action="PrivacyPolicy">Persondatapolitik</a>
                    <a asp-controller="Home" asp-action="CookiePolicy">Cookiepolitik</a>
                    <a asp-controller="Home" asp-action="TermsAndConditions">Handelsbetingelser</a>
                </div>
            </div>
        </div>
    </footer>


    @* ----------------------------------GLOBAL SCRIPTS-------------------------------------- *@
    <script asp-add-nonce="true" id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="490e7f44-ffeb-46ab-b54c-dc5700002e92" data-blockingmode="auto" type="text/javascript"></script>
@*    <script src="https://static.nykant.dk/JS/trustpilot.min.js"></script>*@
    <script asp-add-nonce="true" src="https://static.nykant.dk/JS/layout-head-bundle.min.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript" src="https://widget.emaerket.dk/js/c49f6b82c5f1b83153cb102aa0b9daa3" async></script>
    <script src="https://static.nykant.dk/JS/layout-bottom-bundle.min.js" async></script>
    <script asp-add-nonce="true" src="https://kit.fontawesome.com/dfade6c231.js" crossorigin="anonymous" async></script>
    <script asp-add-nonce="true" async src="https://www.googletagmanager.com/gtag/js?id=UA-220279124-1"></script>
    <script src="https://static.nykant.dk/JS/GoogleAnalytics.min.js"></script>
</body>
</html>
