<div class="navbar">
    <div class="mobile-navbar-wrap highlightTextIn">
        <button id="search-button"><i class="fas fa-search"></i></button>
        <a alt="NYKANT" asp-controller="Nykant" asp-action="Index">YKANT</a>
        <a id="product-link" alt="PRODUKTER" asp-controller="Product" asp-action="Index">PRODUKTER</a>

        <a class="icon" asp-controller="Bag" asp-action="GetBag" asp-route-id=""><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>

        @if (User.Identity.IsAuthenticated)
        {

            <div id="userBurger">
                <a alt="logged in as: !" asp-controller="Account" asp-action="Profile" title="Manage">logged in as: !</a>
                <form asp-Controller="Account" asp-action="Logout">
                    <button type="submit">Logout</button>
                </form>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="userBurger()">
                <i class="fas fa-user"></i>
            </a>
        }
        else
        {
            <div id="userBurger">
                <a alt="REGISTER" asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
                <a alt="LOGIN" asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="userBurger()">
                <i class="fas fa-user"></i>
            </a>
        }

        <div id="myLinks">
            <a alt="PRODUKTER" asp-controller="Product" asp-action="Index">PRODUKTER</a>
        </div>
    </div>
</div>