@inject IViewLocalizer localizer

<div class="newsletter">
    <h1>
        Tilmeld Nyhedsbrev
    </h1>
    <p>Når du trykke tilmeld, abonnerer du på nykants nyhedsbreve. For at afmelde igen, tryk afmeld, i en nyhedsemail.</p>
    <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="newssub_succeed" data-ajax-complete="noop" data-ajax-begin="newssub_begin" data-ajax-failure="newssub_error" asp-controller="Home" asp-action="AddNewsSub">
        <input placeholder="Skriv din email..." name="email" />
        <button type="submit" id="newsletter-button">
            <div id="newsletter-error" class="loading-error">
                <i class="fas fa-times"></i>
            </div>
            <div id="newsletter-spinner" class="hidden">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="loading-check-sign" id="newsletter-check-sign">
                <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div id="newsletter-text">
                Tilmeld
            </div>
        </button>
    </form>
</div>