@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var hasConsent = consentFeature.HasConsent;
}
<script>
    completed = function (response) {
        alert(`Hi ${response}!`);
    };
</script>

<div class="privacy-settings" id="privacy-settings">
    <div class="mini-row">
        <h1>Instillinger</h1>
        <button class="close-button" id="close-button">
            <i id="arrow-icon" class="fas fa-arrow-left"></i>
        </button>
    </div>

    <p>Vi tager din sikkerhed meget seriøst, derfor kan du selv styre hvad for noget data vi må gemme i din browser.</p>
    <p>Hvis du vil vide nærmere hvad vi gemmer, og hvornår: </p> <a class="simple-link" asp-controller="Privacy" asp-action="Index">Tryk her</a>

    <div class="settings">
        <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="completed" asp-controller="Privacy" asp-action="UpdateConsent">
            <h2>Privatlivs Preferencer</h2>
            <div class="collapsible">

                <button type="button" class="collapsible-button">Essentielle Cookies</button>
                <div class="collapsible-content">
                    <h3>
                        Essentielle cookies er essentielle for, at hjemmesiden kan fungere korrekt.
                    </h3>
                    <p>
                        Dem kan du ikke fravælge på vores hjemmeside, men hvis du ønsker at fravælge dem alligevel,
                        kan du læse mere om hvordan man gør det <a class="simple-link" href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en">her</a>
                    </p>
                    
                    <h3>
                        Vores essentielle cookies:
                    </h3>
                    <p>
                        gemmer produkter i kurven,
                    </p>
                    <p>
                        giver en god checkout oplevelse,
                    </p>
                    <p>
                        gemmer dit samtykke på hvilke cookies vi må bruge.
                    </p>
                </div>
            </div>
            <div class="collapsible top-side-padding">

                <label class="switch">
                    @{
                        if (hasConsent)
                        {
                            <input id="settings-input" name="consent" class="settings-input" type="checkbox" checked>
                        }
                        else
                        {
                            <input id="settings-input" name="consent" class="settings-input" type="checkbox">
                        }
                    }
                    <span class="slider round"></span>
                </label>

                <button type="button" class="collapsible-button">Funktionalitets Cookies</button>
                <div class="collapsible-content">
                    <p>
                        Har ingen, men tester mine fremtidige cookies.
                    </p>
                    <p>
                    </p>
                </div>
            </div>
            <button type="submit" class="button margin-top-20">Gem ændringer</button>
        </form>
    </div>
</div> 