@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

<div class="privacy-settings" id="privacy-settings">
    <div class="mini-row">
        <h1>Instillinger</h1>
        <button class="close-button" id="close-button">
            <i id="arrow-icon" class="fas fa-arrow-left"></i>
        </button>
    </div>

    <p>Vi tager din sikkerhed meget seriøst, derfor kan du selv styre hvad for noget data vi må gemme i din browser.</p>
    <p>Hvis du vil vide nærmere hvad vi gemmer, og hvornår: </p> <a class="simple-link" asp-controller="Privacy" asp-action="Index">Tryk her</a>

    <div class="settings">
        <h2>Privatlivs Preferencer</h2>

        <div class="collapsible">
            <label class="switch">
                <input class="settings-input" type="checkbox">
                <span class="slider round"></span>
            </label>
            <button type="button" class="collapsible-button">Essentielle Cookies</button>
            <div class="collapsible-content">
                <p>
                    Essentielle cookies indeholder funktioner, som systemet ikke kan virke uden.
                    Hvis du vælger at slå dem fra betyder det at du ikke vil kunne benytte vigtige funktioner i vores butik.
                    dette indebære: at lægge varer i kurven og at tjekke ud ved kassen.
                </p>
            </div>
        </div>
        <div class="collapsible top-side-padding">
            <label class="switch">
                <input class="settings-input" type="checkbox">
                <span class="slider round"></span>
            </label>
            <button type="button" class="collapsible-button">Andre Cookies</button>
            <div class="collapsible-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div> 