
<div id="search-box">
    <form id="search-form" asp-controller="nykant" asp-action="search" method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#search-container" data-ajax-complete="searchcompleted" data-ajax-begin="noop" data-ajax-failure="noop" data-ajax-success="noop">
        <input type="search" id="search-input" name="searchString" placeholder="hvad leder du efter?.." />
        
    </form>
</div>
<div id="search-result">
    <div class="spinner hidden" id="searchspinner"></div>

    @if (ViewBag.SearchProductList != null)
    {
        @foreach (Product item in ViewBag.SearchProductList)
        {
            <a asp-controller="product" asp-action="details" asp-route-id="@item.Id">
                <div class="search-item">
                    <img src="@item.GalleryImage1" />
                    <p>@item.Name</p>
                    <p>@item.Price</p>
                    <p>dkk,-</p>
                </div>
            </a>

        }
    }
    @if (ViewBag.SearchProductList != null)
    {
        if (ViewBag.SearchProductList.Count == 0)
        {
            <p class="text-center">ingen resultater</p>
        }
    }

</div>

<script src="~/JS/search.js"></script>