@model CheckoutVM

@{
    var optionValue = 1;
}

<div class="row fadein bottom-side-padding top-padding ">
    <div class="col-8 center col-wrapper">
        <div class="col-8 left">
            <form id="shipping-form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="shipping_completed" asp-controller="Checkout" asp-action="PostShipping">
                <input required type="hidden" id="shipping-delivery-id" name="shippingDeliveryId" asp-for="@Model.Checkout.ShippingDeliveryId" />

                <div class="custom-list">
                    <div id="custom-list-header" class="header">
                        Choose Shipping
                    </div>
                    <div class="custom-list-options" id="custom-list-options">
                        <select>
                            <option value="0">
                                Choose Shipping
                            </option>
                            @foreach (var item in Model.ShippingDeliveries)
                            {
                                <option value="@optionValue">
                                    @item.Name
                                </option>
                                optionValue += 1;
                            }
                        </select>
                    </div>
                </div>

                <div class="col-4 right fadein top-side-padding">
                    <button id="custom-list-button" class="button dark-card" type="submit">CHOOSE SHIPPING</button> @*------------- SUBMIT FORM --------------*@
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/JS/shipping.js"></script>
<script src="~/JS/custom-list.js"></script>