<div class="top-info-bar-container">
    <div class="top-info-bar">
        <p><i class="fas fa-truck right-side-padding"></i>  3-5 Arbejdsdage Leveringstid <span class="left-side-padding right-side-padding inline"><i class="fas fa-truck"></i></span> Gratis Forsendelse<i class="fas fa-truck left-side-padding"></i></p>
    </div>
</div>
