
@model Order

@{
    Layout = "_EmailLayout";
    ViewData["EmailTitle"] = "Order";
}

<br />

@foreach(var item in Model.OrderItems)
{
    <p>@item.Product.Title</p>
    <img src="cid:{0}" />
}

<br />

<p>
    If you have any questions, just reply to this email—we're always happy to help out.
</p>

<br />

