@model List<Order>
@{
    ViewData["Title"] = "Alle Ordre";
    ViewData["Description"] = "";
}

<script src="~/JS/capture.js" defer></script>

<div class="notification3" id="capture-notification">
    <p id="capture-notification-text"></p>
</div>


<div class="row top-padding bottom-padding background-lightblue">
    <div class="col-8 center" id="all-orders">
        <partial name="_OrderListPartial" />
    </div>
</div>

