@model List<PaymentCapture>
@{
    ViewData["Title"] = "Sendte Ordrer";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="https://static.nykant.dk/css/my-list.min.css" />

<div class="my-row top-padding bottom-padding">
    <div class="col-8 center" id="sent-orders">
        <partial name="_SentOrderListPartial" />
    </div>
</div>

@section scripts {
    <script asp-add-nonce="true" src="https://static.nykant.dk/JS/refund.min.js"></script>
}