@model List<Order>
@{
    ViewData["Title"] = "Ikke Sendte Ordrer";
    ViewData["Description"] = "";
}

<script src="~/JS/capture.js" defer></script>
<link rel="stylesheet" href="~/css/orders-list.css" />

<div class="notification3" id="capture-notification">
    <p id="capture-notification-text"></p>
</div>


<div class="my-row top-padding bottom-padding">
    <div class="col-8 center" id="all-orders">
        <partial name="_UnsentOrderListPartial" />
    </div>
</div>

