@model List<BagItem>

<div class="col-8 left fadein" id="bagtable-container">
    <div class="bagtitle">
        Kurv
    </div>
    <div class="bagtable" id="bagtable">
        <partial name="_BagTablePartial" />
    </div>
</div>
<div class="col-3 left" id="checkout-box">
    <div id="order-info-partial">
        <partial name="_OrderInfoPartial">
    </div>


    <div class="delivery-info">
        @*@if (ViewBag.DeliveryInfo != null)
        {
            <div>
                <p>@ViewBag.DeliveryInfo</p>
            </div>
        }*@

        <div class="bottom-side-padding">
            <p>14 dages fortrydelsesret på alle varer.</p>
        </div>
    </div>
</div>