@model List<BagItem>
@{
    ViewData["Title"] = "Kurv";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="https://static.nykant.dk/css/bag.min.css" />

<div class="my-row top-padding bottom-padding">
    <div class="col-10 center" id="bag-wrapper">
        <partial name="_BagWrapperPartial" />
    </div>
</div>

<div class="bottom-padding">

</div>
<div class="bottom-padding">

</div>



@section scripts {
    <script src="https://static.nykant.dk/JS/bag.min.js"></script>
}
