@model List<BagItem>
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Kurv";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="~/css/bag.css" />

<div class="my-row top-padding bottom-padding">
    <div class="col-10 center" id="bag-wrapper">
        <partial name="_BagWrapperPartial" />
    </div>
</div>

<div class="bottom-padding">

</div>
<div class="bottom-padding">

</div>

<script src="~/JS/bag.js"></script>