@model List<BagItem>

@{
    ViewData["Title"] = "Details";
}

<script src="~/JS/bag.js" defer></script>

<div class="row top-padding bottom-side-padding top-padding fullscreen-row">
    <div class="col-10 center" id="bag-wrapper">
        <div class="col-8 left fadein">
            <div class="bagtitle">
                MY BAG
            </div>
            <div class="bagtable" id="bagtable">
                <partial name="_BagTablePartial" />
            </div>
        </div>
        <div class="col-3 right left-side-padding fixed" id="checkout-box">
            <div class="order-info">
                <h1>Ordre</h1>
                <p style="float:left;">Levering</p>
                <p style="float:right;">Total ekskl. levering</p>
            </div>
            <div class="checkout-price">
                <p id="total-price-text">total: @ViewBag.PriceSum</p>
            </div>
            <a asp-controller="Checkout" asp-action="Checkout">
                <div class="button">
                    <p>Gå til kassen</p>
                </div>
            </a>
        </div>
    </div>
</div>
