@model List<Product>
@{
    ViewData["Title"] = "Nykant - Egetræsmøbler Af Dansk Design";
    ViewData["Description"] = "Nykant er en dansk virksomhed, som er dedikeret til at designe møbler af træ, inspireret af dansk design.";
}

<script src="~/JS/viewport.js"></script>
<script src="~/JS/slideshow.js" defer></script>
<script src="~/JS/tripple-slide.js" defer></script>
<script src="~/JS/swiped-events.min.js" defer></script>

<div class="row">
    <div id="slideshow">
    </div>
</div>

<div class="row">
    <div class="col-8 center">
        <div id="tripple-slider" class="tripple-slider">
            @foreach (var item in Model)
            {
                <div class="col-4 hidden">
                    <img src="@item.ImageSource" />
                </div>
            }
        </div>

    </div>
</div>

<div class="row">
    <div class="col-4 center">
        <div class="tripple-slider-controller">
            <div class="slide-button left">
                <button id="back-button" type="button"><img class="small-svg" src="~/lib/svg/arrow-left.svg" /></button>
            </div>
            <div class="slide-button right">
                <button id="forward-button" type="button"><img class="small-svg" src="~/lib/svg/arrow-right.svg" /></button>
            </div>
            <div class="center">
                <form id="product-slides-radio">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">

</div>
