@{
    ViewData["Title"] = "Nykant - Egetræsmøbler Af Dansk Design";
    ViewData["Description"] = "Nykant er en dansk virksomhed, som er dedikeret til at designe møbler af træ, inspireret af dansk design.";
}

<script src="~/JS/viewport.js"></script>
<script src="~/JS/slideshow.js" defer></script>

<div class="blank">
    <div id="slideshow">

    </div>
</div>

@*<div class="modal" id="modal">
        <div class="col-6 center development">
            <p style="font-weight:bold;">hjemmesiden er stadig i udvikling :) det betyder: </p>
            <p>At hvis man vil købe et produkt, skal man bruge de test kortnumre som er på købs siden.</p>
            <p>Hvis du opretter en bruger, så skal du stadig bruge en rigtig email, da der er email aktivering i denne testing fase.</p>
            <p>Dine personlige data som du giver nykant, er beskyttet (hvilket du kan læse mere om <a>her(link til privatlivs siden)</a>), så du kan teste alle hjemmesidens funktioner, sikkert.</p>
            <button class="button" type="button" id="development-button">Okay</button>
        </div>
    </div>

    <script defer>
        document.getElementById("modal").style.display = "block";
        document.getElementById("development-button").addEventListener("click", function () {
            document.getElementById("modal").style.display = "none";
        });
    </script>*@