@model List<Category>
@{
    ViewData["Title"] = "Nykant - Egetræsmøbler Af Dansk Design";
    ViewData["Description"] = "Nykant er en dansk virksomhed, som er dedikeret til at designe møbler af træ, inspireret af dansk design.";
}
<script src="~/JS/viewport.js" ></script>
<script src="~/JS/slideshow.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<link rel="stylesheet" type="text/css" href="~/css/carousel.css" />
<script type="text/javascript" src="~/JS/carousel.js"></script>

@*<script src="~/JS/tripple-slide.js" defer></script>*@
@*<script src="~/JS/swiped-events.min.js" defer></script>*@

@*<div class="my-row">
    <div id="slideshow">
    </div>
</div>*@

<div class="slideshow-space">

</div>

<div class="my-row">
    <div class="slideshow">
        <span id="slide-1"></span>
        <span id="slide-2"></span>
        <span id="slide-3"></span>
        <div class="slide-container" id="slide-container">
            <div class="slide">
                <div class="slide-info">
                    Vi designer møbler som forskønner hjem, og giver øjet ro med lækre detaljer i massiv eg.
                </div>
                <img src="../images/Products/NYKANT_miljoe 1_varient.png" />
            </div>
            <div class="slide">
                <div class="slide-info">
                    "Træ er genialt" <br /> <br />
                    Brug mere træ. Så gavner du klimaet, miljøet, skovene, humøret, sundheden, byggeriet, økonomien...
                    <span>- Træ.dk</span>
                </div>
                <img src="../images/Products/NYKANT_miljoe 4.png" />
            </div>
            <div class="slide">
                <div class="slide-info">
                    "Træ er genialt" <br /> <br />
                    Brug mere træ. Så gavner du klimaet, miljøet, skovene, humøret, sundheden, byggeriet, økonomien...
                    <span>- Træ.dk</span>
                </div>
                <img src="../images/Products/NYKANT_miljoe 5.png" />
            </div>
        </div>
        <div class="slide-buttons" id="slide-buttons">
            <input id="radio1" type="radio" name="slide" checked />
            <input id="radio2" type="radio" name="slide" />
            <input id="radio3" type="radio" name="slide" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel">
                @foreach (var category in Model)
                {
                    <div class="product-card">
                        @*<div class="product-badge text-danger">28% Off</div>*@<a class="product-thumb" href="/Product/Index?searchString=@category.Name" data-abc="true"><img src="@category.ImgSource" alt="Category"></a>
                        <h3 class="product-title"><a href="/Product/Index?searchString=@category.Name" data-abc="true">@category.Name</a></h3>
                        @*<h4 class="product-price"> <del>$844.99</del>@cat.Price kr.</h4>*@
                        @*<div class="product-buttons"> <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="fa fa-heart"></i></button> <button class="button">Add to Cart</button> </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="my-row bottom-padding">
    <div class="about-us" id="about-us">
        <p id="about-us-text">
            <span>Om Os</span>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br /> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br /> when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br /> It has survived not only five centuries,<br /> but also the leap into electronic typesetting,<br /> remaining essentially unchanged. It was popularised in the 1960s with <br /> the release of Letraset sheets containing Lorem Ipsum passages,<br /> and more recently with desktop publishing software like Aldus<br /> PageMaker including versions of Lorem Ipsum.

        </p>
    </div>
</div>

<div class="my-row background-basish border-top">
    <div class="newsletter col-6 center">
        <h1>
            Nyhedsbrev
        </h1>
        <form>
            <input placeholder="Type your email" />
            <button>Join</button>
        </form>
    </div>
</div>

@*<div class="my-row background-base">
    <div class="col-8 center ">
        <div class="business-values">
            <div class="col-6 left">
                <i class="fas fa-user-tie"></i>
                <p>Ingen mellem-mænd,<br /> ingen bullshit,<br /> direkte til kunden.</p>
            </div>
            <div class="col-6 left">
                <i class="fas fa-user-tie"></i>
                <p>test</p>
            </div>
            <div class="col-6 left">
                <i class="fas fa-user-tie"></i>
                <p>test</p>
            </div>
            <div class="col-6 left">
                <i class="fas fa-user-tie"></i>
                <p>test</p>
            </div>
        </div>
    </div>
</div>*@

@*<div class="row">
        <div class="tripple-slider-container center">
            <div id="tripple-slider" class="tripple-slider">
                @foreach (var item in Model)
                {
                    <div class="col-4 hidden">
                        <img src="@item.ImageSource" />
                    </div>
                }
            </div>

        </div>
    </div>*@

@*<div class="row">
        <div class="col-4 center">
            <div class="tripple-slider-controller">
                <div class="slide-button left">
                    <button id="back-button" type="button"><img class="small-svg" src="~/lib/svg/arrow-left.svg" /></button>
                </div>
                <div class="slide-button right">
                    <button id="forward-button" type="button"><img class="small-svg" src="~/lib/svg/arrow-right.svg" /></button>
                </div>
                <div class="center">
                    <form id="product-slides-radio">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="fullscreen-row">

    </div>*@
