@{ 
    ViewData["Title"] = "Nykants Privatlivspolitik";
    ViewData["Description"] = "Nykants politik omkring håndtering af persondata.";
}

<div class="row background-lightblue">
    <div class="privacy-header center">
        <h1>Nykants håndtering af persondata</h1>
    </div>
</div>
<div class="row">
    <div class="privacy-information col-6 center">
        <div>
            <h1>1. Generelt</h1>
            <p>
                Denne databeskyttelsespolitik gælder ved indsamling og brug af personoplysninger på nykant.dk ("Websiden"). Den indeholder bl.a. oplysninger om, hvilke personoplysninger, der indsamles, hvad de bruges til, og hvilke rettigheder du har. Nykant ApS, CVR-nr.: <CVR NUMMER>, (”Nykant” eller "vi") er ansvarlig(e) for behandlingen og kan kontaktes i tilfælde af spørgsmål. Den databeskyttelsesansvarlige hos Nykant kan kontaktes på: nykant.development@gmail.com.
            </p>
        </div>
        <div>
            <h1>2. Hvilke oplysninger indsamler vi og hvorfor</h1>
            <p>
                Nedenfor findes en oversigt over, hvilke personoplysninger vi indsamler om dig og formålet hermed. Vi har også beskrevet, hvad der efter vores mening udgør retsgrundlaget i de forskellige situationer:
            </p>
            <h2>Ved køb af varer</h2>
            <p class="pushed-text">Ved køb af et af vores produkter registrerer vi dit navn, telefonnummer, email adresse, betalingsoplysninger, hvilke varer du køber og hvornår samt informationer om udlevering og leveringsadresse. Derudover vil vi også kunne behandle oplysninger om returneringer.</p>
            <p>Formålet med at registrere oplysningerne er at opfylde og administrere vores aftale med dig samt følge op på salget internt i organisationen.</p>
            <p>
                Grundlaget for vores behandling af oplysningerne er aftalen med dig, jf. EU databeskyttelsesforordningens (General Data Protection Regulation eller "GDPR") artikel 6, b). Derudover er en del af behandlingen baseret på vores legitime behov for at kunne administrere salget på en hensigtsmæssig måde, jf. GDPR artikel 6, f), og vi har vurderet, at denne interesse vejer tungere end ulempen for dig.
            </p>
            <h2>Reklamationer: </h2>
            <p class="pushed-text">Hvis du reklamerer over en vare, har vi brug for kontaktoplysninger for at kunne registrere reklamationen.</p>
            <p>
                Formålet med at registrere de ovenstående oplysninger om dig, er, at vi skal kunne opfylde og administrere vores aftale med dig, om det gælder levering, skader eller returneringer.
            </p>
            <p>Grundlaget for vores behandling af personoplysninger til de formål, der er nævnt ovenover, er købsaftalen med dig, og behandlingen anses for at være nødvendig for at opfylde vores forpligtelser af aftalen. I den grad at vi udfører en begrænset behandling af dine personoplysninger for at kunne følge op på salget internt i vores organisation og overfor dig, har vi vurderet, at vores interesse i at gøre dette, er større end ulempen for dig. For eventuelle krav som rettes mod os, vil vi også kunne indsamle dine personoplysninger i den grad, det er nødvendigt for at kunne opfylde eller forsvare vores retslige forpligtelser.</p>
            <h2>
                Kundeservice:
            </h2>
            <p class="pushed-text">Afhængig af, hvad henvendelsen drejer sig om, og hvordan du kontakter os (via telefon eller email), skal vi vide, hvem du er, hvilket produkt du har købt og din adresse eller dit telefonnummer. Vi behandler de indhentede oplysninger om f.eks. navn, købshistorik og kontaktoplysninger (e-mail, telefonnummer), så vi kan hjælpe dig. </p>
            <p>
                Afhængig af, hvad henvendelsen drejer sig om, er grundlaget for vores behandling af oplysningerne, aftalen med dig, jf. GDPR artikel 6, b) eller vores legitime interesse i at kunne håndtere din henvendelse på en hensigtsmæssig måde, jf. GDPR artikel 6, f). Såfremt grundlaget for behandlingen er begrundet i sidstnævnte, har vi vurderet, at vi har en legitim interesse i at behandle dine personoplysninger, så vi kan besvare dine spørgsmål bedst muligt, og at denne interesse vejer tungere end ulempen for dig, når du kontakter os og beder om denne service.
            </p>
            <h2>Oprettelse af kundeprofil: </h2>
            <p class="pushed-text">
                Når du opretter en profil registrerer vi din email adresse.
            </p>
            <p>Formålet med at registrere email ved oprettelse er, at bekræfte det er din email som bliver taget i brug.</p>
            <p>Grundlaget for vores behandling af oplysningerne er baseret på vores legitime behov for at oprette en bruger profil til dig, således du kan følge dine ordre eller se din ordrehistorik via nykant.dk på en hensigtsmæssig måde. Vi har vurderet, grundet en meget begrænset indsamling af dine personoplysninger, at denne interesse vejer tungere end ulempen for dig.</p>
            
        </div>
        <div>
            <h1>3. Adgang via sociale medier</h1>
            <p>For at gøre det så nemt som muligt at logge ind på vore sider tilbyder vi (foruden vores eget login) brugere med en Facebook-konto at logge ind via denne. Bemærk, at hvis du vælger at logge på fra en af disse konti, er det den enkelte tjenestes politik for indsamling af personoplysninger og brug af cookies, der gælder, mens du er logget på.</p>
        </div>
        <div>
            <h1>4. Brug af cookies mv.</h1>
            <p>
                Vi gør brug af såkaldte cookies for at give vores brugere en bedre oplevelse på Websiden. En cookie er en tekstfil, der lagres i din browser, når du besøger eller bevæger dig rundt på en webside.
            </p>
            <p>
                Du kan vælge, at vi ikke må lægge sådanne cookies i din browser. De fleste browsere (Google Chrome, Firefox, Internet Explorer, Safari, Opera, etc.) er sat op til automatisk at acceptere cookies, men du kan selv ændre indstillingerne, så cookies ikke accepteres. Ulempen ved at deaktivere cookies i browseren er, at Websiden så ikke vil fungere optimalt. Det skyldes, at formålet med de fleste af vores cookies er at sikre funktionaliteten på Websiden, f.eks. så den husker, hvad du har lagt i indkøbskurven.
            </p>
            <p>En fuldstændig oversigt over cookies generelt og hvilke cookies vi bruger, findes <a href="https://localhost/home/cookiepolicy/">her</a>.</p>

        </div>
        <div>
            <h1>5. Sletning</h1>
            <p>
                De personoplysninger som er knyttet til dine køb vil normalt blive slettet, når der ikke længere er behov for dem for at kunne besvare dine henvendelser, og reklamationsfristen for produktet er udløbet (f.eks. efter 5 år for køleskab), medmindre vi har brug for at gemme oplysningerne i en længere periode for at opfylde andre legitime formål eller lovkrav, f.eks. i regnskabslovgivningen.
            </p>
            <p>Hvis du sletter din profil, vil alle profil oplysningerne blive slettet.</p>
            <p>Personoplysninger, som vi behandler på grundlag af dit samtykke, slettes hvis du trækker dit samtykke tilbage.</p>
        </div>
        <div>
            <h1>6. Dine rettigheder</h1>
            <p>Her kan du se dine rettigheder, som du til enhver tid kan gøre gældende:</p>
            <h2>Tilbagetrækning af samtykke:</h2>
            <p class="pushed-text">
                Hvis du har givet samtykke til at modtage henvendelser fra os med tilbud på varer og tjenester, kan du når som helst trække dette samtykke tilbage. Vi har gjort det nemt for dig at takke nej til sådanne tilbud, hver gang du modtager en henvendelse fra os. Samtykke kan også trækkes tilbage ved at kontakte kundeservice.
            </p>
            <h2>Anmodning om indsigt:</h2>
            <p class="pushed-text">
                Du har ret til at få indsigt i, hvilke personoplysninger vi har registreret om dig.
            </p>
            <h2>Anmodning om berigtigelse eller sletning:</h2>
            <p class="pushed-text">Du kan også bede os berigtige fejlagtige oplysninger om dig eller slette personoplysningerne helt. Vi vil så vidt muligt imødekomme en anmodning om sletning af personoplysninger, men vi kan ikke gøre dette, såfremt der er tungtvejende grunde til ikke at slette disse, f.eks. krav om, at vi skal opbevare oplysningerne til dokumentationsbrug. Mange oplysninger kan du selv slette. Du kan f.eks. når som helst slette din profil hos os.</p>
            <h2>Dataportabilitet:</h2>
            <p class="pushed-text">
                Du kan anmode om dataportabilitet, bl.a. for personoplysninger, som er afgivet med dit samtykke, eller som har været nødvendige for indgåelse af købsaftalen.
            </p>
            <h2>For at udøve dine rettigheder:</h2>
            <p class="pushed-text">
                kan du kontakte vores kundeservice(mail: nykant.development@gmail.com eller telefon: +4527131499). Din henvendelse vil blive besvaret hurtigst muligt og senest inden for 7 dage.
                
            </p>
            <p class="pushed-text">Vi beder dig bekræfte din identitet eller afgive yderligere oplysninger, før du kan håndhæve dine rettigheder over for os. Vi gør dette for at være sikre på, at vi kun giver adgang til personoplysningerne for dig - og ikke for én, som blot giver sig ud for at være dig.</p>
            <h2>Klage til tilsynsmyndigheden:</h2>
            <p class="pushed-text">Hvis du er uenig i måden, som vi behandler dine personoplysninger på, kan du indsende en klage til Datatilsynet. Du kan finde nærmere information om din klageadgang på Datatilsynets hjemmeside: www.datatilsynet.dk.</p>
                   
        </div>
        <div>
            <h1>7. Ændringer</h1>
            <p>
                Vi kan foretage ændringer af denne databeskyttelsespolitik, f.eks. som følge af ændringer i Websidens opbygning eller funktionalitet. Hvis der er tale om væsentlige ændringer, informerer vi herom på Websiden og/eller i et nyhedsbrev.
            </p>
        </div>
    </div>
</div>