
<div class="row background-lightblue">
    <div class="privacy-header center">
        <h1>Salgs- og leveringsbetingelser</h1>
    </div>
</div>
<div class="row ">
    <div class="privacy-information col-6 center">

        <div>
            <h1>1. Anvendelsesområde</h1>
            <p>
                Disse salgsbetingelser gælder altid, når du som forbruger handler på www.nykant.dk (herefter "Websiden").
                Som en del af Websiden driver Nykant ApS (herefter "Nykant"), som er en handelsplatform, hvor du som forbruger kan købe varer direkte fra Nykant.
            </p>
            <p>
                Disse salgsbetingelser og vilkår udgør sammen med ordrebekræftelsen, det samlede aftalegrundlag for dit køb.
            </p>
            <p>Den samlede aftale og de øvrige oplysninger på Websiden findes kun på dansk. </p>
            <p>
                Bemærk, at Nykants netbutik www.nykant.dk er alene for forbrugere. Dermed ikke for erhvervsdrivende.
            </p>
            <p>
                Ved bestilling af varer via Nykants netbutik (www.nykant.dk) bekræfter du, at du hverken køber varer som erhvervsdrivende eller med henblik på videresalg.
            </p>
        </div>
        <div>
            <h1>2. Online-handel</h1>
            <p>
                Nedenfor følger en beskrivelse af købsprocessen, så du altid kan føle dig tryg, når du handler på Websiden.
            </p>
        </div>
        <div>
            <h1>
                3. Din bestilling
            </h1>
            <h3>Du skal være opmærksom på, at din afgivelse af bestilling ikke er en juridisk bindende aftale. Der er først indgået en bindende aftale mellem dig og Nykant, når du har modtaget en eller flere bindende ordrebekræftelser fra Nykant.</h3>
            <h2>Afgivelse af bestilling</h2>
            <p>
                Afgivelse af bestilling via Websiden er ikke en juridisk bindende aftale for Sælger. Sælger er først bundet af aftalen, når du har modtaget en ordrebekræftelse. Det betyder, at Sælger har mulighed for at annullere din bestilling som følge af prisfejl, trykfejl, tekniske problemer, leveringssvigt, force majeure, hvis varen ikke er på lager og lignende situationer.
            </p>
            <p>
                Force majeure foreligger, når korrekt opfyldelse af aftalevilkårene er umulig, og dette skyldes ekstraordinære omstændigheder, som leverandøren ikke kunne afbøde og ikke burde have forudset f.eks. krig, usædvanlige naturbegivenheder, brand, strejker, lockouts og pandemi.

            </p>
            <p>
                Når du har afgivet en bestilling via Websiden, vil Nykants system sende dig en ordre bekræftelse. Du bør læse ordrebekræftelsen nøje igennem og tjekke, at den stemmer overens med bestillingen. Hvis den ikke stemmer overens med din bestilling, så vil du have mulighed for at annullere ordren på hjemmesiden, her - https://localhost:5002/Order/History.

            </p>
            <p>
                Først når du har modtaget en ordrebekræftelse, er der indgået en juridisk bindende aftale mellem dig og Nyaknt.

            </p>
            <p>
                Du kan læse mere om dine ordrer på Websiden. Hvis du har spørgsmål kan du altid kontakte os.
            </p>
            <h2>Ordre foretaget på nykant.dk er behandlet af:</h2>
            <p>
                Nykant ApS<br />
                CVR-nr.: 0000000<br />
                Kongensgade 31B 1<br />
                5000 Odense C, Danmark.<br />
                Telefonnr. til kundeservice: 27131499. E-mail: nykant.development@gmail.com
            </p>
        </div>
        <div>
            <h1>4. Betaling</h1>
            <p>Nykant bruger Stripe(PCI service provider/betalingstjenesteudbyder) til at håndtere betalingen og kvitteringer. </p>
            <p>Alle priser er i danske kroner og inkl. moms. Alle udgifter i relation til varen, herunder til porto, fragt, emballage mv., samt en samlet pris vil fremgå ved bestilling og af ordrebekræftelsen.</p>
            <p>Leveringsomkostninger vil variere afhængig af, hvilken vare og leveringsform du har valgt.</p>
            <p>Du kan vælge mellem de betalingsmåder, som vi tilbyder i købsprocessen. </p>
            <p>Beløb hæves først på dit kort, når dine varer er blevet sendt. </p>
        </div>
        <div>
            <h1>5. Levering og forsinkelse</h1>
            <p>Hvor leverer vi til?</p>
            <p>Hvem bruger vi til levering?</p>
            <p>Levering vil tage imellem hvor lang tid???</p>
            <p>Pris for levering?</p>
            <h2>Leveringsomkostninger</h2>
            <h2>Leveringsmåde</h2>
            <p>
                Leveringsmåden fremgår af ordrebekræftelsen. Sælger bærer risikoen for varen, indtil den er overgivet til dig, dvs. indtil varen er i din besiddelse.
            </p>
            <h2>Forsinket levering</h2>
            <p>Hvis leveringen af din vare er forsinket, så får du besked, så snart Sælger bliver opmærksom på forsinkelsen. Du får samtidig besked om, hvornår du kan forvente, at din vare vil blive leveret.</p>
        </div>
        <div>
            <h1>6. Fortrydelsesret</h1>
        </div>
        <div>
            <h1>7. Returret?</h1>
        </div>
        <div>
            <h1>8. Reklamationer</h1>
        </div>
        <div>
            <h1>9. Personoplysninger</h1>
            <p>Nykants databeskyttelsespolitik kan læses <a asp-controller="Home" asp-action="PrivacyPolicy">her</a>.</p>
        </div>
        <div>
            <h1>10. Tvister</h1>
            <p>Hvis du er utilfreds med Nykants håndtering af en reklamation eller andet, skal du først forsøge at løse tvisten direkte med os. Såfremt dette ikke lykkes, kan du indbringe sagen for Nævnenes Hus på www.naevneneshus.dk og herefter Forbrugerklagenævnet eller gøre brug af Europa-Kommissionens online klageportal ("ODR"). Alle tvister skal afgøres i henhold til dansk ret. Såfremt sagen indbringes for domstolene, skal den afgøres ved dit hjemting, dvs. i nærheden af, hvor du bor.</p>
        </div>
        <div>
            <h1>11. Ændring af vilkår</h1>
            <p>Ændrer vi vores vilkår, samtykker og politikker, og har det væsentlig betydning for dig og dine købte ydelser, orienterer vi dig via e-mail. Du kan altid se de gældende vilkår på vores hjemmeside.</p>
        </div>
    </div>
</div>