@page
@model ChangePasswordModel
@inject IConfiguration configuration
@{
    ViewData["Title"] = "Skift Password";
    ViewData["Description"] = "";
}
@{
    //ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    var nykantBaseUrl = configuration.GetSection("Urls")["mvc"];
}

<div class="logo-link">
    <a href="@nykantBaseUrl">
        <div id="logo"></div>
    </a>
</div>

<div class="fullscreen background-lightgrey top-side-padding">
    <div class="responsive-container">

        <div class="sidebar">
            <div class="profile-nav">
                <a asp-area="identity" asp-page="/account/manage/email">Skift Email</a>
                <a class="current" asp-area="identity" asp-page="/account/manage/changepassword">Skift Password</a>
            </div>
        </div>

        <div class="responsive-form-2 top-side-padding">
            <div class="row">
                <form id="change-password-form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="password_update_success">
                    <div class="profile-inputs">
                        <div class="header">Skift Password</div>
                        <div class="custom-input">
                            <input asp-for="Input.OldPassword" />
                            <label asp-for="Input.OldPassword"></label>
                            <span asp-validation-for="Input.OldPassword"></span>
                        </div>
                        <div class="custom-input">
                            <input asp-for="Input.NewPassword" />
                            <label asp-for="Input.NewPassword"></label>
                            <span asp-validation-for="Input.NewPassword"></span>
                        </div>
                        <div class="custom-input">
                            <input asp-for="Input.ConfirmPassword" />
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword"></span>
                        </div>
                    </div>

                    <div class="col-12 right top-side-padding">
                        <button type="submit" class="button">Update password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@*<form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="update_success" asp-controller="settings" asp-action="changeemail">
        <div class="profile-inputs">
            <div class="header">Change Email</div>
            <div class="custom-input">
                <input asp-for="@Model.Email" />
                <label asp-for="@Model.Email"></label>
                <span asp-validation-for="@Model.Email"></span>
            </div>

            <div class="error-div" id="changeemail-error-div">
                <p id="changeemail-error-text"></p>
            </div>

        </div>
        <div class="col-12 right top-side-padding">
            <button type="submit" class="button">Opdater</button>
        </div>
    </form>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
