@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    //ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<script src="~/js/password-updated.js" defer></script>

<div class="row border-bottom" style="background-color:white">
    <div class="col-10 center padding">
        <a class="nykant-logo" href="https://nykant.dk"><span style="color:var(--blue)">NY</span>KANT</a>
    </div>
</div>

<div style="width:100%; height:100%;" class="background-lightgrey top-side-padding">
    <div class="responsive-container">

        <div class="sidebar">
            <div class="profile-nav">
                <a asp-controller="settings" asp-action="changeemail">Change Email</a>
                <a class="current" asp-area="identity" asp-page="/account/manage/changepassword">Change Password</a>
            </div>
        </div>

        <div class="responsive-form-2 top-side-padding">
            <div class="row">
                <form id="change-password-form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="password_update_success">
                    <div class="profile-inputs">
                        <div class="header">Change Password</div>
                        <div class="custom-input">
                            <input asp-for="Input.OldPassword"  />
                            <label asp-for="Input.OldPassword"></label>
                            <span asp-validation-for="Input.OldPassword" ></span>
                        </div>
                        <div class="custom-input">
                            <input asp-for="Input.NewPassword"  />
                            <label asp-for="Input.NewPassword"></label>
                            <span asp-validation-for="Input.NewPassword" ></span>
                        </div>
                        <div class="custom-input">
                            <input asp-for="Input.ConfirmPassword"  />
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword" ></span>
                        </div>

                        <div class="error-div" id="changepassword-error-div">
                            <p id="changepassword-error-text"></p>
                        </div>
                        <div class="success-div" id="changepassword-success-div">
                            <p id="changepassword-success-text"></p>
                        </div>
                    </div>

                    <div class="col-12 right top-side-padding">
                        <button type="submit" class="button">Update password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    

    @*<form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="update_success" asp-controller="settings" asp-action="changeemail">
            <div class="profile-inputs">
                <div class="header">Change Email</div>
                <div class="custom-input">
                    <input asp-for="@Model.Email" />
                    <label asp-for="@Model.Email"></label>
                    <span asp-validation-for="@Model.Email"></span>
                </div>

                <div class="error-div" id="changeemail-error-div">
                    <p id="changeemail-error-text"></p>
                </div>

            </div>
            <div class="col-12 right top-side-padding">
                <button type="submit" class="button">Opdater</button>
            </div>
        </form>*@

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
