@page
@model EmailModel
@inject IConfiguration configuration
@{
    ViewData["Title"] = "Skift Email";
    ViewData["Description"] = "";
}
@{
    //ViewData["ActivePage"] = ManageNavPages.Email;
    var nykantBaseUrl = configuration.GetSection("Urls")["mvc"];
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="logo-link">
    <a href="@nykantBaseUrl">
        <div id="logo"></div>
    </a>
</div>

<div class="fullscreen background-lightgrey top-side-padding">
    <div class="responsive-container">

        <div class="sidebar">
            <div class="profile-nav">
                <a class="current" asp-area="identity" asp-page="/account/manage/email">Skift Email</a>
                <a asp-area="identity" asp-page="/account/manage/changepassword">Skift Password</a>
            </div>
        </div>

        <div class="responsive-form-2 top-side-padding">
            <div class="row">
                <form id="email-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="profile-inputs">
                        <div class="header">Skift Email</div>

                        <div class="custom-input">
                            @if (Model.IsEmailConfirmed)
                            {
                                <div class="email-verification green-text" >✓</div>
                            }
                            else
                            {
                                <div class="email-verification red-text" >X</div>
                            }
                            <input asp-for="Email" disabled />
                            <label asp-for="Email"></label>
                            <span asp-validation-for="Email"></span>

                        </div>

                        @if (!Model.IsEmailConfirmed)
                        {
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="button width-30">Send bekræftelses email</button>
                        }

                        <div class="custom-input">
                            <input asp-for="Input.NewEmail" />
                            <label asp-for="Input.NewEmail"></label>
                            <span asp-validation-for="Input.NewEmail"></span>
                        </div>

                        @*<div class="error-div" id="changeemail-error-div">
                                <p id="changeemail-error-text"></p>
                            </div>
                            <div class="success-div" id="changeemail-success-div">
                                <p id="changeemail-success-text"></p>
                            </div>*@

                    </div>
                    <div class="col-12 right top-side-padding">
                        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="button">Skift Email</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
