
@{
    ViewData["Title"] = "Nykant er et dansk møbelbrand, som designer moderne egetræsmøbler i dansk design.";
    ViewData["Description"] = "Nykant er et nyt dansk møbel brand, med inspiration fra dansk design. Vi er en lille familieejet virksomhed. Vores familie har været indenfor træindustrien i generationer, og har meget erfaring inden for behandling, bearbejdning og forhandling med træ. Derfor er det meget naturligt for os, at producere vores egne møbler, som vi sælger under eget mærke.Vores møbler er produceret i Slovenien, af højkvalitets massivt egetræ, hvorefter de bliver transporteret til et lager i Danmark."; 


}

<link rel="stylesheet" href="https://static.nykant.dk/css/privacy.min.css" />

<div class="my-row background-color2">
    <div class="privacy-header center">
        <p class="titlesize line-height-100">OM NYKANT</p>
        @*<h1>@localizer["About Us"]</h1>*@
    </div>
</div>

<div class="my-row">
    <div class="responsive-col center">
        <div class="simple-info">
            <h1>Nykant er et dansk møbel brand, med inspiration fra dansk design.</h1>
            <p>
                Vi er en lille familieejet virksomhed. Vores familie har været indenfor træindustrien i generationer, og har meget erfaring inden for behandling, bearbejdning og forhandling med træ. Derfor er det meget naturligt for os, at producere vores egne møbler, som vi sælger under eget mærke.
                Vores møbler er produceret i Slovenien, af højkvalitets massivt egetræ, hvorefter de bliver transporteret til et lager i Danmark.
                <br />
                <br />
            </p>

            <p>
                Vi elsker træ!
                <br />
                Det er verdens mest miljøvenlige råstof, og en af nøglerne til En bæredygtig fremtid.
                <br />
                Det er en fornyelig ressource, og der kommer mere og mere træ i Danmarks og Europas
                skove, fordi der bliver plantet mere end der bliver fældet.
                <br />
                Så træ er genialt som råstof, og det giver et fantastiske indendørs klima, samt ro og balance i de fleste hjem.
                <br />
                <br />
            </p>

            <p>
                Med kærlighed til træ, vil vi være med til at innovere møbelindustrien. Vi sætter meget pris på minimalistiske detajler, og går efter at tegne nogle unikke og praktiske designs, med æstetik, som gør møblet mere tiltrækkende, hver gang man kigger på det. Det er møbler i dansk design med kant.
                <br />
                <br />
            </p>
            <p>
                Hvis du har nogen spørgsmål, kan du finde vores kontakt information <a class="simple-link" asp-action="contact" asp-controller="home">her</a>.
                <br />
                <br />
            </p>

            @*@if (localizer["About Info"] == null)
            {

            }
            else
            {
                @localizer["About Info"]
            }*@
        </div>
    </div>
</div>

