

@{
    ViewData["Title"] = "Kontakt os";
    ViewData["Description"] = "Kontakt Nykant.";

}

<link rel="stylesheet" href="https://static.nykant.dk/css/privacy.min.css" />

<div class="my-row background-color2">
    <div class="privacy-header center">
        <h1>KONTAKT</h1>
        @*<h1>@localizer["Contact Us"]</h1>*@
    </div>
</div>

<div class="my-row">
    <div class="responsive-container center">
        <div class="simple-info">
            <h1>Kontakt info</h1>
            <p>Du kan kontakte os på tlf.: +4520481527 eller på email: <a href="mailto:peter@svinding.dk">peter@svinding.dk</a></p>
            @*@if (localizer["Contact info"] == null)
        {

        }
        else
        {
            @localizer["Contact info"]
        }*@

        </div>
    </div>
</div>

