
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Kontakt os";
    ViewData["Description"] = "Kontakt Nykant.";

}

<div class="my-row background-color2">
    <div class="privacy-header center">
        <h1>KONTAKT</h1>
        @*<h1>@localizer["Contact Us"]</h1>*@
    </div>
</div>

<div class="my-row">
    <div class="responsive-container center">
        <div class="simple-info">
            <h1>Kontakt info</h1>
            <bold>Nykant ApS</bold>
            <p><bold>Email: </bold><a href="mailto:mail@nykant.dk">mail@nykant.dk</a></p>
            @*@if (localizer["Contact info"] == null)
            {

            }
            else
            {
                @localizer["Contact info"]
            }*@

        </div>
    </div>
</div>

