@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Hvordan man handler hos os?";
    ViewData["Description"] = "Om Nykant.";

}

<link rel="stylesheet" href="~/css/privacy.css?1" />

<div class="my-row background-color2">
    <div class="privacy-header center">
        <h1>Hvordan gennemfører man en handel?</h1>
    </div>
</div>

<div class="my-row">
    <div class="responsive-container center">
        <div class="simple-info">
            <p class="bold-text bottom-side-padding">For at foretage et køb hos os, skal du igennem 5 trin:</p>
            <div class="pushed-text">
                <p>1. Find den eller de varer du ønsker, og læg dem i indkøbskurven. Gå herefter til kassen.</p>
                <p>2. Indtast dine personlige oplysninger.</p>
                <p>3. Vælg betalingsmåde og indtast nødvendige informationer for betaling.</p>
                <p>4. Godkend vores handelsbetingelser.</p>
                <p>5. Tjek at alle oplysninger er korrekte, og tryk betal for at gennemføre købet.</p>
            </div>
        </div>
    </div>
</div>