@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Nykants Privatlivspolitik";
    ViewData["Description"] = "Nykants politik omkring håndtering af persondata.";
}

<div class="my-row background-color2">
    <div class="privacy-header center">
        <h1>Håndtering Af Persondata</h1>
        @*<h1>@localizer["Privacy Policy"]</h1>*@
    </div>
</div>
<div class="my-row">
    <div class="privacy-information col-6 center">
        <div>
            <h1>1. Generelt</h1>
            <p>
                Denne databeskyttelsespolitik gælder ved indsamling og brug af personoplysninger på nykant.dk. Den indeholder bl.a. oplysninger om, hvilke personoplysninger, der indsamles, hvad de bruges til, og hvilke rettigheder du har. Nykant Aps, er ansvarlig for behandlingen og kan kontaktes i tilfælde af spørgsmål.
            </p>
        </div>

        <div>
            <h1>2. Hvilke oplysninger indsamler vi og hvorfor</h1>
            <p>
                Nedenfor findes en oversigt over, hvilke personoplysninger vi indsamler om dig og formålet hermed. Vi har også beskrevet, hvad der efter vores mening udgør retsgrundlaget i de forskellige situationer:
            </p>
            <h2>Ved køb af varer</h2>
            <p class="pushed-text">Ved køb af et af vores produkter registrerer vi dit navn, telefonnummer, email adresse, betalingsoplysninger, hvilke varer du køber og hvornår samt informationer om udlevering og leveringsadresse. Derudover vil vi også kunne behandle oplysninger om returneringer.</p>
            <p>Formålet med at registrere oplysningerne er at opfylde og administrere vores aftale med dig samt følge op på salget internt i organisationen.</p>

            <h2>Reklamationer: </h2>
            <p class="pushed-text">Hvis du reklamerer over en vare, har vi brug for kontaktoplysninger for at kunne registrere reklamationen.</p>
            <p>
                Formålet med at registrere de ovenstående oplysninger om dig, er, at vi skal kunne opfylde og administrere vores aftale med dig, om det gælder levering, skader eller returneringer.
            </p>

            <h2>Samtykke: </h2>
            <p class="pushed-text">Hvis vi modtager dit samtykke, eller du trækker dit samtykke tilbage, er det lovmæssigt krævet at vi gemmer et bevis på samtykket. I det tilfælde skal vi kunne binde beviset op på dig, ved brug af personlig data. Dette kan være IP Addresse, Navn eller Email Addresse.</p>

            <h2>
                Kundeservice:
            </h2>
            <p class="pushed-text">Afhængig af, hvad henvendelsen drejer sig om, og hvordan du kontakter os (via telefon eller email), skal vi vide, hvem du er, hvilket produkt du har købt og din adresse eller dit telefonnummer.</p>
        </div>

        <div>
            <h1>3. Brug af cookies mv.</h1>
            <p>
                Vi gør brug af såkaldte cookies for at give vores brugere en bedre oplevelse på hjemmesiden. En cookie er en tekstfil, der lagres i din browser, når du besøger eller bevæger dig rundt på hjemmesiden.
            </p>
            <p>
                Du kan vælge, at vi ikke må lægge sådanne cookies i din browser. De fleste browsere (Google Chrome, Firefox, Internet Explorer, Safari, Opera, etc.) er sat op til automatisk at acceptere cookies, men du kan selv ændre indstillingerne, så cookies ikke accepteres. Ulempen ved at deaktivere cookies i browseren er, at hjemmesiden så ikke vil fungere optimalt. Det skyldes, at formålet med de fleste af vores cookies er at sikre funktionaliteten, f.eks. sørger de for, hvad du har lagt i indkøbskurven, giver dig en god checkout oplevelse, husker din preference for sprog og dit cookie samtykke.
            </p>
            <p>En fuldstændig oversigt over cookies generelt og hvilke cookies vi bruger, findes <a class="simple-link" href="https://nykant.dk/home/cookiepolicy">her</a>.</p>
        </div>

        <div>
            <h1>4. Sletning</h1>
            <p>
                De personoplysninger som er knyttet til dine køb vil normalt blive slettet, når der ikke længere er behov for dem for at kunne besvare dine henvendelser, og reklamationsfristen for produktet er udløbet, medmindre vi har brug for at gemme oplysningerne i en længere periode for at opfylde andre legitime formål eller lovkrav, f.eks. i regnskabslovgivningen.
            </p>
            <p>Personoplysninger, som vi behandler på grundlag af dit samtykke, slettes hvis du trækker dit samtykke tilbage.</p>
        </div>

        <div>
            <h1>5. Dine rettigheder</h1>
            <p>Her kan du se dine rettigheder, som du til enhver tid kan gøre gældende:</p>
            <h2>Tilbagetrækning af samtykke:</h2>
            <p class="pushed-text">
                Hvis du har givet samtykke til at modtage henvendelser fra os med tilbud på varer og tjenester, kan du når som helst trække dette samtykke tilbage. Vi har gjort det nemt for dig at takke nej til sådanne tilbud, hver gang du modtager en henvendelse fra os. Samtykke kan også trækkes tilbage ved at kontakte kundeservice.
            </p>
            <h2>Anmodning om indsigt:</h2>
            <p class="pushed-text">
                Du har ret til at få indsigt i, hvilke personoplysninger vi har registreret om dig.
            </p>
            <h2>Anmodning om berigtigelse eller sletning:</h2>
            <p class="pushed-text">Du kan også bede os berigtige fejlagtige oplysninger om dig eller slette personoplysningerne helt. Vi vil så vidt muligt imødekomme en anmodning om sletning af personoplysninger, men vi kan ikke gøre dette, såfremt der er tungtvejende grunde til ikke at slette disse, f.eks. krav om, at vi skal opbevare oplysningerne til dokumentationsbrug.</p>
            <h2>Dataportabilitet:</h2>
            <p class="pushed-text">
                Du kan anmode om dataportabilitet, bl.a. for personoplysninger, som er afgivet med dit samtykke, eller som har været nødvendige for indgåelse af købsaftalen.
            </p>
            <h2>For at udøve dine rettigheder:</h2>
            <p class="pushed-text">
                kan du kontakte os <a class="simple-link" href="https://nykant.dk/home/contact">her</a>. Din henvendelse vil blive besvaret hurtigst muligt og senest inden for 7 dage.
            </p>
            <p class="pushed-text">Vi beder dig bekræfte din identitet eller afgive yderligere oplysninger, før du kan håndhæve dine rettigheder over for os. Vi gør dette for at være sikre på, at vi kun giver adgang til personoplysningerne for dig - og ikke for én, som blot giver sig ud for at være dig.</p>
            <h2>Klage til tilsynsmyndigheden:</h2>
            <p class="pushed-text">Hvis du er uenig i måden, som vi behandler dine personoplysninger på, kan du indsende en klage til Datatilsynet. Du kan finde nærmere information om din klageadgang på Datatilsynets hjemmeside: <a class="simple-link" href="https://www.datatilsynet.dk">www.datatilsynet.dk</a>.</p>
        </div>

        <div>
            <h1>6. Ændringer</h1>
            <p>
                Vi kan foretage ændringer af denne databeskyttelsespolitik, f.eks. som følge af ændringer i hjemmesidens opbygning eller funktionalitet. Hvis der er tale om væsentlige ændringer, informerer vi herom på hjemmesiden og/eller i et nyhedsbrev.
            </p>
        </div>
        @*@if (@localizer["PrivacyPolicy"] == null)
        {
            
        }
        else
        {
            @localizer["PrivacyPolicy"]
        }*@
    </div>
</div>