
@{
    ViewData["Title"] = "Nykants Privatlivspolitik";
    ViewData["Description"] = "Nykants politik omkring håndtering af persondata.";
}

<link rel="stylesheet" href="~/css/privacy.css" />

<div class="my-row background-color2">
    <div class="privacy-header center">
        <h1>Persondatapolitik</h1>
        @*<h1>@localizer["Privacy Policy"]</h1>*@
    </div>
</div>
<div class="my-row">
    <div class="privacy-information responsive-col center">
        <div>
            <h1>Generelt</h1>
            <p>
                Denne databeskyttelsespolitik gælder ved indsamling og brug af personoplysninger på nykant.dk. Den indeholder bl.a. oplysninger om, hvilke personoplysninger, der indsamles, hvad de bruges til, og hvilke rettigheder du har.
            </p>
            <p class="top-side-padding">
                Den dataansvarlige på nykant.dk er Nykant ApS.
            </p>
        </div>

        <div>
            <h1>Hvilke oplysninger indsamler vi og hvorfor</h1>
            <p>
                Nedenfor findes en oversigt over, hvilke personoplysninger vi indsamler om dig og formålet hermed.
            </p>
            <div class="pushed-text">
                <h2>Ved køb af varer</h2>
                <p>
                    Ved køb af et af vores produkter registrerer vi dit navn, addresse, telefonnummer, email adresse.
                </p>
                <p class="top-side-padding">
                    Vi registrerer og videregiver de personoplysninger, som er nødvendige for at kunne levere varen til dig.
                </p>
            </div>
            <div class="pushed-text">
                <h2>Reklamationer: </h2>
                <p>Hvis du reklamerer over en vare, har vi brug for navn, addresse, ordrenummer og bevismateriale for at kunne behandle reklamationen.</p>
            </div>


            <div class="pushed-text">
                <h2>Samtykke: </h2>
                <p>Hvis vi modtager dit samtykke(for eksempel for cookies, handelsbetingelser eller nyhedsbrev), eller du trækker dit samtykke tilbage, er det lovmæssigt krævet at vi gemmer et bevis på samtykket. I det tilfælde skal vi kunne binde beviset op på dig, ved brug af personlig data. Dette kan være IP Addresse, Navn eller Email Addresse.</p>

            </div>

            <div class="pushed-text">
                <h2>
                    Kundeservice:
                </h2>
                <p>Afhængig af, hvad henvendelsen drejer sig om, og hvordan du kontakter os (via telefon eller email), skal vi bruge, navn, ordrenummer og addresse.</p>
            </div>


            <div class="pushed-text">
                <h2>
                    Nyhedsbrev:
                </h2>
                <p>Ved tilmeldelse af nyhedsbrev, gemmer vi din email addresse, for at kunne sende dig nyhedsbreve over email.</p>
            </div>

            <div class="top-side-padding">
                <p>Vi samarbejder herudover med en række andre virksomheder, som opbevarer og behandler data. Virksomhederne behandler udelukkende oplysninger på vores vegne og må ikke bruge dem til egne formål. </p>
                <p class="top-side-padding">Vi samarbejder kun med databehandlere i EU eller i lande, der kan give dine oplysninger en tilstrækkelig beskyttelse.</p>
            </div>

        </div>

        <div>
            <h1>Brug af cookies mv.</h1>
            <p>Vores cookiepolitik kan læses <a class="simple-link" asp-controller="Home" asp-action="CookiePolicy">her</a>.</p>
        </div>

        <div>
            <h1>Dataopbevaring</h1>
            <p>
                De personoplysninger som er knyttet til dine køb registreres hos Nykant ApS og opbevares i fem år, hvorefter oplysningerne slettes.
            </p>
            <p>
                Personoplysninger, som vi behandler på grundlag af dit samtykke, slettes hvis du trækker dit samtykke tilbage.
            </p>
        </div>

        <div>
            <h1>Dine rettigheder</h1>
            <p>Her kan du se dine rettigheder, som du til enhver tid kan gøre gældende:</p>

            <div class="pushed-text">
                <h2>Tilbagetrækning af samtykke:</h2>
                <p>
                    Hvis du har givet samtykke til at modtage henvendelser fra os med tilbud på varer og tjenester, kan du når som helst trække dette samtykke tilbage. Vi har gjort det nemt for dig at takke nej til sådanne tilbud, hver gang du modtager en henvendelse fra os. Samtykke kan også trækkes tilbage ved at kontakte kundeservice.
                </p>
            </div>

            <div class="pushed-text">
                <h2>Anmodning om indsigt:</h2>
                <p>
                    Du har ret til at få indsigt i, hvilke personoplysninger vi har registreret om dig.
                </p>
            </div>

            <div class="pushed-text">
                <h2>Anmodning om berigtigelse eller sletning:</h2>
                <p>
                    Du kan også bede os berigtige fejlagtige oplysninger om dig eller slette personoplysningerne helt. Vi vil så vidt muligt imødekomme en anmodning om sletning af personoplysninger, men vi kan ikke gøre dette, såfremt der er tungtvejende grunde til ikke at slette disse, f.eks. krav om, at vi skal opbevare oplysningerne til dokumentationsbrug.
                </p>
            </div>


            <h2>For at udøve dine rettigheder:</h2>
            <p>
                For at udøve dine rettigheder kan du kontakte os på email: mail@nykant.dk. Din henvendelse vil blive besvaret hurtigst muligt og senest inden for 7 dage.
            </p>
            <p class="top-side-padding">Vi beder dig bekræfte din identitet eller afgive yderligere oplysninger, før du kan håndhæve dine rettigheder over for os. Vi gør dette for at være sikre på, at vi kun giver adgang til personoplysningerne for dig - og ikke for én, som blot giver sig ud for at være dig.</p>
            
            <h2>Klage til tilsynsmyndigheden:</h2>
            <p>Hvis du er uenig i måden, som vi behandler dine personoplysninger på, kan du indsende en klage til Datatilsynet. Du kan finde nærmere information om din klageadgang på Datatilsynets hjemmeside: <a class="simple-link" href="https://www.datatilsynet.dk">www.datatilsynet.dk</a>.</p>
        </div>

        <div>
            <h1>Ændringer</h1>
            <p>
                Vi kan foretage ændringer af denne databeskyttelsespolitik, f.eks. som følge af ændringer i hjemmesidens opbygning eller funktionalitet. Hvis der er tale om væsentlige ændringer, informerer vi herom på hjemmesiden og/eller i et nyhedsbrev.
            </p>
        </div>
        @*@if (@localizer["PrivacyPolicy"] == null)
        {
            
        }
        else
        {
            @localizer["PrivacyPolicy"]
        }*@
    </div>
</div>