@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Nykants Salgs- Og Leveringsbetingelser";
    ViewData["Description"] = "Nykants betingelser for salg og levering.";
}

<link rel="stylesheet" href="~/css/privacy.css?1" />

<div class="my-row background-color2">
    <div class="privacy-header center">
        <h1>Handelsbetingelser</h1>
        @*@localizer["Terms And Conditions"]*@
    </div>
</div>
<div class="my-row ">
    <div class="privacy-information responsive-col center">
        <div>
            <h1>Generelle oplysninger</h1>
            <p>
                Virksomhedsnavn: Nykant ApS
            </p>
            <p>Cvr nummer: 42525995</p>
            <p>Addresse: </p>
            <p>
                Kongensgade 31B, 1. tv
            </p>
            <p>5000 Odense C</p>
            <p>Mailadresse: mail@nykant.dk</p>
            <p>telefon: +4527131499</p>
        </div>

        <div>
            <h1>Anvendelse</h1>
            <p>
                Disse salgsbetingelser gælder altid, når du som forbruger handler på nykant.dk. Nykant.dk er en handelsplatform, hvor du som forbruger kan købe varer direkte fra Nykant.
            </p>
            <p class="top-side-padding">
                Alle produkter som sælges på nykant.dk, er originale produkter, designet og produceret af Nykant Aps.
            </p>
            <p class="top-side-padding">
                Disse vilkår og betingelser udgør sammen med ordrebekræftelsen, det samlede aftalegrundlag for dit køb.
            </p>
            <p class="top-side-padding">
                Ved bestilling af varer via Nykants handelsplatform bekræfter du, at du ikke køber varer med henblik på videresalg.
            </p>
        </div>

        <div>
            <h1>Betaling</h1>
            <p>Nykant bruger Stripe(PCI service provider/betalingstjenesteudbyder) til at håndtere betalingen og betalingsoplysningerne. </p>
            <p>Alle priser er i danske kroner og inkl. moms.</p>
            <p>En samlet pris vil fremgå ved bestilling, af ordrebekræftelsen og fakturaen.</p>
            <p>
                Du kan vælge mellem de betalingsmetoder, som vi tilbyder i købsprocessen hvilket kun indebære kortbetaling på nuværende tidspunkt. Følgende kort accepteres via kortbetaling: Visa, Mastercard og American Express.
            </p>
            <p>Beløb hæves først når dine varer er sendt fra lageret, hvor du på samme tid vil modtage en faktura via email.</p>
        </div>

        <div>
            <h1>Levering</h1>
            <p>
                Der kan ikke vælges forskellige leveringsmuligheder, dvs. at ordrer med varer der vejer over 20 kg. leveres på leveringsadressen via DKI Pallegods og ordrer uden varer over 20 kg. leveres på leveringsadressen via GLS.
            </p>
            <p>
                Vi levere kun i danmark, og der er ingen leveringsomkostninger.

            </p>
            <p>Vi bestræber os på at levere indenfor 3-5 hverdage. </p>
            <p>
                Der er ingen opbæring på nogen af leveringsmulighederne.
            </p>
        </div>

        <div>
            <h1>Fortrydelsesret</h1>
            <p >
                Som forbruger har du 14 dages fortrydelsesret, når du handler hos os.
            </p>
            <p class="top-side-padding">Fortrydelsesfristen udløber 14 dage efter den dag, du har modtaget din vare. Hvis du har bestilt flere forskellige varer i én ordre, men de leveres enkeltvist, løber fristen fra den dag, hvor du modtager den sidste vare.</p>
            <p class="top-side-padding">Fristen indebærer, at du har 14 dage fra modtagelsen til at give os besked om, at du vil fortryde dit køb. Du kan sende en mail til mail@nykant.dk eller benytte standardfortrydelsesformularen, som du finder vedlagt i ordrebekræftelsen eller kan downloades her(pdf link).</p>
            <p class="top-side-padding">
                Du kan ikke fortryde købet ved at nægte at modtage varen uden samtidig at give os besked.
            </p>

            <h2>
                Fortrydelse af en del af købet
            </h2>
            <p>
                Hvis du har købt flere varer hos os, har du mulighed for at sende én eller flere varer retur, selvom de er købt i én ordre.
            </p>
            <p>
                Bemærk, at du ikke får fragtomkostningerne retur, hvis du fortryder en del af dit køb.
            </p>

            <h2>Returnering</h2>
            <p>Når du har givet os besked om, at du vil fortryde dit køb, har du 14 dage til at sende varen tilbage til os.</p>
            <p>Du skal selv betale for at pakken returneres, og det er dig, der hæfter, hvis der opstår en skade under transporten. </p>
            <p>Visse varer kan ikke returneres med normal post. Dette gælder for: Alle varer over 20kg. Hvor vi vil aftale med DKI Pallegods at de skal komme og hente varen hos dig.</p>
            <p>
                Udgifterne for returnering af disse varer forventes højst at koste: 300kr. og 750kr. for kunder fra bornholm.
            </p>
            <p>Da du ikke kan betale DKI Pallegods direkte, vil udgifterne blive trukket fra det beløb som returneres til kunden, for de returnerede varer.</p>

            <h2>Varens stand, når du sender den retur</h2>
            <p>Hvis varen har mistet værdi, og det skyldes at du har brugt den på en anden måde, end hvad der var nødvendigt for at fastslå varens art, egenskaber og den måde, den fungerer, kan du kun få en del af købsbeløbet tilbage. Beløbet du kan få tilbage afhænger af varens handelsmæssige værdi, og i visse tilfælde kan det betyde, at du kun kan få fragtomkostningerne tilbage.</p>
            <p>Vi anbefaler, at du sender varen retur i den originale emballage.</p>
            <p>Hvis den originale emballage mangler, kan det muligvis medføre en værdiforringelse af varen.</p>

            <h2>Tilbagebetaling af købsbeløbet </h2>
            <p>Hvis du fortryder dit køb, får du dine penge tilbage, minus det beløb vi betaler for at returnere dine varer hvis varen skal returneres med DKI Pallegods. Hvis varen er værdiforringet, fratrækker vi det beløb, du hæfter for. </p>
            <p>Vi refunderer alle betalinger modtaget fra dig, herunder leveringsomkostninger (det gælder dog ikke ekstra leveringsomkostninger i de tilfælde, hvor du har valgt en anden leveringsform, end den billigste form for standardlevering, som vi tilbyder), senest 14 dage fra den dag, hvor vi har modtaget din besked om, at du vil fortryde aftalen. </p>
            <p>Vi tilbagefører pengene med samme betalingsmiddel, som du benyttede ved købet, medmindre vi har aftalt andet.</p>
            <p>Vi kan tilbageholde betalingen indtil vi har modtaget varen, med mindre du sender os dokumentation for at have returneret den. </p>

        </div>
        <div>
            <h1>6. Reklamationer</h1>
            <p>
                Hvis der mod forventning skulle være problemer med et produkt, så ordner vi det uden omkostninger for jer.
            </p>

            <div class="pushed-text">
                <h2>
                    Send en email til mail@nykant.dk med:
                </h2>
                <p><span class="bold-text inline right-side-padding">-</span>ordrenummer</p>
                <p><span class="bold-text inline right-side-padding">-</span>Beskrivelse af reklamationen</p>
                <p><span class="bold-text inline right-side-padding">-</span>Billeder af problemet</p>
            </div>


            <p></p>
        </div>
        <div>
            <h1>7. Personoplysninger</h1>
            <p>Nykants databeskyttelsespolitik kan læses <a class="simple-link" asp-controller="Home" asp-action="PrivacyPolicy">her</a>.</p>
        </div>
        <div>
            <h1>8. Tvister</h1>
            <p>Hvis du er utilfreds med Nykants håndtering af en reklamation eller andet, skal du først forsøge at løse tvisten direkte med os. Såfremt dette ikke lykkes, kan du indbringe sagen for Nævnenes Hus på <a class="simple-link" href="https://www.naevneneshus.dk">www.naevneneshus.dk</a> og herefter Forbrugerklagenævnet eller gøre brug af Europa-Kommissionens online klageportal ("ODR"). Alle tvister skal afgøres i henhold til dansk ret. Såfremt sagen indbringes for domstolene, skal den afgøres ved dit hjemting, dvs. i nærheden af, hvor du bor.</p>
        </div>
        <div>
            <h1>9. Ændring af vilkår</h1>
            <p>Ændrer vi vores vilkår, samtykker og politikker, og har det væsentlig betydning for dig og dine købte ydelser, orienterer vi dig via e-mail. Du kan altid se de gældende vilkår på vores hjemmeside.</p>
        </div>
        @*@if (localizer["TermsAndConditions"] == null)
        {

        }
        else
        {
            @localizer["TermsAndConditions"]
        }*@

    </div>
</div>