<div class="row top-padding bottom-side-padding">
    <div class="col-4 center">
        <a asp-controller="Email" asp-action="SendEmail" class="col-4 center">
            <div class="button">
                <p>Send Email</p>
            </div>
        </a>
    </div>

    <div class="col-4 center top-side-padding">
        <a asp-controller="Email" asp-action="SendSingleEmail">
            <div class="button">
                <p>Send Single Email</p>
            </div>
        </a>
    </div>

    <div class="col-4 center top-side-padding">
        <button type="button" class="button" asp-controller="Email" asp-action="SendMultipleEmail">Multiple email test</button>
    </div>
</div>