<div class="row top-padding bottom-side-padding">
    <a asp-controller="Email" asp-action="SendSingleEmail" class="col-4 center">
        <div class="button">
            <p>Register</p>
        </div>
    </a>
    <div class="col-4 center top-side-padding">
        <button type="button" class="button" asp-controller="Email" asp-action="SendMultipleEmail">Multiple email test</button>
    </div>
</div>