@model Feed
@{
    ViewData["Title"] = "Posts";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="~/css/my-list.css" />

@*<div class="padding-50 center">
        <h1>Insert Facebook Graph API Page Access Token</h1>
        <form method="post" asp-controller="Facebook" asp-action="PostAccessToken">
            <input type="text" name="accessToken" />
        </form>
    </div>*@



<div class="my-row bottom-padding">
    <div class="responsive-container center" id="posts_list">
        <partial name="_PostsPartial" />
    </div>
</div>



