@model Feed
@{
    ViewData["Title"] = "Posts";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="~/css/my-list.css" />

@*<div class="padding-50 center">
        <h1>Insert Facebook Graph API Page Access Token</h1>
        <form method="post" asp-controller="Facebook" asp-action="PostAccessToken">
            <input type="text" name="accessToken" />
        </form>
    </div>*@

@*<div class="json-get-info">
        @if (Model != null)
        {
            <h1 class="bottom-side-padding center">http get request: </h1>
            <p class="bottom-padding">@Model.Request</p>
            <h1 class="bottom-side-padding center">json response:</h1>
            <p>@Model.Json</p>
        }
        else
        {
            <h1 class="bottom-side-padding center">http get request:</h1>
            <h1 class="bottom-side-padding center">json response:</h1>
        }
    </div>*@

<div class="my-row bottom-padding">
    <div class="responsive-container center" id="posts_list">
        <partial name="_PostsPartial" />
    </div>
</div>



