<div class="row top-padding">
    <div class="col-6 center">
        <div class="register-form">

            <h4>@ViewBag.StatusMessage</h4>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 center">

        <a asp-action="Login" class="col-4 left fadein right-side-padding top-side-padding">
            <div class="button">
                <p>Login</p>
            </div>
        </a>

    </div>
</div>