@model LoginViewModel

<partial name="_ValidationSummary" />

<form asp-route="Login">
    <div class="row top-padding">

        @if (Model.EnableLocalLogin)
        {

            <div class="col-6 center dark-card">
                <div class="local-login">
                    <div class="header">
                        NYKANT ACCOUNT LOGIN
                    </div>

                    <input type="hidden" asp-for="ReturnUrl" />

                    <div class="inputstyle">
                        <input required asp-for="Username" />
                        <label asp-for="Username"></label>
                        <span asp-validation-for="Username"></span>
                        <div class="underline"></div>
                    </div>

                    <div class="inputstyle">
                        <input required asp-for="Password" />
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password"></span>
                        <div class="underline"></div>
                    </div>

                    @if (Model.AllowRememberLogin)
                    {
                        <div class="remember-me">
                            <label class="checkbox" asp-for="RememberLogin">
                                <input type="checkbox" asp-for="RememberLogin">
                                <span class="checkmark"></span>
                            </label>
                            <p>remember me</p>
                        </div>

                       
                    }

                </div>  
            </div>
        }
    </div>
    <div class="row">
        <div class="col-6 center">

            <div class="col-4 right fadein">
                <button class="button dark-card right-side-padding" type="submit" name="button" value="login">Login</button>
            </div>

            <a asp-controller="Account" asp-action="GoBack" class="col-4 left fadein right-side-padding  ">
                <div class="button dark-card">
                    <p>Go Back</p>
                </div>
            </a>

            <a asp-controller="Account" asp-action="Register" class="col-4 left fadein right-side-padding  ">
                <div class="button dark-card">
                    <p>Register</p>
                </div>
            </a>

        </div>
    </div>
</form>

@if (Model.VisibleExternalProviders.Any())
{
    <div class="col-6 center top-side-padding">
        <div class="dark-card">
            <div class="external-login ">
                <div class="header">
                    EXTERNAL ACCOUNT LOGIN
                </div>
                <ul>
                    @foreach (var provider in Model.VisibleExternalProviders)
                    {
                        <li>
                            <a 
                               asp-controller="External"
                               asp-action="Challenge"
                               asp-route-scheme="@provider.AuthenticationScheme"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                @provider.DisplayName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </div>
}

@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
{
    <div class="alert alert-warning">
        <strong>Invalid login request</strong>
        There are no login schemes configured for this request.
    </div>
}

