@model RegisterVM

<form asp-controller="Account" asp-action="Register" method="post">
    <input placeholder="Email" asp-for="@Model.Email" />
    <input placeholder="FirstName" asp-for="@Model.FirstName" />
    <input placeholder="LastName" asp-for="@Model.LastName" />
    <input placeholder="Password" asp-for="@Model.Password" />
    <input type="submit" value="Register"/>
</form>