@model RegisterVM

@{
    <form asp-controller="Account" asp-action="ConfirmEmail" method="post">
        <p>
            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed:
            <input type="hidden" asp-for="@Model.Email" />
            <input type="hidden" asp-for="@Model.ReturnUrl" />
            <button type="submit">Click here to confirm your account</button>
        </p>
    </form>
}