@*@model string
<script src="~/js/status-message.js" defer></script>
@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Fejl") ? "danger" : "success";
    <div id="status-alert2" class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button id="status-close-button2" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model
    </div>
}*@