@page "{userId}/{code}"
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="row top-padding">
    <div class="col-6 center">
        <div class="register-form">
            <h4>@Model.StatusMessage</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 center">

        <div class="col-4 left fadein right-side-padding top-side-padding">
            <button id="closeButton" class="button"></button>
        </div>

    </div>
</div>

<script src="~/js/timeoutCloseWindow.js"></script>