@page
@model ForgotPasswordModel
@inject IConfiguration configuration 
@{
    ViewData["Title"] = "Glemt password";
    var nykantBaseUrl = configuration.GetSection("Urls")["mvc"];
}

<div class="logo-link">
    <a href="@nykantBaseUrl">
        <div id="logo"></div>
    </a>
</div>

<div class="responsive-container">
    <div class="responsive-form-3 top-side-padding">
        <div class="row">
            <form method="post">
                <div class="profile-inputs">
                    <div class="header">@ViewData["Title"]</div>
                    <div class="custom-input">
                        <input asp-for="Input.Email" class="form-control" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 right top-side-padding">
                    <button type="submit" class="button">Nulstil password</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
