@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Glemt Password Bekræftelse";
    ViewData["Description"] = "";
}

<div class="row top-padding bottom-side-padding">
    <div class="col-6 center background-white" >
        <div class="info padding">
            <div class="header">@ViewData["Title"]</div>
            <p>En mail med et link til at nustille dit password, er blevet sendt til din email.</p>
        </div>
    </div>
</div>