@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row border-bottom" style="background-color:white">
    <div class="col-10 center padding">
        <a class="nykant-logo" href="https://nykant.dk"><span style="color:var(--blue)">NY</span>KANT</a>
    </div>
</div>

<div class="responsive-container">
    <div class="responsive-form-2 top-side-padding">
        <div class="row">
            <form method="post">
                <div class="profile-inputs">
                    <div class="header">Skriv din email</div>
                    <div class="custom-input">
                        <input asp-for="Input.Email" class="form-control" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 right top-side-padding">
                    <button type="submit" class="button">Send password nulstillelse</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
