@page "{email}/{logout}"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="row top-padding">
    <div class="col-6 center">
        <div class="register-form">

            <h4>@Model.Status</h4>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 center">

        <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl" class="col-4 left fadein right-side-padding top-side-padding">
            <div class="button">
                <p>Login</p>
            </div>
        </a>

    </div>
</div>

@if (Model.Logout)
{
    <script>
        setTimeout(function () {
            location.replace("https://nykant.dk/account/logout")
        }, 5000)
    </script>
}
