@page
@model ResetPasswordModel
@inject IConfiguration configuration
@{
    ViewData["Title"] = "Nulstil Password";
    ViewData["Description"] = "";
}
@{
    var nykantBaseUrl = configuration.GetSection("Urls")["mvc"];
}

<div class="logo-link">
    <a href="@nykantBaseUrl">
        <div id="logo"></div>
    </a>
</div>

<div style="width:100%; height:100%;" class="background-lightgrey top-side-padding">
    <div class="responsive-container">

        <div class="responsive-form-3 top-side-padding">
            <div class="row">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />

                    <div class="profile-inputs">
                        <div class="header">@ViewData["Title"]</div>

                        <div class="custom-input">
                            <input asp-for="Input.Email" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email"></span>
                        </div>
                        <div class="custom-input">
                            <input asp-for="Input.Password" />
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password"></span>
                        </div>
                        <div class="custom-input">
                            <input asp-for="Input.ConfirmPassword" />
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword"></span>
                        </div>
                    </div>

                    <div class="col-12 right top-side-padding">
                        <button type="submit" class="button">Nulstil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
