@*@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Nulstil Password Bekræftelse";
    ViewData["Description"] = "";
}


<div class="row top-padding bottom-side-padding">
    <div class="col-6 center background-white">
        <div class="info padding">
            <div class="header">@ViewData["Title"]</div>
            <p>
                Dit password er blevet nulstillet. <a class="text-underline" asp-controller="Account" asp-action="Login">Klik her for at logge ind</a>.
            </p>
        </div>
    </div>
</div>*@
