

<a asp-controller="Test" asp-action="SendPdfToS3">SendPdfToS3</a>
<form asp-controller="Test" asp-action="MakeInvoiceForPaymentCapture">
    <input name="paymentCaptureId" placeholder="PaymentCapture Id" />
    <button type="submit">Make Invoice With PaymentCapture</button>
</form>
<a asp-controller="Test" asp-action="SendPdfToS3">MakeInvoiceForPaymentCapture</a>

