<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" />

    @*<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />*@

    <link rel="stylesheet" href="~/css/isstyle.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/custom-input.css" />
    <link rel="stylesheet" href="~/css/custom-input2.css" />
    <link rel="stylesheet" href="~/css/custom-checkbox.css" />
    <link rel="stylesheet" href="~/css/register.css" />
    <link rel="stylesheet" href="~/css/profile.css" />

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
