
@model ResetPasswordEmailModel

@{
    Layout = "_ResetPasswordEmailLayout";
    ViewData["EmailTitle"] = "Nulstil Password";
}

<p>
    Tryk på linket nedenfor, for at nulstille dit password på Nykant.dk.
</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Nulstil Password", Model.ResetPasswordUrl))

