
@model ResetPasswordEmailModel

@{
    Layout = "_EmailLayout";
    ViewData["EmailTitle"] = "Reset Password";
}

<p>
    Tryk på linket nedenfor, for at nulstille dit password på Nykant.dk.
</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Nulstil Password", Model.ResetPasswordUrl))

<br />

<p>
    Hvis du har nogen spørgsmål, kan du altid skrive til denne mail.
</p>
