/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}

.inputstyle {
    padding: 20px;
}

    .inputstyle select {
        width: 200px;
        padding: 5px;
        outline: none;
        border: 1px solid grey;
        background: none;
        color: grey;
    }

    .inputstyle input {
        width: 200px;
        padding: 5px;
        outline: none;
        border: none;
        background: none;
        transition: box-shadow 0.3s ease;
        color: black;
    }

    .inputstyle label {
        position: absolute;
        color: grey;
        pointer-events: none;
        transition: all 0.3s ease;
        transform: translate(-200px, 0);
    }

    .inputstyle span span {
        position: absolute;
        transform: translate(-200px, +30px);
        width: 200px;
        height: auto;
        font-size: 14px;
        z-index: 10;
        text-align: left;
        animation:hide 0.3s ease-in 5s forwards;
        background-color: var(--light-blue);
        padding:5px;
    }

    @keyframes hide {
        from {
            transform: translate(-200px, +30px);
            width: 200px;
            height: auto;
            padding: 5px;
        }
        to {
            transform: translate(-200px, -30px);
            width: 0px;
            height: 0px;
            overflow: hidden;
            padding: 0px;
        }
    }

    .inputstyle .underline {
        margin:auto;
        height: 2px;
        width: 200px;
        background: grey;
        transform: scaleX(0.2);
        transform-origin: left;
        transition: transform 0.3s ease;
    }

    .inputstyle input:focus ~ .underline, .inputstyle input:valid ~ .underline, .inputstyle input:hover ~ .underline {
        transform: scaleX(1);
        background: black;
    }

    .inputstyle input:focus ~ label, .inputstyle input:valid ~ label, .inputstyle input:hover ~ label {
        transform: translate(-200px, -25px);
        font-size: 12px;
        opacity: 0.5;
        color: black;
    }
