.register-confirmed {
    padding:30px;
}

.register-form {
    padding: 30px;
    text-align: center;
    background-color: white;
}

#register-complete {
    top: 97px;
    display: none;
    right: 0px;
    position: fixed;
    height: auto;
    padding: 20px;
    background-color: white;
    width: 400px;
    animation: register-complete 0.3s;
}

#register-failed {
    padding: 40px;
    position: fixed;
    left: 25%;
    top: 25%;
    height: auto;
    width: 50%;
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
    z-index: 20;
}

@keyframes register-complete {
    from {
        right: -400px;
    }

    to {
        right: 0px;
    }
}

#register-complete p {
    padding-bottom: 30px;
    display: inline-block;
}

#register-complete-close {
    position: absolute;
    transform: scale(1.5);
    cursor: pointer;
    right: 30px;
    transition: all 0.1s;
}

#register-complete .button {
    margin-top: 50px;
}

#register-complete-close:hover {
    transform: scale(2);
}

.gdpr-accept {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    display: inline-block;
    width: 400px;
    color: black;
    font-size: 20px;
}