@{
    ViewData["Title"] = "Home Page";
}

<div class="img-container">
    <div id="downarrow" class="arrow-container">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>
</div>

<div class="about">
    <h1 style="margin-top:4%">NYKANT</h1>
    <p style="margin:0;font-size:23px">vi søger hele tiden efter inspirerende, <br />og innovativ design som vil kunne imponere, <br />og begejstre vores kunder, med ny kant.</p>
</div>

<div class="slide-container">
    <div class="left-text">
        <h1>Kundernes favoritter</h1>
    </div>
    <div class="card">
        <div class="card_part card_part-one">
        </div>
        @*Photo 2*@
        <div class="card_part card_part-two">

        </div>
        @*Photo 3*@
        <div class="card_part card_part-three">
        </div>
        @*Photo 4*@
        <div class="card_part card_part-four">
        </div>
    </div>
</div>
