<div class="row background-grey">
    <div class="privacy-header center ">
        <h1>Privatliv</h1>
        <a>Instillinger</a>
    </div>
</div>
<div class="row">
    <div class="privacy-information col-6 center">
        <p>her vil jeg skrive alt i skal vide om jeres privatliv :')</p>
        <p>
            Nogle af de data vi gemmer i din browser er essentielle for at hjemmesiden kan fungere: <br />
            - når du skal tjekke ud gemmer vi 'produkterne', 'købers informationer', og <br />
            - "kurven"
        </p>
    </div>
</div>