<div class="row background-grey">
    <div class="col-3 center privacy-header">
        <h1>Privatliv</h1>
        <a>Instillinger</a>
    </div>
</div>
<div class="row">
    <div class="privacy-information col-6 center">
        <p>her vil jeg skrive alt i skal vide om jeres privatliv :')</p>
    </div>
</div>