.checkout-wrap {
    width:auto;
    height:auto;
}

.main-content {
    width: 41.66vW;
    min-height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

    .main-content input {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom:10px;
        display: block;
    }

.side-content {
    width: 23vW;
    min-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-items {

}

.sidebar-item {
    display:flex;
}

.sidebar-item img {
    height:auto;
    width:100px;
}

.shipping-method {
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}