.middle {
    z-index: -1;
    background: #4cff00;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.text {
    background: #4cff00;
    z-index: -1;
    color: #4cff00;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
}

.card_part-one:hover, .card_part-two:hover, .card_part-three:hover, .card_part-four:hover {
    opacity: 0.3;
}

    .card_part-one:hover .middle, .card_part-two:hover .middle, .card_part-three:hover .middle, .card_part-four:hover .middle {
        opacity: 1;
    }
