/* Navbar --------------------------------------------------------*/
div.container {
    text-align:center;
    position: fixed;
    padding:40px 40px;
    width: 100%;
    box-shadow: 0px 0px 20px #535353;
    z-index: 100;
}

    div.container a {
        position: relative;
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
        margin: 0px 10px;
        padding: 10px 10px;
        z-index: 0;
        cursor: pointer;
    }

.gray {
    background: #9e9e9e;
}

#nav-logo {
    right: 5%;
}

.container-nav-a {
    padding-right: 0%;
}

/* Highlight text out  */
div.highlightTextOut a {
    color: rgba(255, 255, 255, 0.3);
}

    div.highlightTextOut a:before, div.highlightTextIn a:before {
        position: absolute;
        color: #FFF;
        top: 0px;
        left: 0px;
        padding: 10px;
        overflow: hidden;
        content: attr(alt);
        transition: all 0.3s;
        transform: scale(0.8);
        opacity: 0;
    }

    div.highlightTextOut a:hover:before, div.highlightTextIn a:hover:before {
        transform: scale(1);
        opacity: 1;
    }

/* Highlight text in  */
div.highlightTextIn a {
    color: rgba(0, 0, 0, 0.4);
}

    div.highlightTextIn a:before {
        transform: scale(1.2);
    }

/*FRONT PAGE -----------------------------------------------------------------*/

.img-frontpage {
    background-image: url(../images/Home-Wallpaper-20.jpg);
    height: 88vh;
    display: block;
    box-shadow: 0px 0px 20px #535353;
}

.about {
    font-size: 2vw;
    text-align: center;
    color: #484848;
}
@media only screen and (min-width: 768px) {
    .about {
        height: 80vh;
    }
}

@keyframes slidefadeleft {
    0% {
        opacity: 0;
        left: 0%
    }

    100% {
        opacity: 1;
        left: 50%
    }
}

@keyframes slidefadeleft2 {
    0% {
        opacity: 0;
        left: -12%
    }

    100% {
        opacity: 1;
        left: 0%
    }
}

@keyframes slidefaderight {
    0% {
        opacity: 0;
        right: -12%;
    }

    100% {
        opacity: 1;
        right: 0%;
    }
}

.about div {
    box-shadow: 0px 0px 20px #535353;
    animation-name: slidefadeleft;
    animation-duration: 3s;
    display: none;
}

@media only screen and (min-width: 768px) {
    .about div {
        position: relative;
        top: 25%;
        left: 50%;
    }

}

.about h1 {
    padding-top:5%;
    margin-bottom: 5%;
}

.about p {
    padding-bottom: 5%;
}

/* Slideshow --------------------------------------------------*/

.fp-product-info {
    box-shadow: 0px 0px 20px #535353;
    position: relative;
    border-radius: 10px;
    height: 45vh;
    animation-name: slidefadeleft2;
    animation-duration: 3s;
    display: none;
}

.slide-container {
    position:relative;
    animation-name:slidefaderight;
    animation-duration: 3s;
    display: none;
}

.center {
    text-align: center;
}

.card_part-one:hover, .card_part-two:hover, .card_part-three:hover, .card_part-four:hover {
    opacity: 0.3;
}

.card {
    margin: 0 auto;
    position: relative;
    height: 45vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #756c41;
}

.card_part {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX( 100% );
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
    transition: .5s ease;
    backface-visibility: hidden;
}

    .card_part.card_part-one {
        z-index: 7;
        background-image: url('../images/Finback-Chairs1-1280x853-c-default.jpg');
        animation-delay: 0s;
    }

    .card_part.card_part-two {
        z-index: 6;
        background-image: url('../images/Finback-Chairs1-1280x853-c-default.jpg');
        animation-delay: 7s;
    }

    .card_part.card_part-three {
        z-index: 5;
        background-image: url('../images/Finback-Chairs1-1280x853-c-default.jpg');
        animation-delay: 14s;
    }

    .card_part.card_part-four {
        z-index: 4;
        background-image: url('../images/Finback-Chairs1-1280x853-c-default.jpg');
        animation-delay: 21s;
    }


@keyframes opaqTransition {
    3% {
        transform: translateX( 0 );
    }

    25% {
        transform: translateX( 0 );
    }

    28% {
        transform: translateX( -100% );
    }

    100% {
        transform: translateX( -100% );
    }
}


/* Product Gallery ------------------------------------------------*/ 

.product-container {
    position: relative;
    box-shadow: none;
}

.product-image {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    backface-visibility: hidden;
    background-size: cover;
}

.product-info {
    position: relative;
    top: 7px;
    text-align: left;
    box-shadow: none;
    border: none;
    border-style: none;
}

.product-info h4 {
    font-size: 14px;
    text-decoration:solid;
}

.product-info p, .forsale{
    font-size:12px;
}

.forsale {
    text-decoration:line-through;
    float:left;
}

.product-info span {
    font-size: 12px;
    color: red;
    text-decoration: none;
    float: left;
    white-space:pre;
}

.cd-gallery li {
    box-shadow: none;
    border: none;
    border-style: none;
}

.seemore {
    background-color: #e0e0e0;
    transition: .5s ease;
    position: absolute;
    bottom: 0%;
    text-align: center;
    opacity: 0;
    width: 100%;
    height: 15%;
}

    .product-container:hover .seemore{
        opacity:0.5;
    }

.product-container a:hover .seemore {
    opacity: 1;
    box-shadow: 0px 0px 10px #fcff90;
}

/* Details ------------------------------------------------*/

.details-image-container {
    position:relative;
    height: 70vh;
    margin-top:5%;
}

.details-image-list {
    position: absolute;
    width: 10%;
    height: 100%;
}

.details-image-list-image {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: .5s ease;
    float: left;
}

.details-image {
    position: absolute;
    width: 90%;
    height: 100%;
    right: 0;
}

    .details-image img {
        position: absolute;
        height: auto;
        width: 100%;
        object-fit: contain;
        transition: .5s ease;
    }

.details-info {
    position: relative;
    height: 70vh;
    margin-top: 5%;
}


