.product-info {
    position: relative;
    top: 7px;
    text-align: left;
    box-shadow: none;
    border: none;
    border-style: none;
}

.price {
    color: #000000;
    font-size: 16px;
    padding-bottom: 10px;
}

.title {
    left: 0;
    color: #000000;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: groove;
    border-bottom-color: black;
    border-bottom-width: thin;
}

.product-container {
    position: relative;
}

.cd-gallery li {
    box-shadow: none;
    border: none;
    border-style: none;

}
