.product-info {
    position: relative;
    text-align: left;
    box-shadow: none;
    border: none;
    border-style: none;
    overflow: auto;
}

.title, .price {
    left:0;
    color: #000000;
    font-size: 16px;
    padding: 5px;
    border-bottom: 1.5px solid #ddd;
}

.product-container {
    position: relative;
}

.cd-gallery li {
    box-shadow: none;
    border: none;
    border-style: none;
}
