*,
*::before,
*::after {
	box-sizing: border-box;
}

.center {
	text-align:center;
}

.middle {
	opacity: 0;
	transition: .5s ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.text {
	background: #000000;
	color: #ffffff;
	font-size: 16px;
	padding: 16px 32px;
	text-decoration: none;
}

.card_part-one:hover .card_part-one, .card_part-two:hover, .card_part-three:hover, .card_part-four:hover {
	opacity: 0.3;
}

.card_part-one:hover .middle, .card_part-two:hover .middle, .card_part-three:hover .middle, .card_part-four:hover .middle {
	opacity: 1;
}

.card {
	margin: 0 auto;
	position: relative;
	width: 700px;
	height: 400px;
	overflow: hidden;
	border-radius: 5px;
}



.card_part {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	transform: translateX( 700px );
	animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
	transition: .5s ease;
	backface-visibility: hidden;
}
	.card_part.card_part-one {
		z-index: 7;
		background-image: url('../images/Finback-Chairs1-1280x853-c-default.jpg');
		animation-delay: 0s;
	}

	.card_part.card_part-two {
		z-index: 6;
		background-image: url('../images/Finback-Chairs1-1280x853-c-default.jpg');
		animation-delay: 7s;
	}

	.card_part.card_part-three {
		z-index: 5;
		background-image: url('../images/Finback-Chairs1-1280x853-c-default.jpg');
		animation-delay: 14s;
	}

	.card_part.card_part-four {
		z-index: 4;
		background-image: url('../images/Finback-Chairs1-1280x853-c-default.jpg');
		animation-delay: 21s;
	}


@keyframes opaqTransition {
	3% {
		transform: translateX( 0 );
	}

	25% {
		transform: translateX( 0 );
	}

	28% {
		transform: translateX( -700px );
	}

	100% {
		transform: translateX( -700px );
	}
}
