@media only screen and (max-width: 600px) {
    .col-wrapper {
        min-width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    .col-wrapper {
        min-width: 600px;
    }
}
@media only screen and (min-width: 768px) {
    .col-wrapper {
        min-width: 768px;
    }
}
@media only screen and (min-width: 992px) {
    .col-wrapper {
        min-width: 992px;
    }
}

.bagtitle {
    padding: 15px;
    min-width: 100%;
    height: 50px;
    color: black;
    background-color: #effbff;
    font-weight: bold;
}

.bagtable {
    height: auto;
    width: 100%;
}

.bagtable-headers {
    font-size: 20px;
    padding: 10px;
    display: inline-table;
    width: 100%;
    color: black;
    font-weight: bold;
}

    .bagtable-headers div {
        width: 16.65%;
        float: right;
    }

.bagtable-headers div#header-product {
    float:left;
}

.bag-item {
    font-size: var(--font-size-small-plus);
    /*    border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    color: black;
    background-color: #effbff;
}

    .bag-item div {
        width: 16.65%;
        padding: 10px;
    }

    .bag-item div#bag-item-image {
        width:33.3%;
    }

        .bag-item div#bag-item-quantity{

        }

        .bag-item div#bag-item-quantity input, .bag-item div#bag-item-quantity label {
            padding:10px;
            border:none;
        }

        #bag-item-name {
            padding-top:30px;
        }

.bag-item div#bag-item-quantity input {
    background-color: #effbff;
    color: black;
    padding: 8px;
}
                .bag-item div#bag-item-quantity input:hover {
                    color: black;
                    padding: 8px;
                    border: 1px solid black;
                }

            .bag-item div#bag-item-quantity label {
                z-index: -1;
            }

    .bag-item img {
        height: auto;
        width: 125px;
        display: block;
    }

.bag-item div#bag-item-price {
    padding-top:40px;
}

#bag-item-total {
    padding-top:40px;
}

.checkout-wrap {
    margin-left:10px;
    color:black;
    background-color: transparent;
    border:2px solid black;
    padding: 5%;
    min-height: 200px;
}
    .checkout-wrap a {
        padding: 2%;
    }

.checkout-price {
    text-align: center;
    display:inline-block;
    margin-top: 20px;
    font-weight:bold;
}

/*.counter-thing{
    border:
    color:var(--light-grey);
    cursor:pointer;
    background-color:var(--dark);
}*/

/*.counter-thing:hover {
    color: var(--green);
}*/