

.bagtitle {
    padding: 15px;
    margin-bottom:15px;
    min-width: 100%;
    height: 50px;
    color: black;
    background-color: var(--light-blue);
    font-weight: bold;
    text-align:center;
}

.bagtable {
    height: auto;
    width: 100%;
}

.bagtable-headers {
    font-size: 20px;
    padding: 10px;
    display: inline-table;
    width: 100%;
    color: black;
    font-weight: bold;
    margin-bottom:15px;
}

    .bagtable-headers div {
        width: 20%;
        float: right;
    }

.bagtable-headers div#header-product {
    float:left;
}

.bag-item {
    font-size: var(--font-size-medium);
    background-color:var(--light-blue);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    color: black;
}

    .bag-item div {
        width: 20%;
        padding: 10px;
    }

    .bag-item div#bag-item-image {
        width:20%;
    }

        .bag-item div#bag-item-quantity{

        }

        .bag-item div#bag-item-quantity input, .bag-item div#bag-item-quantity label {
            padding:10px;
            border:none;
        }



            .bag-item div#bag-item-quantity label {
                z-index: -1;
            }

    .bag-item img {
        height: auto;
        width: 125px;
        display: block;
    }

#bag-item-name {
    padding-top: 35px;
}

#bag-item-price {
    padding-top:40px;
}

#bag-item-total {
    padding-top:40px;
}

#bag-item-quantity {
    padding-top:40px;
}

.checkout-price {
    width:100%;
    border-top:3px solid var(--blue);
    text-align: left;
    font-weight:bold;
    padding-bottom:30px;
    padding-top:10px;
    margin-top:30px;
}

#add-bagitem {
    position: absolute;
    transform: translate(+415px, +15px)
}
    #add-bagitem button {
        width: 50px;
        height: 50px;
        background-color: transparent;
        color: black;
        border: none;
        transition: all .1s;
    }

#add-bagitem button:hover {
    transform: scale(1.7);
}
#remove-bagitem {
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(+475px, +15px);


}
    #remove-bagitem button {
        width: 50px;
        height: 50px;
        background-color: transparent;
        color: black;
        border: none;
        transition:all .1s;
    }

    #remove-bagitem button:hover {
        transform:scale(1.7);
    }

.order-info {
    text-align:left;
}

.order-info h1 {
    padding-bottom:20px;
}

.order-info p {
    display:inline-block;
}

#checkout-box {
    right:100px;
}

@media only screen and (max-width: 600px) {
    #bag-wrapper {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    #bag-wrapper {
        width: 600px;
    }
}

@media only screen and (min-width: 768px) {
    #bag-wrapper {
        width: 768px;
    }
}

@media only screen and (min-width: 992px) {
    #bag-wrapper {
        width: 992px;
    }
}

@media only screen and (min-width: 1200px) {
    #bag-wrapper {
        width: 1200px;
    }

}

@media only screen and (min-width: 1500px) {
    #bag-wrapper {
        width: 1200px;
    }

}

@media only screen and (min-width: 1780px) {
    #bag-wrapper {
        width: 1200px;
    }

}