.breadcrumbs {
    padding: 40px;
    min-height: 100px;
    color: grey;
    margin-left: auto;
    margin-right: auto;
    background-color:black;
}

    .breadcrumbs form {
        display: inline;
    }

    .breadcrumbs .current {
        color: white;
    }

    .breadcrumbs a {
        padding: 10px;
        color: grey;
        transition: color ease 0.4s;
    }

        .breadcrumbs a:any-link {
            color: var(--blue);
        }

            .breadcrumbs a:any-link:hover {
                color: white;
            }
