.main-content {
    width: 100%;
    min-height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding:30px;
}

.side-content {
    width: 23vW;
    min-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-items {
}

.sidebar-item {
    display: flex;
}

    .sidebar-item img {
        height: auto;
        width: 100px;
    }

    .sidebar-item p {

    }

