.breadcrumbs {

}
.breadcrumbs a:any-link {
    color:blue;
}

.main-content {
    border-radius: 5px;
    width: 100%;
    min-height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 30px;
    background-color: #474747;
}

.side-content {
    border-radius: 5px;
    color: grey;
    width: 100%;
    min-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #474747;
}

.sidebar-items {
    
}

.sidebar-item {
    display: flex;
    padding:10px;
}

    .sidebar-item img {
        height: auto;
        width: 50px;
    }

    .sidebar-item p {
        padding-left:10px;
    }

.checkout-info {

}

.checkout-info p {
    color:white;
}

.checkout-button {
    border-radius:5px;
    margin-top:10px;
    border: none;
    background-color: #474747;
    color:white;
    height:50px;
    width:100%;
    cursor:pointer;
}

    .checkout-button:hover {
        background-color: black;
    }