
.gdpr-accept {
    float: left;
    width: 100%;
    min-height: auto;
    position: relative;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    line-height:normal;
    text-align:left;
}

    .gdpr-accept a {
        display:inline;
    }

    .gdpr-accept label {
        display: inline;
        /*    float:left;*/
    }
    .gdpr-accept p {
        display: inline;
    }

    .sidebar-header {
        width:100%;
        text-align:center;
        background-color:var(--color2);
        
    }

    .sidebar-header h1 {
        line-height:50px;
    }

.sidebar {
    padding: 15px;
    color: var(--font1);
    height:auto;
    background-color:white;
    z-index:500;
}

.sidebar-items {
    font-size: 12px;
    margin-top: 20px;
}

.sidebar-item {
    display: flex;
    padding: 10px;
    margin-bottom:10px;
    background:var(--color2);
}

    .sidebar-item img {
        max-height: 50px;
        max-width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .sidebar-item p {
        margin:auto;
    }



.checkout-wrap {
    background-color: white;
    width: 100%;
    transform: translateY(-100%);
}
.credit-card {
    padding: 30px;
    color: var(--light-grey);
    width: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.customerinfo {
    height: auto;
    width: 100%;
    padding-bottom: 10px;
}

#customer-form {
    background-color: white;
    width: 100%;
    overflow: hidden;
    height: 0px;
}

#nearby-shops {
    position: fixed;
    top:20%;
    left:40%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 500px;
    overflow-y:scroll;
    background: white;
    z-index: 101;
}

.notHome {
    text-align:center;
    height:100px;
    display:none;
}

.shop {
    height:auto;
    width:100%;
    background:white;
    padding:30px;
    cursor:pointer;
}

.shop:hover {
    background: var(--color1);
}

.shop-label {
    display: block;
    cursor: pointer;
}

.customerinfo-line {
    padding:50px;
    min-width:420px;
}

.country-header{
    position:absolute;
    transform: translateY(-30deg);
}

.country-error {
    display:none;
    position: absolute;
    transform: translate(0px, 1px);
    width: 200px;
    height: auto;
    font-size: 14px;
    z-index: 10;
    text-align: left;
    animation: hideerror 0.3s ease-in 5s forwards;
    background-color: var(--color3);
    padding: 5px;
}

.customer-box {
    width: 100%;
    min-height: 110px;
    position: relative;
    float: left;
}

.invoice-address-box {
    width: 100%;
    min-height: auto;
    position: relative;
    float: left;
}

.shipping-address-box {
    display: none;
    width: 100%;
    min-height: auto;
    position: relative;
    float:left;
}

.summary-header {
    font-size:16px !important;
    padding:20px;
    border-top:1px solid var(--black-fade);
}

.same-as-invoice {
    float: left;
    width: 100%;
    min-height: auto;
    position: relative;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    line-height: normal;
    text-align: left;
}

.same-as-invoice p {
    display: inline;
}

@keyframes hideerror {
    from {
        transform: translate(0px, 1px);
        width: 200px;
        height: auto;
        padding: 5px;
    }

    to {
        transform: translate(0px, -60px);
        width: 0px;
        height: 0px;
        overflow: hidden;
        padding: 0px;
    }
}

.info {
    border: 2px solid black;
}

.checkout-price {
    width: 100%;
    border-top: 1px solid var(--black-fade);
    text-align: left;
    font-weight: normal;
    padding-top: 10px;
    margin-top: 30px;
    padding:10px;
}

    .checkout-price p {
        display: inline-block;
        width:80%;
    }

    .checkout-price span {
        display: inline-block;
        width: 20%;
    }

.checkout-delivery {
    width: 100%;
    border-top: 1px solid var(--black-fade);
    text-align: left;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top:10px;
    padding-top: 10px;
    padding: 10px;
}

    .checkout-delivery p {
        display: block;
    }

.checkout-header h1 {
    padding-top:30px;
    padding-bottom:30px;
    text-align:center;
}

.check-sign {
    position:relative;
    font-size:40px;
    color:white;
    transform:translate(-25px, -60px);
    display: none;
    float:right;
}

.checkout-header {
    width: 100%;
    color: var(--font1);
    padding: 20px;
    background-color: var(--color2);
    text-align: center;
    line-height:normal;
}

.checkout-header p {
    display:block;
    line-height:16px;
}

    .checkout-header span {
        line-height: 22px;
    }

#shipping-form {
/*    background-color: white;*/
    width: 100%;
    overflow: hidden;
    height: 0px;
}

@keyframes checkout-header {
    from {
        transform: translateY(-130%);
    }
}

.back-button {
    color:var(--dark);
    position:absolute;
    left:30px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

    .back-button:hover #arrow-icon {
        transform: scale(1.3);
        transition: all 0.3s;
    }

.payment-options {
    display:block;
    width:auto;
    height:auto;
    margin:20px;
    padding:20px;
    transition:none !important;
    cursor:pointer;
}

.payment-card-list {
    margin-top:30px;
}

.payment-card-list img {
    display:inline-block;
}

.payment-options:hover {
    background:var(--color1);
}

.credit-card-logos {
    right:40px;
}

    .credit-card-logos img {
        display: inline-block;
    }

#payment-form {
    background-color: white;
    width: 100%;
    overflow: hidden;
    height: 0px;
}


.summary {
    display:inline-block;
    padding:15px;
    padding-left:50px;
    text-align:left;
    display:none;
    min-height:100px;
}

#parcelshop-summary {
    display:none;
}

    .summary p {
        font-size: var(--small-plus);
        font-weight:bold;
    }
.summary span {
    display: inline-block;
    font-weight: normal;
}

.edit-button {
    width: 80px;
    position: relative;
    display: none;
    transform:translateY(-50px);
    float: right;
}

/*#shipping-edit-button {
    transform:translate(+25px, -30px);
}*/

.sidebar-container {
    height:1000px;
}

@media only screen and (max-width: 600px) {
    .sidebar-container {
        display:none;
        padding-left: 0px;
        padding-top: 10px;
    }

    .sidebar-container-mobile {
        display:block;
        padding-left: 0px;
        padding-top: 30px;
    }

    .sidebar {
        position: relative;
    }

    #nearby-shops {
        position: fixed;
        top: 0%;
        left: 0%;

        width: 100vw;
        height: 100%;
        overflow-y: scroll;
        background: white;
        z-index: 101;
    }

}

@media only screen and (min-width: 600px) {
    .sidebar-container-mobile {
        display:block;
        padding-left: 0px;
        padding-top: 30px;
    }

    .sidebar-container {
        display:none;
        padding-left: 0px;
        padding-top: 30px;
    }

    .sidebar {
        position: relative;
    }

    #nearby-shops {
        position: fixed;
        top: 20%;
        left: 40%;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 500px;
        overflow-y: scroll;
        background: white;
        z-index: 101;
    }

}

@media only screen and (min-width: 768px) {
    .sidebar-container {
        display:block;
        padding-left: 10px;
        padding-top: 0px;
    }

    .sidebar-container-mobile {
        display: none;
        padding-left: 0px;
        padding-top: 10px;
    }

    .sidebar {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }
}

@media only screen and (min-width: 873px) {
    .sidebar-container {
        padding-left: 10px;
        padding-top: 0px;
    }

    .sidebar {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }
}

@media only screen and (min-width: 992px) {
    .sidebar-container {
        padding-left: 10px;
        padding-top: 0px;
    }

    .sidebar {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .sidebar-container {
        padding-left: 10px;
        padding-top: 0px;
    }
    .sidebar {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }
}

@media only screen and (min-width: 1500px) {

    .sidebar-container {
        padding-left: 10px;
        padding-top: 0px;
    }
    .sidebar {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }
}

@media only screen and (min-width: 1780px) {
    .sidebar-container {
        padding-left: 10px;
        padding-top: 0px;
    }

    .sidebar {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }
}