.custom-list {
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color:white;
}

.custom-list select {
    display: none;
}

.custom-list-option {
    cursor: pointer;
    padding: 30px;

    color:black;
}

    .custom-list-option:hover {
        background-color:var(--color2);
/*        border-bottom: 1px solid black;
        border-left: 1px solid black;*/
        /*background: linear-gradient(to right, RGBA(109,206,255,0), rgba(71, 71, 71, 1))*/
    }

    .custom-list-option p {
        padding-right:30px;
        color: white;
        display: inline-flex;
    }

.selected {
    background-color: var(--color2);
    /*    border-bottom: 1px solid black;
    border-left: 1px solid black;*/
    /*    background: linear-gradient(to right, RGBA(109,206,255,0.1), rgba(71, 71, 71, 1));*/
}

.notselected {
    background-color:transparent;
/*    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(71, 71, 71, 1));*/
}
