
.checkbox {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 30px;
    width: 30px;
    float: left;
}

.checkbox-validation {
    position: absolute;
    transform: translate(0px, +30px);
    width: 200px;
    height: auto;
    font-size: 14px;
    z-index: 10;
    text-align: left;
    animation: hide2 0.3s ease-in 5s forwards;
    background-color: var(--yellow);
    padding: 5px;
    display: none;
}

@keyframes hide2 {
    from {
        transform: translate(0px, +30px);
        width: 200px;
        height: auto;
        padding: 5px;
    }

    to {
        transform: translate(0px, -30px);
        width: 0px;
        height: 0px;
        overflow: hidden;
        padding: 0px;
    }
}

.checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    visibility: hidden;
}

.checkmark {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--dark);
}

.checkbox:hover input ~ .checkmark {
    background-color: grey;
}

.checkbox input:checked ~ .checkmark {
}

.checkmark:after {
    content: "";
    position: relative;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    margin: auto;
    margin-top: 7px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
