.slideshow-space {
    z-index:-1;
    min-width:100%;
    min-height:80vh;
}

.slideshow {
    z-index: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 90vh;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid var(--black-fade);
}

.slide-container {
    top: 100px;
    width: 300%;
    height: 100%;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    width: 33.333%;
    height: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

    .slide img {
        width: 70%;
        height: 90%;
        float: right;
        object-fit: cover;
        object-position: center;
        border-left: 1px solid var(--black-fade);
    }

    .slide .slide-info {
        background-color: var(--basish);
        padding: 70px;
        padding-top: 100px;
        height: 90%;
        width: 30%;
        float: left;
        font-size: 50px;
    }

    .slide .slide-info span {
        text-decoration:  underline;
        text-decoration-thickness:2px;
    }

#radio1:checked #slide-container {
    left: 0%;
}

#radio2:checked #slide-container {
    left: -100%;
}

#radio3:checked #slide-container {
    left: -200%;
}

.slide-buttons {
    position: relative;
    top: -20px;
}

    .slide-buttons a {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background-color: var(--blue);
    }

/*      ------------------------------ ----------------------------------      */
/*      ------------------------------ ----------------------------------      */
/*      ------------------------------ ----------------------------------      */


.about-us {

    padding:100px;
    height:auto;
    text-align:left;
    border-radius:10px;

/*    border:1px solid var(--black-fade);*/
/*    background:var(--light-blue);*/
}


    .about-us p {
        display: none;
        margin: 0px auto 0px auto;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid var(--black-fade);
        font-size: 24px;
        background-color: var(--light-blue);
        color: #000000;
        animation: about-us-in 1s ease;
    }

    .about-us p span {
        padding-bottom:10px;
        font-size:40px;
    }

    @keyframes about-us-in {
        from{
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0%);
        }
    }

.newsletter {
    height:300px;
    text-align:center;
    padding:50px;
}

.newsletter h1 {
    padding-bottom: 70px;
    width:100%;
    font-size:30px;
}

.newsletter form {

}

    .newsletter form input {
        float: left;
        width: 70%;
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid var(--black-fade);
        border-radius: 5px;
        outline: none;
    }
        .newsletter form input:focus {
            border: 2px solid var(--nicegreen);
        }

    .newsletter form button {
        float:right;
        height: 50px;
        width: 28%;
        border-radius: 5px;
        border: 1px solid var(--black-fade);
        background:var(--nicegreen);
        outline: none;
    }

    .newsletter form button:hover {
        float: right;
        height: 50px;
        width: 28%;
        border-radius: 5px;
        border: 1px solid var(--black-fade);
        background: #d8ffec;
        outline: none;
    }

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1500px) {
    
}

@media only screen and (min-width: 1780px) {
    
}
