.slideshow-space {
    z-index:-1;
    min-width:100%;
    min-height:80vh;
}

.slideshow {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    margin: auto;
/*    margin-top: 30px;*/
    overflow: hidden;
    /*    border: 1px solid var(--black-fade);*/
}

.slide-container {
    width: 700%;
    height: 100%;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    width: 14.285%;
    height: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

    .slide img {
        width: 100%;
        height: 100%;
        float: right;
        object-fit: cover;
        object-position: center;
    }


#radio1:checked #slide-container {
    left: 0%;
}

#radio2:checked #slide-container {
    left: -100%;
}

#radio3:checked #slide-container {
    left: -200%;
}

.slide-buttons {
    position: relative;
}

/*      ------------------------------ ----------------------------------      */
/*      ------------------------------ ----------------------------------      */
/*      ------------------------------ ----------------------------------      */

.favorites {
    margin-top: 30px;
    background: white;
}

.favorite-img {
    height:auto;
    max-height:100%;
    max-width:100%;
    width:auto;
    margin:auto;
    transition:opacity ease .5s;
}

.favorite-item:hover .favorite-img {
    opacity:0.3;
}

.favorite-item {
    height: 500px;
    background: white;
    display: inline-block;
}

.favorites-header {
    width: 100%;
    height: auto !important;
    display: block !important;
    text-align: center;
}

    .favorites-header h1 {
        padding: 20px;
        text-align: center;
        font-size: 35px;
        border-bottom: 20px solid var(--color1);
        border-radius:15px;
        display:inline-block;
    }

.info-row {
    margin-top:50px;
    background: white;
/*    border:1px solid black;*/
}

.e-mark {
    display: block;
    width: auto;
    float: none;

}

    .e-mark p {
        width: auto;
        display: inline;
        padding: 10px;
    }

.follow-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

    .follow-container:hover {
        cursor: pointer;
    }

.follow-container:hover .follow-box {
    height: 100px;
    font-weight: normal;
    color: var(--font1);
}

.follow-box {
    position: absolute;
    border: 1px solid var(--black-fade);
    background: var(--color3);
    text-align: center;
    line-height: 50px;
    width: 200px;
    height: 50px;
    overflow: hidden;
    transition: height ease 1s;
    font-size: 20px;
}

    .follow-box p {
        line-height: 50px;
    }

    #follow-container {
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0; 
    }

        #follow-container:hover {
            cursor:pointer;
        }

            #follow-container:hover #follow-box {
                height: 100px;
                font-weight: normal;
                color: var(--font1);
            }

            #follow-link {
                height:100%;
                width:100%;
            }

#follow-box {
    position: absolute;
    border: 1px solid var(--black-fade);
    background: var(--color3);
    text-align: center;
    line-height: 50px;
    width: 200px;
    height: 50px;
    overflow: hidden;
    transition: height ease 1s;
    font-size:20px;
}

#follow-box p {
    line-height:50px;
}

.half {
    position: relative;
    display: inline-block;
    height: 600px;
    transition: opacity ease .5s;
}

.e-mark-svg {
    display: inline;
    height: 3.3em;
}

.fill {
    fill: #777069;
}

.video-details {
    position:absolute;
    bottom:45%;
    left:45%
}

.video-slide {
    transition:opacity linear .3s;
}

    .video-slide:hover .half {
        opacity:0.3;
    }

.video {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 600px;
}

.video-img {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 600px;
}

.vertical-align {
    vertical-align:middle;
}

.height-600 {
    height:600px;
}

.about-us {
    color: var(--font1);
    padding:90px;
    height:auto;
    text-align:left;
    border-radius:10px;

/*    border:1px solid var(--black-fade);*/
/*    background:var(--light-blue);*/
}

.about-us h1 {
    font-size:30px;
    padding-bottom:30px;
}

    .about-us p {
        line-height:40px;
        display:table;
        margin: 0px auto 0px auto;
/*        border: 1px solid black;*/
        font-size: 18px;
        opacity:1;
/*        animation: about-us-in 1s ease;*/
        transition:all ease 1s;
    }

    .about-us p span {
        padding-bottom:10px;
        font-size:24px;
    }

    @keyframes about-us-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .info-item {
        padding:20px;
        float:left;
        background:white;
    }

        .info-item i {
            display: block;
            font-size: 24px;
        }

        .info-item p {
            display: inline;
            font-size: 16px;
            line-height: normal;
            padding: 10px;
        }

@media only screen and (max-width: 600px) {
    .mobile-sidepadding {
        padding-left:20px;
        padding-right:20px;
    }
    .info-row {
        
    }
    .info-item {
        width:100%;
        display:block;
    }
    .e-mark {

    }

    .half {
        width:100%;
    }

    .about-us {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (min-width: 600px) {
    .mobile-sidepadding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .info-item {
        width: 100%;
        display: block;
    }
    .info-row {
        
    }
    .e-mark {

    }

    .half {
        width: 100%;
    }

    .about-us {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .info-row {
        
    }
    .info-item {
        width: 25%;
        display: inline-block;
    }
    .e-mark {

    }

    .half {
        width: 49%;
    }

    .about-us {
        padding-top:90px;
        padding-bottom:90px;
        padding-left:90px;
        padding-right:90px;
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1500px) {
    
}

@media only screen and (min-width: 1780px) {
    
}
