.slideshow-space {
    z-index:-1;
    min-width:100%;
    min-height:80vh;
}

.slideshow {
    z-index: 0;
    position: relative;
    top: 0px;
    width:100%;
    height: 75vh;
    text-align: center;
    overflow: hidden;
/*    border: 1px solid var(--black-fade);*/

}

.slide-container {
    width: 300%;
    height: 100%;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    width: 33.333%;
    height: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

    .slide img {
        width: 100%;
        height: 100%;
        float: right;
        object-fit: cover;
        object-position: center;
    }


#radio1:checked #slide-container {
    left: 0%;
}

#radio2:checked #slide-container {
    left: -100%;
}

#radio3:checked #slide-container {
    left: -200%;
}

.slide-buttons {
    position: relative;
}

/*      ------------------------------ ----------------------------------      */
/*      ------------------------------ ----------------------------------      */
/*      ------------------------------ ----------------------------------      */

.info-row {
    padding: 30px;
        margin-top:20px;

    height: auto;
    background: white;
/*    border:1px solid black;*/
}

.e-mark {
    padding-left: 50px;
}

    .e-mark p {
        float: left;
        margin: auto;
        padding: 10px;
        display: inline;
    }

.e-mark-svg {
    float:left;
    height:3.3em;
}

.fill {
    fill: #777069;
}

.info-row p {
    margin:auto;
    padding:10px;
    display:inline;
}

.truck {
    padding-left:50px;

}

    .truck i {
        font-size: 43px;
        float:left;
    }

    .truck p {
        float:left;
        display: inline;
        font-size: 16px;
        line-height:normal;
    }


.about-us {

    padding:50px;
    height:auto;
    text-align:center;
    border-radius:10px;

/*    border:1px solid var(--black-fade);*/
/*    background:var(--light-blue);*/
}


    .about-us p {
        display:table;
        margin: 0px auto 0px auto;
        padding: 20px;
/*        border: 1px solid black;*/
        font-size: 18px;
        opacity:1;
/*        animation: about-us-in 1s ease;*/
        transition:all ease 1s;
    }

    .about-us p span {
        padding-bottom:10px;
        font-size:24px;
    }

    @keyframes about-us-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

.newsletter {
    height:300px;
    text-align:center;
    padding:50px;
}

.newsletter h1 {
    padding-bottom: 30px;
    width:100%;
    font-size:30px;
}

    .newsletter p {
        padding-bottom: 30px;
    }

.newsletter form {

}

    .newsletter form input {
        float: left;
        width: 70%;
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid var(--black-fade);
        border-radius: 5px;
        outline: none;
    }
        .newsletter form input:focus {
            border: 2px solid var(--color3);
        }

    .newsletter form button {
        float:right;
        height: 50px;
        width: 28%;
        border-radius: 5px;
        border: 1px solid var(--black-fade);
        background:var(--color3);
        outline: none;
    }

    .newsletter form button:hover {
        float: right;
        height: 50px;
        width: 28%;
        border-radius: 5px;
        border: 1px solid var(--black-fade);
        background: var(--nicegreen);
        outline: none;
    }



@media only screen and (max-width: 600px) {
    .mobile-sidepadding {
        padding-left:20px;
        padding-right:20px;
    }
    .info-row {
        height: auto;
    }
    .e-mark {
        margin:auto;
        float:none;
    }
    .truck {
        margin: auto;
        float: none;
    }
}

@media only screen and (min-width: 600px) {
    .mobile-sidepadding {
        padding-left: 0px;
        padding-right: 0px;
    }

    .info-row {
        height:100px;
    }
    .e-mark {
        margin: 0;
        float: left;
    }

    .truck {
        margin: 0;
        float: left;
    }
}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1500px) {
    
}

@media only screen and (min-width: 1780px) {
    
}
