/* Navbar --------------------------------------------------------*/

/* navbar-mobile */
@media only screen and (max-width: 600px) {
    .navbar {
        display:none;
    }

    .navbar-mobile-wrap {
        margin-top:30px;
        position:relative;
        font-size: 24px;
    }

        .navbar-mobile-wrap a {
            color: #ffffff;
            display: inline-block;
            float: left;
            margin-right: 20px;
        }

    #myLinks {
        margin-top: 70px;
        width: 100%;
        background-color: #535353;
        position: absolute;
        display: none;
    }

            #myLinks a {
                width:100%;
                display: block;
                float: none;
            }
}

/* navbar-desktop */

@media only screen and (min-width: 600px) {
    .navbar-mobile {
        display: none;
    }

    .navbar-wrap {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-wrap {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-wrap {
        padding-left: 170px;
        padding-right: 170px;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar-wrap {
        padding-left: 275px;
        padding-right: 275px;
    }
}

@media only screen and (min-width: 1500px) {
    .navbar-wrap {
        padding-left: 375px;
        padding-right: 375px;
    }
}

/* navbar settings */

.navbar-wrap {
    position: relative;
    margin-top: 30px;
    font-size: 24px;
}

.navbar-wrap a {
    margin-right: 20px;
    display: inline-block;
    float: left;
}

a.icon {
    transition: all 0.3s;
    transform: scale(1);
    font-size: 24px;
    color: #484848;
    position: relative;
    float: right;
}

    a.icon:hover {
        color: #FFF;
        transition: all 0.3s;
        transform: scale(0.8);
    }

#userBurger {
    width: 100%;
    margin-top: 70px;
    position: absolute;
    background-color: #484848;
    display: none;
    z-index: 99;
}

    #userBurger a {
        width: 100%;
        display: block;
        float:none;
    }

#userBurger2 {
    width:100%;
    margin-top: 70px;
    position: absolute;
    background-color: #484848;
    display: none;
    left:0%;
    z-index:99;
}

    #userBurger2 a {
        width: 100%;
        display: block;
        float: none;
    }

.highlightTextOut a {
    color: rgba(255, 255, 255, 0.3);
}

.highlightTextOut a:before, .highlightTextIn a:before {
    position: absolute;
    color: #FFF;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
}

    .highlightTextOut a:hover:before, .highlightTextIn a:hover:before {
        transform: scale(1);
        opacity: 1;
    }

/* Highlight text in  */
.highlightTextIn a {
    color: rgba(0, 0, 0, 0.4);
}

    .highlightTextIn a:before {
        transform: scale(1.2);
    }

/*FRONT PAGE -----------------------------------------------------------------*/

.img-frontpage {
    background-image: url(../images/Home-Wallpaper-20.jpg);
    height: 88vh;
    display: block;
    box-shadow: 0px 0px 20px #535353;
    z-index: -1;
}

.about {
    font-size: 2vw;
    text-align: center;
    color: #484848;
}
@media only screen and (min-width: 768px) {
    .about {
        height: 80vh;
    }
}

@keyframes slidefadeleft {
    0% {
        opacity: 0;
        left: 0%
    }

    100% {
        opacity: 1;
        left: 50%
    }
}

@keyframes slidefadeleft2 {
    0% {
        opacity: 0;
        margin-left:0%;
    }

    100% {
        opacity: 1;
        margin-left:25%;
    }
}

@keyframes slidefaderight {
    0% {
        opacity: 0;
        right: -12%;
    }

    100% {
        opacity: 1;
        right: 0%;
    }
}

.about div {
    box-shadow: 0px 0px 20px #535353;
    animation-name: slidefadeleft;
    animation-duration: 3s;
    display: none;
}

@media only screen and (min-width: 768px) {
    .about div {
        position: relative;
        top: 25%;
        left: 50%;
    }

}

.about h1 {
    padding-top:5%;
    margin-bottom: 5%;
}

.about p {
    padding-bottom: 5%;
}

/* Slideshow --------------------------------------------------*/

.fp-product-info {
    box-shadow: 0px 0px 20px #535353;
    position: relative;
    border-radius: 10px;
    height: 45vh;
    animation-name: slidefadeleft2;
    animation-duration: 3s;
    display: none;
}

.slide-container {
    position:relative;
    animation-name:slidefaderight;
    animation-duration: 3s;
    display: none;
}

.center {
    text-align: center;
}

.card_part-one:hover, .card_part-two:hover, .card_part-three:hover, .card_part-four:hover {
    opacity: 0.3;
}

.card {
    margin: 0 auto;
    position: relative;
    height: 45vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #756c41;
}

.card_part {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX( 100% );
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
    transition: .5s ease;
    backface-visibility: hidden;
}

    .card_part.card_part-one {
        z-index: 7;
        background-image: url('../images/Finback-Chairs1-1280x853-c-default.jpg');
        animation-delay: 0s;
    }

    .card_part.card_part-two {
        z-index: 6;
        background-image: url('../images/Finback-Chairs1-1280x853-c-default.jpg');
        animation-delay: 7s;
    }

    .card_part.card_part-three {
        z-index: 5;
        background-image: url('../images/Finback-Chairs1-1280x853-c-default.jpg');
        animation-delay: 14s;
    }

    .card_part.card_part-four {
        z-index: 4;
        background-image: url('../images/Finback-Chairs1-1280x853-c-default.jpg');
        animation-delay: 21s;
    }


@keyframes opaqTransition {
    3% {
        transform: translateX( 0 );
    }

    25% {
        transform: translateX( 0 );
    }

    28% {
        transform: translateX( -100% );
    }

    100% {
        transform: translateX( -100% );
    }
}


/* Product Gallery ------------------------------------------------*/ 

.product-container {
    position: relative;
    box-shadow: none;
}

.product-image {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    backface-visibility: hidden;
    background-size: cover;
}

.product-info {
    position: relative;
    top: 7px;
    text-align: left;
    box-shadow: none;
    border: none;
    border-style: none;
}

.product-info h4 {
    font-size: 14px;
    text-decoration:solid;
}

.product-info p, .forsale{
    font-size:12px;
}

.forsale {
    text-decoration:line-through;
    float:left;
}

.product-info span {
    font-size: 12px;
    color: red;
    text-decoration: none;
    float: left;
    white-space:pre;
}

.cd-gallery li {
    box-shadow: none;
    border: none;
    border-style: none;
}

.seemore {
    background-color: #e0e0e0;
    transition: .5s ease;
    position: absolute;
    bottom: 0%;
    text-align: center;
    opacity: 0;
    width: 100%;
    height: 15%;
}

    .product-container:hover .seemore{
        opacity:0.5;
    }

.product-container a:hover .seemore {
    opacity: 1;
    box-shadow: 0px 0px 10px #fcff90;
}

/* Details ------------------------------------------------*/
.red-text {
    color:red;
}

.checked {
    color: orange;
}

.details-info-wrap {
    padding-left: 30px;
}

.details-image-wrap, .details-info-wrap {
    position: relative;
    height: 70vh;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    transition: none;
}

.details-image-list {
    float:left;
    position: relative;
    width: 20%;
    height: 100%;
}

.secondary-image-wrap {
    padding-right: 10%;
    padding-bottom: 10%;
}

    .secondary-image-wrap img {
        display:block;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        cursor: pointer;
        transition: none;
        object-fit: contain;
    }

        .secondary-image-wrap img:hover {
            transition: none;
            box-shadow: 0px 0px 10px red;
        }

.primary-image-wrap {
    position:relative;
    max-width: 80%;
    float: left;
}

    .primary-image-wrap img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        position: relative;
        object-fit: contain;
        transition: none;
    }

/*---*/

[class*="button-"] {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    cursor:pointer;
}

.button-red {
    background-color: red;
}

.button-blue {
    background-color:blue;
}

.button-brown {
    background-color:saddlebrown;
}

.quantity-wrap {
    margin:auto;
    width:75px;
    height:30px;
    border-style:solid;
    border-width:1px;
    border-color:black;
}

.quantity-wrap span {
    padding:5px;
    cursor:pointer;
}

.addtobag-button {
    margin:auto;
    background-color: black;
    width:150px;
    height:30px;
    color:white;
    cursor:pointer;
}

    .addtobag-button:hover {
        transition: none;
        box-shadow: 0px 0px 10px red;
    }

.details-description-wrap {
    margin-bottom:50px;
    position:relative;
    padding-top: 50px;
    height: 50vh;
    text-align: center;
    box-shadow: 0px 0px 10px black;
}

.details-description h1 {
    text-decoration:solid;
    font-size: 24px;
}

.details-description p {
    margin-top:5vh;
}