#karusel {
    height: 300px;
    width:100%;
    overflow: hidden;
    z-index: 0;
    position: relative;
    text-align: center;
    margin: auto;
    background:white;
    border-radius:60px;

}

#karusel-box {
    height: 100%;
    clear: both;
    position: relative;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

    #karusel-box div {
        width: 33.3333%;
        height: 100%;
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
    }

    #karusel-box div a img {
        max-width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
        object-position: center;
    }


@media only screen and (max-width: 600px) {
    #karusel {
        width:100%;
    }
}

@media only screen and (min-width: 600px) {
    #karusel {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    #karusel {
        width: 80%;
    }
}

@media only screen and (min-width: 992px) {
    #karusel {
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (min-width: 1780px) {
}
