.karusel {
    height: 300px;
    width:100%;
    overflow: hidden;
    z-index: 0;
    position: relative;
    text-align: center;
    margin: auto;
    background:white;
    border-radius:60px;

}

.karusel-box {
    left:0px;
    height: 100%;
    clear: both;
    position: relative;
    transition:all 1s;
}

    .karusel-box div {
        width: 33.3333%;
        height: 100%;
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
    }

    .karusel-header {
        text-align:center;
        padding:10px;
        font-size:25px;
    }

    .karusel-box div a {
        z-index:1000;
        height:100%;
        width:100%;
        transition:all .3s;
    }

        .karusel-box div a img {
            margin:auto;
            max-width: 100%;
            height: auto;
            max-height: 100%;
            object-fit: cover;
            object-position: center;
            pointer-events:none;
            user-select:none;
        }

        .karusel-box div a:hover {
            transform:scale(1.2);
        }

    .karusel button {
        position:absolute;
        height:100%;
        width:50px;
        background:var(--black-fade);
        color:white;
        top:0;
        border:none;
        outline:none;
    }

.karusel button img {
    transition:all ease-out .3s;
    transform:scale(.6);
    opacity:.3;
}

        .karusel button:hover img {
            transform: scale(.8);
            opacity: .7;
        }

.karusel-back {
    left:0;
}
.karusel-forward {
    right:0;
}

.karusel-discount {
    position:absolute !important;
    padding:10px !important;
/*    border-radius:30px;*/
    background:var(--color1);
    height:auto !important;
    width:auto !important;
    float:none !important;
    border:1px solid var(--black-fade);
    left:25%;
    top:5%;
    z-index:100;
}

.karusel-discount p {
    text-align:center;
    vertical-align:middle;
    color:red;
}

.karusel-price {
    position: absolute !important;
    padding: 10px !important;
    /*    border-radius: 30px;*/
    background: var(--color1);
    height: auto !important;
    width: auto !important;
    float: none !important;
    border: 1px solid var(--black-fade);
    left: 25%;
    bottom: 5%;
    z-index: 100;
}

    .karusel-price p {
        text-align: center;
        vertical-align: middle;
    }

    .karusel-price p span {

    }


@media only screen and (max-width: 600px) {
    .karusel-box div {
        width: 100%;
    }
    .karusel {
        width:100%;
    }
}

@media only screen and (min-width: 600px) {
    .karusel-box div {
        width: 100%;
    }
    .karusel {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .karusel-box div {
        width: 50%;
    }
    .karusel {
        width: 80%;
    }
}

@media only screen and (min-width: 992px) {
    .karusel-box div {
        width: 33.3333%;
    }
    .karusel {
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (min-width: 1780px) {
}


.cancelclickevent {
    pointer-events: none;
}
