/* GENERIC */

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --green: #8cffa4;
    --blue: #7ed8ff;
    --dark: #303030;
    --red: #ff5f5f;
    --light-grey: #f1f1f1;
    --dark-grey: #2b2b2b;
    --light-blue: #e8f8ff;
    --light-blue2: #effbff;
    --base: #fff1f1;
    --yellow: #feff99;
    --small: 8px;
    --small-plus: 12px;
    --medium: 16px;
    --medium-plus: 20px;
    --large: 24px;
    --extra-large: 34px;
    --black-fade: rgba(0, 0, 0, 0.1);
    --white-fade: rgba(255, 255, 255, 0.7);
    --basish: #fffff7;
    --nicegreen: #d8ffec;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    display:block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

input, textarea {
    font-size: 16px;
}

html {
    overflow-y: scroll;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: normal;
    color: black;
    background-color: white;
}

/* ----------------------- */


input[type='radio']:after {
    transition:all ease .4s;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    border:1px solid black;
    content: '';
    display: inline-block;
    visibility: visible;
    cursor: pointer;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--dark);
    border: none;
    content: '';
    display: inline-block;
    visibility: visible;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
    font-weight:bold;
    text-decoration:none;
    color:black;
}

.simple-link{
    color:black;
    text-decoration:underline;
    cursor:pointer;
}

.simple-link:hover {
    text-decoration:none;
    font-weight:bold;
    color:black;
}

ol, ul {
    list-style: none;
}

.top-footer {
    position: relative;
    color: black;
    padding: 30px;
    padding-left: 70px;
    font-family: 'Lato', sans-serif;
    background-color: var(--light-blue);
    border-top: 1px solid var(--black-fade);
}

.sidepadding100 {
    padding-left: 100px;
    padding-right: 100px;
}

.sidepadding {
    padding-left:20px;
    padding-right:20px;
}

.success-div {
    display: none;
}

    .success-div p {
        color: green;
    }

    .error-thing{
        width:20%;
        height:auto;
        z-index:101;
        background:#ff5f5f;
        color:white;
        margin-left:40%;
        margin-right:40%;
        margin-top:20%;
        padding:30px;
    }

.error-div {
    display: none;
    padding:20px;
}

    .error-div p {
        color: red;
    }

    .top-footer h1 {
        padding-bottom: 10px;
    }

.customer-service {
    display: inline-block;
    padding-right: 100px;
}

    .nykant-info {
        display: inline-block;
        padding-right: 100px;
    }

    .socialmedia {
        display: inline;
        float:right;
        margin-left:20px;
    }

    .privacy {
        text-align: left;
        padding-right: 50px;
    }

        .privacy h1 {
            padding-bottom: 10px;
            text-decoration: underline;
        }

    header span {
        color: #222;
    }

    footer span {
        color: #AAA;
    }

    .copyright {
        position: relative;
        display: inline-block;
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
        background: var(--dark);
        color: white;
    }

        .copyright p {
            display: inline-block;
            padding-left: 20px;
        }

.policy-links {
    height: auto;
    position: relative;
    display: inline-block;
    background: var(--dark);
    padding-top: 20px;
}

        .policy-links a {
            color: white;
            display: inline-block;
            padding-right: 20px;

            padding-bottom: 20px;
        }

            .policy-links a:hover {
                color: var(--blue);
            }

.fixed {
    position:fixed;
}

@media only screen and (max-width: 600px) {
    .top-footer {
        padding-left: 20px;
    }
    .policy-links {
        padding-left: 20px;
    }
}

    /* GRID ---------------------------------------------------------------*/

.my-row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    height: auto;
    width: 100%;
    -ms-flex: initial;
    flex: initial;
    max-width: initial;
    padding-right: initial;
    padding-left: initial;
}

    @media only screen and (min-width: 768px) {
        /* For desktop: */

        .col-1 {
            width: 8.33%;
        }

        .col-2 {
            width: 16.66%;
        }

        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.33%;
        }

        .col-5 {
            width: 41.66%;
        }

        .col-6 {
            width: 50%;
        }

        .col-7 {
            width: 58.33%;
        }

        .col-8 {
            width: 66.66%;
        }

        .col-9 {
            width: 75%;
        }

        .col-10 {
            width: 83.33%;
        }

        .col-11 {
            width: 91.66%;
        }

        .col-12 {
            width: 100%;
        }
    }

    /* stuff */

    .block {
        display: block;
    }

    .inline {
        display: inline-block;
    }

    .center {
        margin: auto;
        text-align: center;
    }

.text-center {
    text-align: center;
}

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .dark-card {
        background: var(--dark);
        border-radius: 5px;
    }

    .padding {
        padding: 30px;
    }

    .padding-50{
        padding: 50px;
    }

    .fullscreen-row {
        min-height: 71.7vh;
    }

    .fullscreen {
        height:100%;
        width:100%;
    }

    .padding-10 {
        padding:10px;
    }

    .z50{
        z-index:50;
    }

    .z200{
        z-index:200;
    }

    .top-padding {
        padding-top: 5vh;
    }

    .right-side-padding {
        padding-right: 10px;
    }

    .bottom-side-padding {
        padding-bottom: 10px;
    }

    .bottom-padding {
        padding-bottom: 40px;
    }

    .top-side-padding {
        padding-top: 10px;
    }

    .left-side-padding {
        padding-left: 10px;
    }

    .margin-top-10 {
        margin-top: 10px;
    }

    .margin-left-10 {
        margin-left: 10px;
    }

    .bold-text {
        font-weight:bold;
    }

    .padding-5 {
        padding:5px;
    }

    .green-text {
        color:green;
    }
.blue-text {
    color:blue;
}
.red-text {
    color:red;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

    .button {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        border-radius: 0px;
        border: 2px solid rgba(0,0,0,1);
        outline: none;
        background-color: black;
        color: white;
        height: 50px;
        width: 100%;
        cursor: pointer;
        /*    transition: all ease 0.4s;*/
        text-align: center;
    }

        .button p {
            padding-top: 13px;
        }

        .button:enabled {
            cursor: pointer;
        }

        .button:hover {
            color: black;
            background-color: white;
            font-weight: bolder;
        }

        .button:disabled {
            cursor: initial;
            color: grey;
            box-shadow: none;
            background-color: black;
        }

.green-button {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 0px;
    outline: none;
    border:none;
    background-color: darkgreen;
    color: white;
    height: 50px;
    width: 100%;
    cursor: pointer;
    /*    transition: all ease 0.4s;*/
    text-align: center;
}

    .green-button p {
        padding-top: 13px;
    }

    .green-button:enabled {
        cursor: pointer;
    }

    .green-button:hover {
        color: black;
        background-color: white;
        font-weight: bolder;
        border: 2px solid rgba(0,0,0,1);
    }

    .green-button:disabled {
        cursor: initial;
        color: grey;
        box-shadow: none;
        background-color: black;
    }

    .hidden {
        display: none;
    }

.header {
    width: 100%;
    margin-bottom: 30px;
    color: black;
    padding: 20px;
    background-color: var(--light-blue);
    text-align: center;
}

.no-margin {
    margin:0;
}

    .green-border {
        border: 1px solid var(--green);
    }

    /* ANIMATIONS */

    .slidefromleft {
        animation-name: slidefadeleft;
        animation-duration: 2s;
    }

    .slidefromdown {
        animation-name: slidefadeup;
        animation-duration: 2s;
    }

    @keyframes fadein {
        0% {
            transform: scale(0)
        }

        100% {
            transform: scale(1)
        }
    }

    @keyframes slidefadeup {
        0% {
            opacity: 0;
            margin-top: 25%;
        }

        100% {
            opacity: 1;
            margin-top: 0%;
        }
    }

    @keyframes slidefadeleft {
        0% {
            opacity: 0;
            margin-left: 0%
        }

        100% {
            opacity: 1;
            margin-left: 17%;
        }
    }

    @keyframes slidefaderight {
        0% {
            opacity: 0;
            right: -12%;
        }

        100% {
            opacity: 1;
            right: 0%;
        }
    }

    .background-grey {
        background-color: #ededed;
    }

    .background-lightblue {
        background-color: var(--light-blue);
    }

    .background-lightgrey {
        background-color: var(--light-grey);
    }

    .background-basish {
        background-color:var(--basish);
    }

.background-dark {
    background: var(--dark);
    background-color: var(--dark);
}

.background-base {
    background: var(--base);
}

    .border-bottom {
        border-bottom: 1px solid var(--black-fade);
    }

.border {
    border: 1px solid var(--black-fade);
}

.border-top {
    border: 1px solid var(--black-fade);
}

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
    animation: modalfade 0.3s;
}

@keyframes modalfade {
    from {
        background-color: rgba(0, 0, 0, 0.0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}


    .hide-overflow {
        overflow: hidden;
    }

    .no-space {
        height: 0px;
        width: 0px;
    }


    /* spinner/processing state, errors */
    .spinner,
    .spinner:before,
    .spinner:after {
        border-radius: 50%;
    }

    .spinner {
        color: #ffffff;
        font-size: 22px;
        text-indent: -99999px;
        margin: 0px auto;
        position: relative;
        width: 20px;
        height: 20px;
        box-shadow: inset 0 0 0 2px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
    }

        .spinner:before,
        .spinner:after {
            position: absolute;
            content: "";
        }

        .spinner:before {
            width: 10.4px;
            height: 20.4px;
            background: var(--blue);
            border-radius: 20.4px 0 0 20.4px;
            top: -0.2px;
            left: -0.2px;
            -webkit-transform-origin: 10.4px 10.2px;
            transform-origin: 10.4px 10.2px;
            -webkit-animation: loading 2s infinite ease 1.5s;
            animation: loading 2s infinite ease 1.5s;
        }

        .spinner:after {
            width: 10.4px;
            height: 10.2px;
            background: var(--blue);
            border-radius: 0 10.2px 10.2px 0;
            top: -0.1px;
            left: 10.2px;
            -webkit-transform-origin: 0px 10.2px;
            transform-origin: 0px 10.2px;
            -webkit-animation: loading 2s infinite ease;
            animation: loading 2s infinite ease;
        }

    @-webkit-keyframes loading {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes loading {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    .bottom-box-shadow {
        box-shadow: 0px 0px 7px black;
    }


@media only screen and (max-width: 600px) {
    .col-wrapper {
        min-width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .col-wrapper {
        min-width: 600px;
    }
}

@media only screen and (min-width: 768px) {
    .col-wrapper {
        min-width: 768px;
    }
}

@media only screen and (min-width: 992px) {
    .col-wrapper {
        min-width: 992px;
    }
}

@media only screen and (min-width: 1200px) {
    .col-wrapper {
        min-width: 1200px;
    }
}

@media only screen and (min-width: 1500px) {
    .col-wrapper {
        min-width: 1500px;
    }
}

@media only screen and (min-width: 1780px) {
    .col-wrapper {
        min-width: 1780px;
    }
}