.my-list {
    font-family: Lato, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing:2px;
    border:1px solid var(--black-fade);
}

    .my-list td, .my-list th {
        padding: 10px;
        display: inline-block;
        width: 19%;
    }

    .my-list td {
        cursor: pointer;
    }

    .my-list tr {
        background-color: white;
    }

        .my-list tr:nth-child(even) {
            background-color: var(--color1);
        }

        .my-list tr:hover {
            background-color: var(--color2);
        }

    .my-list th {
        padding: 25px;
        text-align: center;
        /*        background-color: var(--blue);*/
        color: black;
    }

    .no-hover:hover {
        background-color:white !important;
    }

.list-h1 {
    padding: 20px;
    padding-bottom: 50px;
    font-size: 25px;
}

.cell-link {
    position: absolute;
    background-color: transparent;
    height: 35.33px;
    width: 66.66%;
    z-index: 20;
    transform:translate(-32px, -8px);
}

#winner-container{
    z-index:500;
    position:fixed;
    top:10%;
    left:40%;
    right:40%;
    width:20%;
    height:20%;
    background:white;
    border: 1px solid var(--black-fade);
    padding:20px;
}

#winner-container p {
    display:block;
}

.json-get-info {
    margin-left:50px;
    margin-right:50px;
    background:white;
    border:1px solid var(--black-fade);
    padding:20px;
}

.json-get-info h1 {
    font-weight:bold;
}

    .json-get-info p {
        word-break: break-all;
    }
