.sb-example-3 {
    padding-top:20px;
}

.sb-example-3 .search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
}

.sb-example-3 .search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
/*             background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
/*background-image:url(~/lib/svg/search.svg);*/

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

    .sb-example-3 .search__input::placeholder {
        color: rgba(87, 87, 86, 0.8);
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .sb-example-3 .search__input:hover,
    .search__input:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }


/* Navbar --------------------------------------------------------*/

.navbar {
    z-index:50;
    transition:all .4s ease-in;
    display: table;
    position: relative;
    height: auto;
    width:100%;
    background-color: white;
    border-bottom:1px solid var(--black-fade);
/*    box-shadow: 0px 0px 15px #000000;*/
}

.navbar-transparent {
    transition: all .4s ease-in;
    display: table;
    position: fixed;
    height: auto;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    border-bottom: 1px solid var(--black-fade);
    z-index: 100;
    /*    box-shadow: 0px 0px 15px #000000;*/
}

/* navbar settings */

.mobile-navbar-wrap {
    position: relative;
    font-size: 20px;
}

    .mobile-navbar-wrap a {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-right: 50px;
        display: inline-block;
        float: left;
    }

        .mobile-navbar-wrap a:hover {
            font-weight: 100;
        }

.desktop-navbar-wrap {
    position: relative;
    font-size: 20px;
}

    .desktop-navbar-wrap a {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-right: 50px;
        display: inline-block;
        float: left;
        color: var(--dark);
        transition: all 0.3s;
/*        font-weight: bold;*/
    }

        .desktop-navbar-wrap a:hover {
            font-weight: normal;
            transform: scale(1.2);
            /*            color: var(--blue);*/
        }


#userBurger {
    width: 100%;
    margin-top: 70px;
    position: absolute;
    background-color: #484848;
    display: none;
    z-index: 99;
}

    #userBurger a {
        width: 100%;
        display: block;
    }

#userBurger2 {
    position: fixed;
    background-color: var(--light-blue2);
    display: none;
    top: 97px;
    right: 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    z-index: 99;
    text-align: center;
    width: 400px;
    min-height: 200px;
    padding: 30px;
    animation: userburger2 .1s;
}

@keyframes userburger2 {
    from {
        right:-400px;
    }
    to {
        right:0px;
    }
}

    #userBurger2 a {
        padding:10px;
        color: black;
        font-size: 16px;
        width: 100%;
    }

    #userBurger2 a:hover {
        font-weight:bold;
        /*color:var(--blue);*/
    }

.desktop-navbar-wrap span {
    position: absolute;
    transform: translate(+25px, -15px)
}

#search-button {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    transition: all 0.3s;
    transform: scale(1);
    position: relative;
    float: right;
    padding-right: 0px;
    padding-left:0px;
}

    #search-button:hover {
/*        color: var(--blue);*/
/*        transform: scale(0.8);*/
        cursor: pointer;
    }

#nav-burger {
    float:right;
    display:none;
}

#nav-links {
    display:none;
    position:fixed;
    text-align:center;
    padding:50px;
    font-size:40px;
    width:100vw;
    height:100vh;
    background-color:var(--white-fade);
    z-index:230;
}

    #nav-links i {
        padding-bottom: 20px;
        cursor:pointer; 
        transition:all ease .4s;
    }

    #nav-links i:hover {
        transform:scale(1.2);
    }

    #nav-links a {
        padding-top: 30px;
        transition: all ease .4s;
    }

    #nav-links a:hover {
        font-weight:100;
        transform:scale(1.2);
    }


#shopping-bag {
    float:right;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    padding-top: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 250px;
    z-index: 1;
    transition: none;
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    transform: scale(1);
    padding: 0px;
}

.dropdown-content a {
    margin: 2px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    background: black;
    border: 2px solid black;
    display: block;
    transition: none;
}

    .dropdown-content a:hover {
        background-color: white;
        color: black;
        transform: none;
    }


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
/*    color: var(--blue);
    transition: all 0.3s;
    transform: scale(0.8);*/
    /*    background-color: #3e8e41;*/
}



.small-svg {
    height: 25px;
    width: 25px;
    transition: all 0.3s;
}

    .small-svg:hover {
/*        filter: invert(65%) sepia(93%) saturate(325%) hue-rotate(173deg) brightness(103%) contrast(104%);*/
        transform: scale(1.2);
    }

a.icon {
    transition: all 0.3s;
    transform: scale(1);
    font-size: 30px;
    position: relative;
    float: right;
}

    a.icon:hover {
        color: var(--blue);
        transform: scale(0.8);
    }

.nav-svg {
    height: 30px;
    width: 30px;
    filter: invert(14%) sepia(7%) saturate(0%) hue-rotate(192deg) brightness(100%) contrast(86%);
    transition: all 0.3s;
}

    .nav-svg:hover {
        color:var(--dark);
        transform: scale(1.2);
    }

#shopping-bag:hover {
    color: var(--dark);
    transform: scale(1);
}

#product-link {
}

/* navbar-mobile */
@media only screen and (max-width: 600px) {


    #searchbox {
        display: none;
    }
    #desktop-row{
        display:none;
    }

    #product-link {
        display: none;
    }

    #nav-burger {
        display: inline-block;
    }

    .desktop-navbar-wrap {
        padding-left: 0px;
        padding-right: 0px;
    }

        .desktop-navbar-wrap a {
            margin-right: 15px;
            margin-left: 15px;
            font-size: 20px;
        }

    #search-button {
        margin-right: 15px;
        font-size:25px;
    }

    a.icon {
        font-size:25px;
    }

    .dropdown {
        padding-top:30px;
        margin-right: 0px;
    }

    .dropbtn{
        font-size: 25px;
    }

    .desktop-navbar-wrap .logo-link a {
        padding-top: 7px;
        padding-bottom: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
}

/* navbar-desktop */

@media only screen and (min-width: 600px) {


    #searchbox {
        display: block;
    }

    #desktop-row {
        display: block;
    }

    #product-link {
        display: inline-block;
    }

    #nav-burger {
        display: none;
    }

        .desktop-navbar-wrap {
        padding-left: 0px;
        padding-right: 0px;
        }

            .desktop-navbar-wrap a {
                margin-right: 35px;
                margin-left: 0px;
                font-size: 20px;
            }


    a.icon {
        font-size: 30px;
    }

    #nav-links{
        display:none;
    }

    .dropdown {
        padding-top: 30px;
        margin-right: 35px;
    }

    .dropbtn {
        font-size: 30px;
    }

    .desktop-navbar-wrap .logo-link a {
        padding-top: 10px;
        padding-bottom: 0px;
    }
}

@media only screen and (min-width: 768px) {


    #product-link {
        display: inline-block;
    }

    #nav-burger {
        display: none;
    }

    .desktop-navbar-wrap {
        padding-left: 100px;
        padding-right: 100px;
    }

        .desktop-navbar-wrap a {
            margin-right: 50px;
        }

    #search-button {
        margin-right: 50px;
    }

    #nav-links {
        display: none;
    }

    .dropdown {
        padding-top: 30px;
        margin-right: 50px;
    }

    .dropbtn {
        font-size: 30px;
    }
    .desktop-navbar-wrap .logo-link a {
        padding-top: 10px;
        padding-bottom: 0px;
    }

}

@media only screen and (min-width: 992px) {

    #product-link {
        display: inline-block;
    }

    #nav-burger {
        display: none;
    }

    .desktop-navbar-wrap {
        padding-left: 200px;
        padding-right: 200px;
    }

        .desktop-navbar-wrap a {
            margin-right: 50px;
        }

    #search-button {
        margin-right: 50px;
    }
    #nav-links {
        display: none;
    }


    .dropdown {
        padding-top: 30px;
        margin-right: 50px;
    }

    .dropbtn {
        font-size: 30px;
    }

    .desktop-navbar-wrap .logo-link a {
        padding-top: 10px;
        padding-bottom: 0px;
    }
}

@media only screen and (min-width: 1200px) {
    #product-link {
        display: inline-block;
    }

    #nav-burger {
        display: none;
    }
    .desktop-navbar-wrap {
        padding-left: 300px;
        padding-right: 300px;
    }

        .desktop-navbar-wrap a {
            margin-right: 50px;
        }

    #search-button {
        margin-right: 50px;
    }
    #nav-links {
        display: none;
    }

    .dropdown {
        padding-top: 30px;
        margin-right: 50px;
    }

    .dropbtn {
        font-size: 30px;
    }

    .desktop-navbar-wrap .logo-link a {
        padding-top: 10px;
        padding-bottom: 0px;
    }
}

@media only screen and (min-width: 1500px) {
    #product-link {
        display: inline-block;
    }

    #nav-burger {
        display: none;
    }
    .desktop-navbar-wrap {
        padding-left: 400px;
        padding-right: 400px;
    }
        .desktop-navbar-wrap a {
            margin-right: 50px;
        }

    #search-button {
        margin-right: 50px;
    }
    #nav-links {
        display: none;
    }

    .dropdown {
        padding-top: 30px;
        margin-right: 50px;
    }

    .dropbtn {
        font-size: 30px;
    }

    .desktop-navbar-wrap .logo-link a {
        padding-top: 10px;
        padding-bottom: 0px;
    }
}


.dropdown-content a {
    font-size: 20px;
    transition: none;
}

#logo {
    background-image: url('../images/Nykant Logo Finish-grey.png');
    background-size: contain;
    display: block;
    width: 120px;
    height: 80px;
    transition: all 0.3s;
}

.nav-svg-link {
    float: right;
}