/* Navbar --------------------------------------------------------*/

.navbar, .navbar-mobile {
    display: table;
    position: relative;
    height: auto;
    background-color: var(--dark);
    border-bottom:1px solid var(--black-fade);
/*    box-shadow: 0px 0px 15px #000000;*/
}

/* navbar-mobile */
@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    .navbar-mobile-wrap {
        margin-top: 30px;
        position: relative;
        font-size: 24px;
    }

        .navbar-mobile-wrap a {
            color: #ffffff;
            display: inline-block;
            float: left;
            margin-right: 20px;
        }

    #myLinks {
        margin-top: 70px;
        width: 100%;
        background-color: #535353;
        position: absolute;
        display: none;
    }

        #myLinks a {
            width: 100%;
            display: block;
            float: none;
        }
}

/* navbar-desktop */

@media only screen and (min-width: 600px) {
    .navbar-mobile {
        display: none;
    }

    .navbar-wrap {
        padding-left: 0px;
        padding-right: 0px;
    }

    #userBurger2 {
        right: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-wrap {
        padding-left: 100px;
        padding-right: 100px;
    }

    #userBurger2 {
        right: 100px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-wrap {
        padding-left: 220px;
        padding-right: 220px;
    }

    #userBurger2 {
        right: 220px;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar-wrap {
        padding-left: 325px;
        padding-right: 325px;
    }

    #userBurger2 {
        right: 325px;
    }
}

@media only screen and (min-width: 1500px) {
    .navbar-wrap {
        padding-left: 425px;
        padding-right: 425px;
    }

    #userBurger2 {
        right: 425px;
    }
}

/* navbar settings */

.navbar-wrap {
    position: relative;
    font-size: 30px;
}

    .navbar-wrap a {
        padding-top:30px;
        padding-bottom:30px;
        margin-right: 50px;
        display: inline-block;
        float: left;
    }


/* Highlight text in  */
.highlightTextIn a {
    color: white;
}

.highlightTextOut a {
    color: black;
}

    .highlightTextOut a:before, .highlightTextIn a:before {
        position: absolute;
        color: var(--blue);
        content: attr(alt);
        transition: all 0.3s;
        transform: scale(0.8);
        opacity: 0;
    }

    .highlightTextOut a:hover:before, .highlightTextIn a:hover:before {
        transform: scale(1);
        opacity: 1;
    }




a.icon {
    transition: all 0.3s;
    transform: scale(1);
    font-size: 30px;
    position: relative;
    float: right;
}

    a.icon:hover {
        color: var(--blue);
        transition: all 0.3s;
        transform: scale(0.8);
    }

#userBurger {
    width: 100%;
    margin-top: 70px;
    position: absolute;
    background-color: #484848;
    display: none;
    z-index: 99;
}

    #userBurger a {
        width: 100%;
        display: block;
    }

#userBurger2 {
    position: absolute;
    background-color: var(--light-blue);
    display: none;
    top:70px;
    border: 1px solid var(--blue);
    z-index: 99;
    text-align:center;
    width:200px;
    padding:10px;
}

    #userBurger2 a {
        padding:10px;
        color: black;
        font-size: 16px;
        width: 100%;
    }

    #userBurger2 a:hover {
        font-weight:bold;
        /*color:var(--blue);*/
    }

.navbar-wrap .icon span {
    position:absolute;
    transform:translate(+25px, -15px)
}


.navbar button {
    margin-top:30px;
    margin-left:200px;
    font-size:30px;
    color:white;
    background-color:transparent;
    outline:none;
}