.order-confirmation {

}

.order-confirmation h2 {
    padding:10px;
}

.order-information {
    padding: 30px;
    text-align: left;
    background-color: white;
    margin-top:20px;
    width:100%;
}

.order-information h1 {
    width:100%;
    padding:10px;
    margin-bottom:10px;
    font-weight:bold;
    border-bottom:1px solid var(--black-fade);

}

    .order-information p {
        display:inline-block;
        width:50%;
    }

    .order-information span {
        display: inline-block;
        width: 50%;
    }

.order-item-list {
    margin-top: 20px;
    text-align: left;
    background-color:white;
}

    .order-header {
        padding:20px;
        margin-bottom:20px;
        background-color:var(--color2);
    }

        .order-header p {
            width: 50%;
            display: inline-block;
        }

        .order-header span {
            width: 50%;
            display: inline-block;
        }

    .order-item {
        padding:30px;
    }

        .order-item p {
            width: 50%;
            display: inline-block;
        }

        .order-item span {
            width: 50%;
            display: inline-block;
        }

        .order-price-summary {
            
            text-align:left;
            background-color:white;
            padding:30px;
        }

            .order-price-summary p {
                width: 50%;
                display: inline-block;
            }

            .order-price-summary span {
                width: 50%;
                display: inline-block;
            }



@media only screen and (max-width: 600px) {
    #taxless-price-header {
        border-top: 1px solid var(--black-fade);
        padding-top: 10px;
    }

    #taxless-price {
        padding-top: 0px;
        border-top: none;
    }
    .order-confirmation p {
        width: 100%;
    }
    .order-confirmation span {
        width: 100%;
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 600px) {
    #taxless-price-header {
        border-top: 1px solid var(--black-fade);
        padding-top: 10px;
    }

    #taxless-price {
        padding-top: 0px;
        border-top: none;
    }
    .order-confirmation p {
        width: 100%;
    }

    .order-confirmation span {
        width: 100%;
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 768px) {

    #taxless-price {
        padding-top: 10px;
        border-top: 1px solid var(--black-fade);
    }
    .order-confirmation p {
        width: 70%;
    }

    .order-confirmation span {
        width: 30%;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
    .order-confirmation p {
        width: 60%;
    }

    .order-confirmation span {
        width: 40%;
    }
}

@media only screen and (min-width: 1500px) {
    .order-confirmation p {
        width: 50%;
    }

    .order-confirmation span {
        width: 50%;
    }
}
