/*.orders-list {

}

.orders-list td {
    padding:0px;
    margin:0px;
    width:20%;
    display:inline-block;
}

    .orders-list th {
        padding: 0px;
        margin: 0px;
        width: 20%;
        display: inline-block;
    }*/