.essential-cookies {
    float: right;
    color: green;
}

.cookie-consent {
    display:block;
    padding:15px;
    position: fixed;
    width: 600px;
    background-color: var(--color1);
    z-index: 101;
    border:2px solid black;
/*    animation-name:rollup;
    animation-duration:1s;*/
}

.cookie-consent span {
    display:inline;
}

.cookie-consent .header {
    background-color:transparent;
    font-size:20px;
}

@keyframes rollup {
    0% {
        transform:translateY(+125px);
    }
    100% {
        transform:translateY(0px);
    }
}

    .cookie-consent p {
        display: inline;
    }


    .cookie-consent button:hover {
        background-color:white;
        border:1px solid black;
        color:black;
    }

    .cookie-consent a {
        display:block;
        text-decoration:underline;
    }
        .cookie-consent a:hover {
            text-decoration: none;
            color:black;
        }

.privacy-header {
    height: auto;
    text-align: center;
    overflow: hidden;
}

.cookie-header {
    height: auto;
    text-align: center;
    overflow: hidden;
}

    .cookie-header h1 {
        padding-top: 100px;
        padding-bottom: 50px;
        font-size: var(--extra-large);
    }

    .privacy-header h1 {
        padding-top: 100px;
        padding-bottom: 100px;
        font-size: var(--extra-large);
    }

.privacy-header a {
    font-size:20px;
    text-decoration:underline;
    cursor:pointer;
}

.privacy-header a:hover {
    font-weight:bold;
    text-decoration:none;
}

.privacy-information {
    height:auto;
    padding:30px;
    text-align:left;
}
.privacy-information h1 {
    padding-top:20px;
    font-size:var(--large);
}

.privacy-information h3 {
    padding-top:20px;
}

    .privacy-information h2 {
        padding-top:10px;
        padding-left:20px;
        font-size: var(--medium-plus);
    }
        .privacy-information h2:before {
            content: '\2022';
            padding-right:5px;
        }

.privacy-information p {
    padding-top:10px;
}

.privacy-information a {
    text-decoration:underline;
    display:inline;
}

.privacy-information a:hover {
    text-decoration:none;
}

.pushed-text {
    padding-left:25px;
}

#open-privacy1 {
    margin-bottom:30px;
}

.cookie-help-links {

}
.cookie-help-links a {
    width:auto;
    padding-top:5px;
    display:block;
}

.cookie-buttons .cookie-button {
    padding:5px;
}

/*--------------------Privacy sidebar---------------------*/

.privacy-settings {
    top:0;
    padding:30px;
    width: 400px;
    height: 100%;
    position: fixed;
    left: 0px;
    background-color: var(--color1);
    z-index:103;
    overflow-y:auto;
    animation: rollout .3s;
    display:none;
}

@keyframes rollout {
    from {
        left:-400px;
    }
    to {
        left: 0px;
    }
}



.mini-row {
    padding-bottom:30px;
}

.privacy-settings h1 {
    margin-top:10px;
    display:inline;
    font-size:20px;
}

.privacy-settings p {
    padding-top: 10px;
}

.privacy-settings a {
}


.settings {
    margin-top:30px;
}

    .settings h2 {
        margin-bottom: 10px;
    }

    .settings h3 {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .settings p{
        padding-left:10px;
        padding-right:10px;
        padding-bottom:0px;
        padding-top:0px;
    }

        .settings p:before {
            content: '\220E '
        }

    .settings a {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

.close-button {
    display:inline;
    float:right;
    border:none;
    outline:none;
    background-color:transparent;
    cursor:pointer;
    padding:20px;
    transform:translateY(-17px);
}

    .close-button:hover #arrow-icon {
        transform: scale(1.3);
        transition: all 0.3s;
    }


.selected {

}

.privacy-button {
    display: inline;
    margin-left: 30px;
    background: black;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 25px;
    color: white;
    cursor: pointer;
}

#cookie-consent-updated {
    display:none;
    position:fixed;
    right:0px;
    bottom:200px;
    height:auto;
    width:200px;
    background-color:var(--yellow);
    animation:consent-updated .3s;
}

#cookie-consent-updated p {
    padding:10px;
}

@keyframes consent-updated {
    from {
        right:-200px;
    }
    to {
        right:0px;
    }
}

@media only screen and (max-width: 600px) {
    .cookie-consent {
        top: 0;
        height: 100%;
        width: 100%;
        line-height:normal;

    }
}

@media only screen and (min-width: 600px) {
    .cookie-consent {
        top: 10vh;
        height: auto;
        width: 600px;
    }
}
