/* Product Gallery ------------------------------------------------*/

.product-container {
    position: relative;
    box-shadow: none;
    overflow:hidden;
}

.product-image {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    backface-visibility: hidden;
    background-size: cover;

}

.product-info {
    text-align: center;
    position: relative;
    top: 7px;
    box-shadow: none;
    border: none;
    border-style: none;
    cursor: default;
}

.cd-gallery li {
    box-shadow: none;
    border: none;
    border-style: none;
}

.seemore {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    bottom:0;
}

.product-container:hover .seemore {
    opacity: 1;
}

.mix:hover {
    color: var(--blue);
}

