/* Details ------------------------------------------------*/
.red-text {
    color: red;
}

.checked {
    color: orange;
}

.details-info-wrap {
    position: relative;
    display: block;
/*    border-top: 1px solid black;
    border-bottom: 1px solid black;*/
    border-radius: 15px;
}

.details-image-list {
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
}

.secondary-image-wrap {
    padding-right: 10%;
    padding-bottom: 10%;
    overflow:hidden;
}

    .secondary-image-wrap img {
        display: block;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        cursor: pointer;
        transition: none;
        object-fit: contain;
        background-color:white;
    }

        .secondary-image-wrap img:hover {
            opacity:0.6;
        }

.primary-image-wrap {
    position: relative;
    max-width: 80%;
    float: left;
    height:auto;
}

    .primary-image-wrap img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        position: relative;
        object-fit: contain;
        transition: none;
    }

.product-preferences {
    padding-top:40px;
    padding-bottom:10px;
}
.product-preferences button {
    outline: none;
}


/*---*/

[class*="button-"] {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.button-red {
    background-color: red;
}

.button-blue {
    background-color: blue;
}

.button-brown {
    background-color: saddlebrown;
}

.quantity-wrap {
    font-weight:bold;
    color:black;
    margin: auto;
    width: 100px;
    height: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}
/*.quantity-wrap:hover {
    border-color:var(--blue);
}*/

    .quantity-wrap span {
        cursor: pointer;
    }
/*    .quantity-wrap span:hover{
        color:var(--blue);
    }*/

.quantitynumber {
    max-width: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    text-align: center;
    display: inline
}

.collapsible {
    
}

/* Style the button that is used to open and close the collapsible content */
.collapsible-button {
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 2px solid black;
    text-align: left;
    outline: none;
    font-size: 16px;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible-button:hover {
        color: var(--blue);
        background-color: black;
    }

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
    background-color: white;
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible-content p {
    padding:20px;
}

.collapsible-button:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    margin-right: 5px;
    float:left;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}


.reviews {

}