#search-container {
    top:97px;
    margin:auto;
    position:absolute;
    background-color:var(--dark);
    z-index:30;
    height:auto;
/*    border:1px solid var(--black-fade);*/
/*    box-shadow:0px 0px 5px black;*/
    display:none;
}
#search-box {
    padding:30px;
    padding-bottom:15px;
    width:100%;
}

#search-box input {
    width:100%;
    padding:20px;
    font-size:20px;
    outline:none;
    border:1px solid var(--black-fade);
    border-radius:10px;
}

    #search-box input:focus {
        border: 2px solid var(--blue);
    }

#search-result {
    padding: 30px;
    width: 100%;
}
#search-result h1 {
    font-size:20px;
    margin:auto;
    text-align:center;
    padding-bottom:20px;
    border-bottom:1px solid var(--black-fade);
    width:75%;
    margin-bottom:30px;
}

#search-result .search-item {
    display: flex;
    padding: 10px;
    background-color: var(--light-blue);
    margin-top:10px;
}

#search-result .search-item:hover {
    background-color: var(--blue);
}

    #search-result .search-item img {
        height: auto;
        width: 100px;
    }
#search-result .search-item p {
    padding-top:25px;
    padding-left:60px;
}

#searchspinner {
    position:absolute;
    top:50px;
    right:50px;
    transform:scale(2);
}


@media only screen and (max-width: 600px) {

    #search-container {
        width: 100%;
        right: 0%;
        left: 0%;
    }
    #search-result .search-item p {
        padding-top: 20px;
        padding-left: 5%;
    }
}

/* navbar-desktop */

@media only screen and (min-width: 600px) {
    #search-container {
        width: 100%;
        right: 0%;
        left: 0%;
    }

}


@media only screen and (min-width: 768px) {

    #search-container {
        width: 50%;
        right: 25%;
        left: 25%;
    }
    #search-result .search-item p {
        padding-top: 20px;
        padding-left: 5%;
    }
}

@media only screen and (min-width: 992px) {
    #search-container {
        width: 50%;
        right: 25%;
        left: 25%;
    }
    #search-result .search-item p {
        padding-top: 20px;
        padding-left: 7%;
    }
}

@media only screen and (min-width: 1200px) {
    #search-container {
        width: 50%;
        right: 25%;
        left: 25%;
    }
    #search-result .search-item p {
        padding-top: 20px;
        padding-left: 10%;
    }
}

@media only screen and (min-width: 1500px) {
    #search-container {
        width: 50%;
        right: 25%;
        left: 25%;
    }
    #search-result .search-item p {
        padding-top: 20px;
        padding-left: 13%;
    }
}