#search-container {
    top:90px;
    left:50px;
    position:absolute;
    background-color:white;
    width:600px;
    z-index:30;
    height:auto;
    border:1px solid var(--black-fade);
    box-shadow:0px 0px 5px black;
    display:none;
}
#search-box {
    padding:30px;
    padding-bottom:15px;
    width:100%;
}

#search-box input {
    width:100%;
    padding:20px;
    font-size:20px;
    outline:none;
    border:1px solid var(--black-fade);
    border-radius:10px;
}

    #search-box input:focus {
        border: 2px solid var(--blue);
    }

#search-result {
    padding: 30px;
    width: 100%;
}
#search-result h1 {
    font-size:20px;
    margin:auto;
    text-align:center;
    padding-bottom:20px;
    border-bottom:1px solid var(--black-fade);
    width:75%;
    margin-bottom:30px;
}

#search-button {
    cursor:pointer;
}

#search-result .search-item {
    display: flex;
    padding: 10px;
    background-color: var(--light-blue);
    margin-top:10px;
}

#search-result .search-item:hover {
    background-color: var(--blue);
}

    #search-result .search-item img {
        height: auto;
        width: 100px;
    }
#search-result .search-item p {
    padding-top:25px;
    padding-left:60px;
}

#searchspinner {
    position:absolute;
    top:50%;
    right:25%;
    transform:scale(2);
}