/* GENERIC */

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --green: #8cffa4;
    --blue: #7ed8ff;
    --dark: #474747;
    --red: #ff5f5f;
    --light-grey: #c1c1c1;
    --dark-grey: #2b2b2b;
    --light-blue: #e8f8ff;
    --font-size-small: 8px;
    --font-size-small-plus: 12px;
    --font-size-medium: 16px;
    --font-size-medium-plus: 20px;
    --font-size-large: 24px;
    --black-fade: rgba(0, 0, 0, 0.2);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    overflow-y: scroll;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: normal;
    color: black;
    background-color: white;
}

/* ----------------------- */

a {
  color: black;
  text-decoration: none;
}

a:hover {
    font-weight:bold;
}

.simple-link{
    color:black;
    text-decoration:underline;
    cursor:pointer;
}

.simple-link:hover {
    text-decoration:none;
    font-weight:bold;
    color:black;
}

ol, ul {
    list-style: none;
}

footer {
    color: black;
    position: static;
    font-family: Raleway;
    padding: 3em 3em;
    text-align: center;
    background-color: var(--light-blue);
    bottom: 0px;
}

    header span {
        color: #222;
    }

footer span {
    color: #AAA;
}

/* GRID ---------------------------------------------------------------*/

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/* stuff */

.block {
    display: block;
}

.inline {
    display: inline-block;
}

.center {
    margin: auto;
    text-align:center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.dark-card {
    background: var(--dark);
    border-radius: 5px;
}

.padding {
    padding: 30px;
}

.fadein {
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.fullscreen-row {
    min-height: 100vh;
}

.top-padding {
    padding-top: 5vh;
}

.right-side-padding {
    padding-right: 10px;
}

.bottom-side-padding {
    padding-bottom: 10px;
}

.bottom-padding {
    padding-bottom:40px;
}

.top-side-padding {
    padding-top: 10px;
}

.left-side-padding {
    padding-left: 10px;
}

.margin-top-10{
    margin-top:10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.button {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 0px;
    border: 2px solid rgba(0,0,0,1);
    outline: none;
    background-color: black;
    color: white;
    min-height: 50px;
    min-width: 100%;
    cursor: pointer;
    /*    transition: all ease 0.4s;*/
    text-align: center;
}

    .button p {
       padding-top:13px;
    }

    .button:enabled {
        cursor: pointer;
    }

    .button:hover {
        color: black;
        background-color:white;
        font-weight:bolder;
    }

    .button:disabled {
        cursor: initial;
        color: grey;
        box-shadow: none;
        background-color: black;
    }

.hidden {
    display: none;
}

.header {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    color: black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-align: center;
    font-weight:bold;
}

.green-border {
    border: 1px solid var(--green);
}

/* ANIMATIONS */

.slidefromleft {
    animation-name: slidefadeleft;
    animation-duration: 2s;
}

.slidefromdown{
    animation-name: slidefadeup;
    animation-duration: 2s;
}

@keyframes fadein {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes slidefadeup {
    0% {
        opacity: 0;
        margin-top: 25%;
    }

    100% {
        opacity: 1;
        margin-top: 0%;
    }
}

@keyframes slidefadeleft {
    0% {
        opacity: 0;
        margin-left: 0%
    }

    100% {
        opacity: 1;
        margin-left: 17%;
    }
}

@keyframes slidefaderight {
    0% {
        opacity: 0;
        right: -12%;
    }

    100% {
        opacity: 1;
        right: 0%;
    }
}

.background-grey {
    background-color: #ededed;
}

.background-lightblue {
    background-color: var(--light-blue);
}

.border-bottom {
    border-bottom: 1px solid var(--black-fade);
}